<video id="skiliks_intro" src="http://storage.skiliks.com/v1/videos/skiliks_intro_1280.webm" autoplay="autoplay"></video>
<div class="intro-top-icons">Пропустить видео <button class="pass-video"/></div>