<div style="width: 100%; height: 100%; overflow: hidden;">
    <video id="skiliks_intro" src="<@= intro_path @>" autoplay="autoplay" oncontextmenu="return false;"></video>
    <div class="intro-top-icons">Пропустить видео <button class="pass-video"/></div>
</div>