<div class="meeting-gone-content" style="background: white; border: 2px solid black">
    <div class="gone-text"><@= subject.get('description') @>. Это заняло <@= subject.get('duration') @> мин. </div>

    <div class="text-center"><button class="popup-sbmt-btn"><div>Продолжить работу</div></button></div>
</div>