<div class="meeting-gone-content" style="background: white; border: 2px solid black">
    <@= subject.get('description') @>. Это заняло <@= subject.get('duration') @> мин. <br/>

    <button class="proceed-btn">Продолжить работу</button>
</div>