<div class="meeting-gone-content">
    <div class="gone-clock"></div><div class="gone-text"><@= subject.get('description') @>. Вернусь в <@= returnTime @> </div>

    <div class="text-center"><button class="popup-sbmt-btn proceed-btn"><div>Продолжить работу</div></button></div>
</div>