.htaccess
.idea/
/assets/
/documents/zoho/
/documents/user/
/protected/tests/unit/files/
/protected/config/main.php
/protected/runtime/
/protected/assets/compiled_css/
/protected/logs/
/protected/documents/social_templates/
/Applications/MAMP/htdocs/skiliks/protected/assets/js/game/jst/plan/dialog_paln_notification.jst
/Applications/MAMP/htdocs/skiliks/protected/assets/js/game/views/SKDialogPanNotificationView.js
/protected/views/static/applicationcache/manifest.php
