/nbproject/private/
/nbproject/
/protected/runtime
/protected/tests/artifacts
/protected/config/main.php
/.idea/*
/cache
/.idea
/assets/
/documents/zoho
/protected/assets/js/game/node_modules/*
/protected/assets/js/game/node_modules/
/.idea/modules.xml
atlassian-ide-plugin.xml
