    <div id="MailClient_AddToPlanPopUp">
        <div class="mail-plan">
            <@= list @>
            <div class="mail-plan-btn">
                <span>
                    <label><@= buttonLabel @></label>
                </span>
            </div>
        </div>
    </div>