<div id="<@= id @>" class="mail-emulator-main-div">
    <section class="mail">
        <nav>
            <ul id="MailClient_FolderLabels"></ul>
        </nav>
        <div id="mailEmulatorContentDiv">
            <div id="<@= contentBlockId @>" class="mail-bg"></div>
        </div>

    </section>
</div>
