<!-- MailClient_Folderlabel: -->
<li id="FOLDER_<@= alias @>" data-alias="<@= alias @>" class="<@= isActiveCssClass @> ui-droppable">
    <label class="icon_<@= alias @>"><@= label @>
        <span class="counter" style="<@= counterCss @>">(<@= counter @>)</span>
    </label>
</li>
