<tr data-email-id="<@= emailMySqlId @>"
    class="email-list-line <@= isReadedCssClass @> mail-emulator-received-list-string
          mail-emulator-received-list-string-selected <@= isActiveCssClass @> ui-draggable">
    <td class="col0 mail-emulator-received-list-cell-sender"><@= senderName @></td>
    <td class="col1 mail-emulator-received-list-cell-theme"><@= subject @></td>
    <td class="col2 mail-emulator-received-list-cell-time"><@= sendedAt @></td>
    <td class="col3 mail-emulator-received-list-cell-attach">
        <span style="display: none;"><@= isHasAttachment @></span> <!-- for sorting purposes -->
        <div class="attachmentIcon" style="<@= isHasAttachmentCss @>"></div>
    </td>
</tr>