    <ul class="icons-panel" style="z-index: 999;">
        <li class="info"><a href="#" class="manual-toggle"></a></li>
        <li class="plan"><a href="" id="icons_todo"></a></li>
        <li class="phone"><a href="" id="icons_phone"></a></li>
        <li class="mail"><a href="" id="icons_email"></a></li>
        <li class="door"><a href="" id="icons_visit"></a></li>
        <li class="documents"><a href="" id="icons_documents"></a></li>
    </ul>