    <ul class="icons-panel" style="z-index: 999;">
        <li class="info"><span class="manual-toggle"></span></li>
        <li class="plan"><span id="icons_todo"></span></li>
        <li class="phone"><span id="icons_phone"></span></li>
        <li class="mail"><span id="icons_email"></span></li>
        <li class="door"><span id="icons_visit"></span></li>
        <li class="documents"><span id="icons_documents"></span></li>
    </ul>