<div class="dialog-content">
    <p>Внимательно посмотрите вступительный ролик. В нём рассказывается о структуре вашей компании, а также освещаются задачи на игровой день.</p>
    <p>Перед началом симуляции вы попадёте в 30 минутный ознакомительный режим. В нём вы сможете прочитать вчерашние письма, задачи в планировщике и текущие документы, а также ознакомится с интерфейсом. Не пытайтесь выполнять никакую работу – симуляция начнётся с чистого листа. Чтобы перейти к реальной симуляции, вам надо будет нажать по кнопке стоп вверху экрана.</p>
    <p>Реальная симуляция длится немногим более 2х часов, всего вам понадобиться 2,5-3 часа на прохождение игры.</p>
</div>