<div class="paused-screen zoho-load-start">
    <div class="overlay"></div>

    <div class="box-loading">
        <span>Подождите идет загрузка документов Excel.<br/> Это займёт 10-15 секунд.</span>
    </div>
</div>