<div class="dialog-content">
    <p>Не ждите подсказок и постарайтесь успеть самое важное!</p>
    <p>План - это всего лишь ваш личный список задач.</p>
    <p>М. Крутько сейчас занимается презентацией для генерального директора, С. Трутнев позавчера приступил к задаче для логистов, а Сводный бюджет, сроки выполнения которого уже просрочены, никто не делает!</p>
</div>