    <div class="world-index-mainDiv">
        <@ for (var simulation in simulations) { @>
        <input type="button" value="Начать симуляцию <@= simulations[simulation] @>" data-sim-id="<@= simulation @>"
               class="btn simulation-start">
        <br/>
        <br/>
        <@ } @>
        <br>
        <br>
        <input type="button" value="Выход" class="btn logout">
    </div>