<h3>У ВАС В РАСПОРЯЖЕНИИ</h3>
<p>
Пока свободою горим,<br/>
Пока для опенсорса живы,<br/>
Линуксу братья посвятим<br/>
Души прекрасные порывы.<br/>
</p>
<p>
Товарищ, верь - пройдет пора<br/>
Винды и ламерского софта<br/>
И на обломках микрософта<br/>
Напишут наши имена.<br/>
</p>