<h3>У ВАС В РАСПОРЯЖЕНИИ</h3>
<p class="tutrl-command">Команда из двух аналитиков разной квалификации: Мария Крутько и Сергей Трутнев</p>
<p>План дневной, где можно планировать задачи, и квартальный – для информации о сроках крупных проектов. Список «Сделать» вы составили вчера вечером, пользуясь известной на тот момент информацией</p>
<p>Почта со стандартным интерфейсом, позволяющая принимать, отправлять и писать письма, в том числе с вложениями, и кроме того - планировать задачи из писем</p>
