<h3>У ВАС В РАСПОРЯЖЕНИИ</h3>
<p class="tutrl-command">Команда из двух аналитиков разной квалификации: Мария Крутько и Сергей Трутнев</p>
<p class="tutrl-plan">План дневной, где можно планировать задачи, и квартальный – для информации о сроках крупных проектов. Список «Сделать» вы составили вчера вечером, пользуясь известной на тот момент информацией</p>
<p class="tutrl-email">Почта со стандартным интерфейсом, позволяющая принимать, отправлять и писать письма, в том числе с вложениями, и кроме того - планировать задачи из писем</p>
<p class="tutrl-phone">Телефон со стандартными возможностями приёма и совершения звонков</p>
<p class="tutrl-folder">Папка с документами, в которой содержатся все нужные для работы материалы, в неё сохраняются вложенные файлы из почты</p>
<p>Возможность приёма посетителей, но самостоятельно</p>