<div class="browser-screen">
    <div class="browser-links">
        <ul>
            <li link="http://bash.im">bash.org</li>
            <li link="http://www.razlozhi.ru/patiances/spider2">Пасьянс "паук"</li>
            <li link="http://libcanvas.github.com/games/isomines/">Сапёр</li>
            <li link="http://lurkmore.to">Лукоморье</li>
            <li link="http://ua.korrespondent.net">Корреспондент</li>
        </ul>
    </div>
    <iframe id="browser-content"></iframe>
</div>