@media screen and (max-width: 1279px) {
    .button-add-vacancy {
        top: 8px;
    }

    .assessment-results-type-switcher {
        padding-bottom: 1px;
    }

    .button-white {
        line-height: 2.7em;
    }

    input.button-standard {
        margin-top: -1px;
    }

    .skiliks.action-controller-recovery-static-userAuth .us-auth-box {
        width: 562px;
    }

    .action-controller-login-auth .us-first-input {
        width: 206px;
    }
}