@media screen and (max-width: 1279px) {
    .button-add-vacancy {
        top: 8px;
    }

    .assessment-results-type-switcher {
        padding-bottom: 1px;
    }

    .button-white {
        line-height: 2.7em;
    }
}