.width-1024 .button-add-vacancy {
    top: 6px;
}

.width-1024 .assessment-results-type-switcher {
    padding-bottom: 1px;
}

.width-1024 .button-white {
    line-height: 2.7em;
}

.width-1024 input.button-white {
    line-height: 2em;
}

.width-1024 input.button-standard {
    margin-top: -1px;
    padding-bottom: 10px;
    padding-top: 9px;
}

.width-1024.action-controller-index-static-pages input.button-standard { /* homepage */
    margin-top: 0;
    padding-bottom: 10px;
    padding-top: 10px;
}

.width-1024.skiliks.action-controller-recovery-static-userAuth .us-auth-box {
    width: 562px;
}

.width-1024.action-controller-login-auth .us-first-input {
    width: 206px;
}

.width-1024.action-controller-corporateVacancies-static-profile .profile-right-side .button-white {
    line-height: 2.8em;
}

.width-1024 #invite-form .error .error-place {
    height: 14px;
}

.width-1024 #invite-form .error .error-place .errorMessage {
    margin-top: 4px;
}
.width-1024 #invite-form .unstandard-firstname-error {
    margin-top: -10px;
}

.width-1024 #invite-form .unstandard-secondname-error {
    margin-top: -22px;
}

.width-1024 #invite-form .unstandard-position-error .error-place {
    margin-bottom: -3px;
}

.width-1024.skiliks .system-mistmatch .button-white {
    line-height: 2.7em;
}

.width-1024.skiliks.action-controller-corporatePersonalData-static-profile .unstandard-personal-data-height {
    height: 262px;
}

.width-1024.controller-static-profile input.button-standard {
    padding-bottom: 12px;
}

.width-1024.action-controller-corporatePassword-static-profile .us-password-height {
    height: 294px;
}

.width-1024 .company-info-height {
    height: 362px;
}

.width-1024.action-corporateVacancies .profile-right-side {
    min-height: 149px;
}

.width-1024.action-controller-personalPassword-static-profile .us-password-personal-height {
    height: 306px;
}

.width-1024.action-controller-personalPersonalData-static-profile .unstandard-personal-data-height {
    height: 372px;
}