.assessment-results-type-switcher {
    padding-bottom: 4px;
}

textarea,
input[type='text'],
input[type='password'] {
    line-height: auto;
}

.ui-dialog #feedback-form #Feedback_email {
    width: 414px;
}

#DeclineExplanation_reason_id label {
    height: 23px;
}