.width-1024 header nav.static-page-links ul {
    margin-right: 15px;
}

.width-1024 header nav.account-links ul {
    margin-right: 15px;
}

.width-1024 #DeclineExplanation_reason_id label {
    height: 20px;
}

.width-1024 input.button-standard {
    padding-bottom: 9px;
    padding-top: 10px;
}

.width-1024 .estmfooter {
    width: 799px;
}