.action-controller-corporatePassword-static-profile .unstandard-personal-data-height {
    height: 300px;
}

.estmfooter {
    width: 980px;
}

.controller-static-profile .button-standard {
    padding-top: 10px;
}

