.action-controller-corporatePassword-static-profile .unstandard-personal-data-height {
    height: 300px;
}

.estmfooter {
    width: 980px;
}

.skiliks .sh_btn .sh_btn_char {
    height: 14px;
    margin-top: -1px;
}

.action-registrationSingleAccount .inline-error-first {
    vertical-align: top;
    margin-top: 15px;
}

.action-registrationSingleAccount .inline-error-second {
    margin-top: -5px;
}

.skiliks input.button-standard {
    padding-bottom: 16px;
    padding-top: 17px;
}
