input[type='checkbox'] {
    border-radius: 0;
    padding: 0;
}

#DeclineExplanation_reason_id label {
    height: 23px;
}

input.button-standard {
    padding-bottom: 12px;
    padding-top: 12px;
}

.skiliks .us-auth-box {
    width: 630px;
}

.skiliks .us-error-bottom {
    width: 626px;
}

.skiliks .us-user-auth-page-form #YumUserChangePassword_password,
.skiliks .us-user-auth-page-form #YumUserChangePassword_verifyPassword {
    width: 162px;
}

.action-controller-recovery-static-userAuth .us-first-input,
.action-controller-recovery-static-userAuth .us-second-input  {
    width: 176px;
}

.mangrlresultstitle {
    margin-left: 31px;
}

.twobarstitles .barstitle:first-child {
    margin-left: 0;
}

#YumUserLogin_not_activate_em_ a {
    display: block;
}

.skiliks .company-info-height {
    height: 365px; /* fixed */
}

.skiliks.action-controller-personalPersonalData-static-profile .unstandard-personal-data-height {
    height: 391px;
}

nav ul li.menu-item span,
nav ul li.menu-item a {
    padding-top: 4px;
    padding-bottom: 4px;
}

.skiliks input.button-white,
.skiliks .ui-widget input.button-white {
    line-height: 1.8em;
}

.skiliks .ui-dialog form#add-vacancy-form .sbHolder {
    margin-left: 0px;
}

.us-remember-me-margin {
    margin-top: 1px;
}

.skiliks.action-controller-product-static-pages .blockvalue {
    top: -4px;
}

.skiliks #YumUser_agree_with_terms {
    margin-top: -4px;
}

.skiliks.action-controller-corporatePassword-static-profile .unstandard-personal-data-height {
    height: 298px; /* fixed */
}

.skiliks.action-controller-corporatePersonalData-static-profile .unstandard-personal-data-height {
    height: 244px;
}

.skiliks .us-password-personal-height {
    height: 297px;
}

.skiliks .sh_btn .sh_btn_char {
    height: 14px;
    margin-top: -1px;
}