
body {
    text-align: center;
}

header.main-content {
    text-align: center;
}

.copyright {
    margin-left: 0px;
}

.system-mistmatch .chrome .ico {
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../../img/site/1280/browsers/chrome.png', sizingMethod='scale');
}
