
.width-1024.skiliks input.us-button-submit {
    margin-top: 0;
    padding-top: 11px;
    padding-bottom: 10px;
}

.width-1024.skiliks .button-add-vacancy {
    margin-top: 0;
    top: 7px;
}

.width-1024.skiliks input.button-white {
    line-height: 2.5em;
}

.width-1024.action-controller-corporateVacancies-static-profile .profile-right-side .button-white {
    line-height: 2.3em;
}

.width-1024 .us-remember-me-margin {
    margin-top: 0px;
}

.width-1024.skiliks .system-mistmatch .button-white {
    line-height: 2.8em;
}

.width-1024.skiliks.action-controller-product-static-pages .blockvalue {
    top: 1px;
    vertical-align: top;
}

.width-1024.skiliks.action-controller-product-static-pages .value {
    margin-top: -1px;
    vertical-align: top;
}

.width-1024.skiliks .button-white {
    line-height: 2.8em;
}

.width-1024.controller-static-profile input.button-standard {
    padding-top: 11px;
    padding-bottom: 11px;
}

.width-1024.skiliks .blockvalue {
    line-height: 27px;
}

.width-1024 #form-decline-explanation .button-standard {
    padding-bottom: 14px;
}

.width-1024.action-controller-personalPersonalData-static-profile .unstandard-personal-data-height {
    height: 374px;
}

.width-1024.action-controller-personalPassword-static-profile .us-password-personal-height {
    height: 305px;
}

.width-1024.skiliks.action-controller-corporatePersonalData-static-profile .unstandard-personal-data-height {
    height: 261px;
}

.width-1024.action-controller-corporateCompanyInfo-static-profile .company-info-height {
    height: 362px;
}