
.width-1024.skiliks input.us-button-submit {
    margin-top: 0;
    padding-top: 11px;
    padding-bottom: 10px;
}

.width-1024 .company-info-height {
    height: 351px;
}

.width-1024.action-controller-corporatePassword-static-profile .unstandard-personal-data-height {
    height: 284px;
}

.skiliks.width-1024 .button-add-vacancy {
    margin-top: 0;
    top: 7px;
}

.skiliks input.button-white {
    line-height: 2.4em;
}

.action-controller-corporateVacancies-static-profile .profile-right-side .button-white {
    line-height: 2.9em;
}

.width-1024 .us-remember-me-margin {
    margin-top: 0px;
}