<phpunit bootstrap="bootstrap.php" backupGlobals="false"
         colors="false"
         stopOnFailure="false"
         syntaxCheck="false"
         verbose="true"
         strict="true">
    <php>
        <includePath>../../framework</includePath>
    </php>
    <testSuite>
        <directory>./</directory>
    </testSuite>
</phpunit>