<phpunit bootstrap="./bootstrap.php">
    <php>
        <includePath>../../framework</includePath>
    </php>
    <testSuite>
        <directory>./</directory>
    </testSuite>
    <logging>
        <log type="coverage-clover" target="tests/artifacts/phpunit/coverage.xml" />
        <log type="junit" target="tests/artifacts/phpunit/phpunit.xml" logIncompleteSkipped="true" />
        <log type="testdox-html" target="./logs/testdox.html" />
    </logging>
</phpunit>