.elfinder-cwd-icon {
  background: url(../img/doc-icons.png) no-repeat 0 0;
}
.elfinder-cwd-view-list td .elfinder-cwd-icon {
  background: url(../img/doc-icons-mini.png) no-repeat 0 0;
}

.elfinder-cwd-icon-msword, .elfinder-cwd-icon-vnd-ms-word {
  background-position: 0 -1350px !important;
}
.elfinder-cwd-icon-ms-excel, .elfinder-cwd-icon-vnd-ms-excel, .elfinder-cwd-icon-vnd-oasis-opendocument-spreadsheet {
  background-position: 0 -1400px !important;
}
.elfinder-cwd-icon-vnd-ms-powerpoint, .elfinder-cwd-icon-vnd-oasis-opendocument-presentation {
  background-position: 0 -1450px !important;
}

.xls-container {
  .loader {
    text-align: center;
    background-color: #ffffff;
    font-size: 36px;
    height: 400px;
  }
}
.pdf-container {
  width: 850px;
  height: 600px;
  overflow: scroll;
  background-color: #ddd;
  .pdfpage {
    margin: auto;
    background-color: white;
  }
}
