.elfinder-cwd-icon {
  background: url(../img/doc-icons.png) no-repeat 0 0;
}
.elfinder-cwd-view-list td .elfinder-cwd-icon {
  background: url(../img/doc-icons-mini.png) no-repeat 0 0;
}
.elfinder-cwd-icon-msword,
.elfinder-cwd-icon-vnd-ms-word {
  background-position: 0 -1350px !important;
}
.elfinder-cwd-icon-ms-excel,
.elfinder-cwd-icon-vnd-ms-excel,
.elfinder-cwd-icon-vnd-oasis-opendocument-spreadsheet {
  background-position: 0 -1400px !important;
}
.elfinder-cwd-icon-vnd-ms-powerpoint,
.elfinder-cwd-icon-vnd-oasis-opendocument-presentation {
  background-position: 0 -1450px !important;
}
.document-window {
  height: 100%;
}
.document-window .sim-window-container {
  height: 100%;
}
.document-window .sim-window-container .sim-window-content {
  height: -webkit-calc(100% - 48px);
  height: -moz-calc(100% - 48px);
  height: -o-calc(100% - 48px);
  height: calc(100% - 48px);
}
.document-window .sim-window-container .sim-window-content .xls-container {
  background-color: white;
  height: 100%;
}
.document-window .sim-window-container .sim-window-content .xls-container .table-container {
  position: relative;
  height: -webkit-calc(100% - 20px);
  height: -moz-calc(100% - 20px);
  height: -o-calc(100% - 20px);
}
.document-window .sim-window-container .sim-window-content .xls-container .table-container .table-editor {
  height: 100%;
  overflow: hidden;
}
.document-window .sim-window-container .sim-window-content .xls-container .sheet-tabs li {
  cursor: pointer;
  display: inline-block;
  text-decoration: underline;
  border: inset 1px #000 ;
}
.document-window .sim-window-container .sim-window-content .xls-container .loader {
  text-align: center;
  background-color: #ffffff;
  font-size: 36px;
  height: 100%;
}
.document-window .sim-window-container .sim-window-content .pdf-container {
  width: 850px;
  height: 600px;
  overflow: scroll;
  background-color: #ddd;
}
.document-window .sim-window-container .sim-window-content .pdf-container .pdfpage {
  margin: auto;
  background-color: white;
}
