.feedback {
  .form-label {
    width: 150px !important;
  }

  .form-label-left {
    width: 150px !important;
  }

  .form-line {
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .form-label-right {
    width: 150px !important;
  }

  .form-all {
    width: 650px;
    color: #555 !important;
    font-family: 'Verdana';
    font-size: 12px;
  }

  .form-radio-item label, .form-checkbox-item label, .form-grading-label, .form-header {
    color: #555;
  }

  /* Injected CSS Code */
  .form-label-left {
    display: none !important;
  }

  &.jotform-form .form-all textarea {
    background: #fff;
    border: 1px solid #3e5259;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 10px 4px 10px rgba(0, 0, 0, 0.1) inset;
    -webkit-box-shadow: 10px 4px 10px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 10px 4px 10px rgba(0, 0, 0, 0.1) inset;
    padding: 5px;
    width: 635px !important;
  }

  .form-line input[type="email"] {
    background: #fff;
    border: 1px solid #3e5259;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 10px 4px 10px rgba(0, 0, 0, 0.1) inset;
    -webkit-box-shadow: 10px 4px 10px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 10px 4px 10px rgba(0, 0, 0, 0.1) inset;
    line-height: 1;
    outline: none;
    padding: 5px;
    height: 42px;
    line-height: 42px;
    width: 450px;
  }

  .form-section .form-line-error, .form-section .form-line-active {
    background: none !important;
  }

  .form-section .form-dropdown {
    border: solid 1px #0d5159;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    height: 23px;
    width: 435px;
  }

  .form-section .form-dropdown, .form-section .form-dropdown option {
    background: #54c4d4;
    background: -moz-linear-gradient(top, #54c4d4, #2ea6b7);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #54c4d4), color-stop(100%, #2ea6b7));
    background: -webkit-linear-gradient(top, #54c4d4, #2ea6b7);
    background: -o-linear-gradient(top, #54c4d4, #2ea6b7);
    background: -ms-linear-gradient(top, #54c4d4, #2ea6b7);
    background: linear-gradient(top, #54c4d4, #2ea6b7);
  }

  .form-all {
    position: relative;
  }

  #input_2 {
    background: #146672 url("../img/icon-btn-notify.png") no-repeat 17px 17px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: none;
    color: #fff;
    position: absolute;
    font: 18px "ProximaNova-Bold";
    height: 54px;
    right: -4px;
    line-height: 54px;
    margin-top: -78px;
    padding: 0px 18px 0px 42px;
    width: 178px;
  }
}