.manual-window {
  position: relative;
  z-index: 50000 !important;
  font: 17px 'orbi_sansregular';
  background: url(../img/manual/cover.png) 0 0 no-repeat;

  @media screen and (max-width: 1280px) {
    background-image: url(../img/manual/cover-small.png);
    font-size: 15px;
  }

  .warn {
    background: #fcf9f2;
    position: absolute;
    top: -55px;
    left: 0;
    right: 0;
    border-radius: 7px;
    line-height: 30px;
    text-align: center;
  }

  .tabs {
    position: absolute;
    margin: 0;
    top: -16px;
    right: 55px;
    width: 240px;
    list-style: none;
    font-size: 15px;

    @media screen and (max-width: 1280px) {
      top: -18px;
      right: 30px;
      font-size: 13px;
    }

    li {
      position: relative;
      float: left;
      margin-left: 16px;
      height: 20px;
      padding: 5px 0;
      background: url(../img/manual/tab.png) 0 -60px repeat-x;
      color: white;

      @media screen and (max-width: 1280px) {
        height: 17px;
      }

      &:before, &:after {
        content: '';
        position: absolute;
        top: 0;
        left: -10px;
        bottom: 0;
        width: 10px;
        background: url(../img/manual/tab.png) 0 0 no-repeat;
      }

      &:after {
        left: auto;
        right: -10px;
        background-position: 0 -30px;
      }

      a, a:hover {
        color: #dad6d1;
        text-decoration: none;
      }
    }

    .close-window {
      width: 12px;

      .win-close {
        background: url(../img/manual/icon-close2.png) 0 0 no-repeat;
        height: 12px;
        width:12px;
        border: medium none;

        &:hover {
          background-position: 0px -12px;
        }
      }
    }

    .pages {
      background-image: url(../img/manual/tab-light.png);
      color: #000;

      &:before, &:after {
        background-image: url(../img/manual/tab-light.png);
      }

      span {
        color:#000;
      }
    }
  }

  .flyleaf {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .navigation {
    .back, .next {
      background: url(../img/manual/tutor-nav.png) 0 0 no-repeat;
      position: absolute;
      z-index: 2;
      display: block;
      width: 28px;
      height: 49px;
      top: 50%;
      margin-top: -35px;
    }

    .back {
      left: -3px;
    }
    .next {
      right: 40px;
      background-position: 0 -49px;
    }

    @media screen and (max-width: 1280px) {
      .back, .next {
        background: url(../img/manual/navigation.png) 0 0 no-repeat;
        width: 25px;
        height: 41px;
        top: 50%;
        margin-top: -20px;
      }
      .back {
        left: -6px;
      }
      .next {
        right: 27px;
        background-position: 0 -41px;
      }
    }
  }

  .page {
    box-sizing: border-box;
    width: 1060px;
    height: 640px;
    padding: 15px 70px 15px 25px;

    background: url(../img/manual/left-page.png) 25px 11px no-repeat,
                url(../img/manual/right-page.png) 510px 12px no-repeat;

    &:first-child {
      background: url(../img/manual/right-page.png) 510px 12px no-repeat;
      padding-left: 15px;
    }

    &:last-child {
      background: url(../img/manual/left-page.png) 25px 11px no-repeat;
      padding-right: 15px;
    }

    @media screen and (max-width: 1280px) {
      width: 845px;
      height: 510px;
      padding: 10px 55px 10px 20px;

      background: url(../img/manual/left-page-small.png) 17px 4px no-repeat,
                  url(../img/manual/right-page-small.png) 407px 6px no-repeat;

      &:first-child {
        background: url(../img/manual/right-page-small.png) 407px 6px no-repeat;
        padding-left: 10px;
      }

      &:last-child {
        background: url(../img/manual/left-page-small.png) 17px 4px no-repeat;
        padding-right: 10px;
      }
    }

    .left-page, .right-page {
      box-sizing: border-box;
      float: left;
      padding: 5px 20px 5px 30px;
      width: 50%;
    }

    @media screen and (max-width: 1280px) {
      .left-page, .right-page {
        box-sizing: border-box;
        float: left;
        padding: 5px 20px 5px 30px;
        width: 50%;
      }
    }

    h2 {
      font-size: 28px;
      font-weight: normal;
      line-height: 110%;
      margin: 25px 0 5px 35px;

      &.center {
        margin: 20px 60px 15px;
        text-align: center;
      }
    }

    @media screen and (max-width: 1280px) {
      h2 {
        font-size: 24px;
        line-height: 100%;
        &.center {
          margin: 15px 35px 10px;
        }
      }
    }

    .aboutgame {
      p {
        margin: 0 0 22px;
        text-align: justify;
        line-height: 128%;
      }

      .warning-block {
        background: #dfd1b3;
        background: -webkit-linear-gradient(top, #dfd1b3 0%, #eadfc8 50%, #f6efe1 100%);
        background: -moz-linear-gradient(top, #dfd1b3 0%, #eadfc8 50%, #f6efe1 100%);
        background: linear-gradient(to bottom,#dfd1b3 0%,#eadfc8 50%,#f6efe1 100%);

        padding: 14px 14px 10px;
        border-radius: 6px;

        h4 {
          margin-bottom: 5px;
          font-size: 19px;
          text-transform: uppercase;
        }
        p {
          text-align: left;
          font-size: 15px;
          padding-bottom: 0px;

          &:last-child {
            margin: 0;
          }
        }
      }
    }

    @media screen and (max-width: 1280px) {
      .aboutgame {
        p {
          margin: 0 0 9px;
          font-size: 16px;
          line-height: 113%;
        }

        .warning-block {
          padding: 12px 14px 10px;
          border-radius: 6px;

          h4 {
            margin-bottom: 3px;
            font-size: 15px;
          }
          p {
            font-size: 14px;
          }
        }
      }
    }

    .contents {
      .line {
        margin-top: 12px;
        overflow: hidden;
      }

      .picture {
        a {
          display: block;
          float: left;
          width: 63px;
          height: 63px;
          background: url(../img/manual/pictures.png) 0 0 no-repeat;
        }

        &.company a {
          background-position: 0 0;
        }
        &.plan a {
          background-position: 0 -63px;
        }
        &.mail a {
          background-position: 0 -126px;
        }
        &.documents a {
          background-position: 0 -189px;
        }
        &.phone a {
          background-position: 0 -252px;
        }
        &.visitors a {
          background-position: 0 -315px;
        }
        &.menu a {
          background-position: 0 -378px;
        }
      }

      .ref {
        margin: 35px 0 0 65px;
        padding: 0 0 5px 10px;
        background: url(../img/manual/dotsbg.png) 0 100% repeat-x;

        .page-number {
          float: right;
        }
      }

      a, span {
        color: #232323;
        text-decoration: none;
      }
    }

    @media screen and (max-width: 1280px) {
      .contents {
        .line {
          margin-top: 7px;
        }

        .picture {
          a {
            width: 50px;
            height: 50px;
            background: url(../img/manual/pictures-small.png) 0 0 no-repeat;
          }

          &.company a {
            background-position: 0 0;
          }
          &.plan a {
            background-position: 0 -50px;
          }
          &.mail a {
            background-position: 0 -100px;
          }
          &.documents a {
            background-position: 0 -150px;
          }
          &.phone a {
            background-position: 0 -200px;
          }
          &.visitors a {
            background-position: 0 -250px;
          }
          &.menu a {
            background-position: 0 -300px;
          }
        }

        .ref {
          margin: 25px 0 0 55px;
          padding: 0 0 5px 10px;
        }

        a, span {
          font-size: 16px;
        }
      }
    }

    .company-structure {
      background: url(../img/manual/structure-dots.png) no-repeat 78px 44px;
      height: 490px;
      margin-top: -5px;
    }
    .person-block {
      font-size: 11px;
      line-height: 130%;
      width: 138px;
      padding: 1px;
      position: absolute;
      border-radius: 6px;
      text-align: center;
      cursor: pointer;

      .person-block-bg {
        background-color: #c1dcf3;
        border-radius: 6px;
        display: table-cell;
        height: 42px;
        padding: 1px 5px;
        vertical-align: middle;
        width:138px;
      }
    }
    .upravlenie {
      background: #a3b9cd; /* Old browsers */
      background: -moz-linear-gradient(top,  #a3b9cd 0%, #a3b9cd 71%, #d5d4c8 100%, #e7f2fa 100%); /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a3b9cd), color-stop(71%,#a3b9cd), color-stop(100%,#d5d4c8), color-stop(100%,#e7f2fa)); /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top,  #a3b9cd 0%,#a3b9cd 71%,#d5d4c8 100%,#e7f2fa 100%); /* Chrome10+,Safari5.1+ */
      background: linear-gradient(to bottom,  #a3b9cd 0%,#a3b9cd 71%,#d5d4c8 100%,#e7f2fa 100%); /* W3C */

      .person-block-bg {
        background-color: #c1dcf3;
      }
    }
    .srednzveno {
      background: #d5d4c8; /* Old browsers */
      background: -moz-linear-gradient(top,  #d5d4c8 0%, #d5d4c8 71%, #fefef8 100%); /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d5d4c8), color-stop(71%,#d5d4c8), color-stop(100%,#fefef8)); /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top,  #d5d4c8 0%,#d5d4c8 71%,#fefef8 100%); /* Chrome10+,Safari5.1+ */
      background: linear-gradient(to bottom,  #d5d4c8 0%,#d5d4c8 71%,#fefef8 100%); /* W3C */

      .person-block-bg {
        background-color: #fcfcee;
      }
    }
    .thehero {
      background: #a3cdaf; /* Old browsers */
      background: -moz-linear-gradient(top,  #a3cdaf 0%, #a3cdaf 71%, #e5faec 100%); /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a3cdaf), color-stop(71%,#a3cdaf), color-stop(100%,#e5faec)); /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top,  #a3cdaf 0%,#a3cdaf 71%,#e5faec 100%); /* Chrome10+,Safari5.1+ */
      background: linear-gradient(to bottom,  #a3cdaf 0%,#a3cdaf 71%,#e5faec 100%); /* W3C */

      .person-block-bg {
        background-color: #c1f3d0;
      }
    }
    .boss {
      left:386px;
      top:0px;
    }
    .leftcolmn1 {
      left:10px;
    }
    .leftcolmn2 {
      left:158px;
    }
    .leftcolmn3 {
      left:306px;
    }
    .leftcolmn4 {
      left:466px;
    }
    .leftcolmn5 {
      left:614px;
    }
    .leftcolmn6 {
      left:762px;
    }
    .topcolumn1 {
      top:66px;
    }
    .topcolumn2 {
      top:122px;
    }
    .topcolumn3 {
      top:178px;
    }
    .topcolumn4 {
      top:234px;
    }
    .topcolumn5 {
      top:290px;
    }
    .topcolumn6 {
      top:346px;
    }
    .topcolumn7 {
      top:402px;
    }
  }
}

.tutor-list {
  margin:0px;
  padding:0px;

  li {
    height:auto;
    list-style-type: none;

    img {
      float: left;
      margin: 0px;
    }
    .plan-list-content {
      margin-left: 70px;
    }
    h3 {
      color:#232323;
      font-size: 17px;
      font-family: orbi_sansregular;
      font-weight:normal;
    }
    p {
      color:#232323;
      font-size: 13px;
      line-height: 130%;
    }
  }
}

.plan-list {
  li {
    height: 100px;
    padding-bottom: 16px;
  }
}
.email-list {
  li {
    height: 84px;
    padding-bottom: 12px;

    p {
      font-size:11px;
      line-height: 150%;
    }
  }
}
.relative-content {
  position: relative;
}
.person-info-tooltip {
  z-index: 100000;
  margin: 0;
  width: 220px;
  padding: 5px;
  border: 1px solid #d3d1b3;
  border-radius: 6px;
  background: none #faf9d5;
  font-size: 11px;

  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: "";
    clear: both;
    height: 0;
  }

  .photo {
    /*width: 74px;*/
    height: 94px;
    float: left;
    margin: 0 5px 5px 0;
  }
  h3 {
    font-size: 13px;
    font-family: orbi_sans_boldregular;
    margin-bottom: 0px;
    padding-bottom:0px;
    text-transform: uppercase;
  }
  h4 {
    font-size: 13px;
    font-family: orbi_sansregular;
    margin-bottom: 5px;
    margin-top:-6px;
    font-weight: normal;
    line-height: 100%;
    padding: 0px;
  }
  p {
    font-family: orbi_sansregular;
    font-size: 12px;
    line-height: 130%;
    margin-bottom: 8px;
  }
  strong {
    font-size: 12px;
    font-family: orbi_sans_boldregular;
  }
}