<ul class="phone-main-menu">
    <li class="phone_get_contacts">
        <img src="<@=assetsUrl@>/img/phone/icon-contact.png" alt="">

        <p>Список контактов</p>
    </li>
    <li class="phone_get_history">
        <img src="<@=assetsUrl@>/img/phone/icon-contact.png" alt="">

        <p>История Вызовов</p>
    </li>
</ul>