<div class="book">
    <ul class="tabs btn-window">
        <li class="close-window"><button class="btn-cl win-close">&nbsp;</button></li>
        <li><a href="#" data-refer-page="1">Содержание</a></li>
    </ul>

    <div class="flyleaf">

    </div>
</div>