<section class="page hidden" data-page="10">
    <div class="pagewrap">
        <div class="navigation">
            <a href="#" data-refer-page="8" class="back"></a>
            <a href="#" data-refer-page="12" class="next"></a>
        </div>

        <div class="content">Page 10</div>
    </div><!-- /pagewrap -->
</section>