<section class="page hidden" data-page="8">
    <div class="navigation">
        <a href="#" data-refer-page="6" class="back"></a>
        <a href="#" data-refer-page="10" class="next"></a>
    </div>

    <div class="content">Page 8</div>
</section>