<section class="page hidden" data-page="2">
    <div class="navigation">
        <a href="#" data-refer-page="1" class="back"></a>
        <a href="#" data-refer-page="4" class="next"></a>
    </div>

    <div class="content">Page 2</div>
</section>