<section class="page hidden" data-page="12">
    <div class="navigation">
        <a href="#" data-refer-page="10" class="back"></a>
        <a href="#" data-refer-page="14" class="next"></a>
    </div>

    <div class="content">Page 12</div>
</section>