<section class="page hidden" data-page="6">
    <div class="navigation">
        <a href="#" data-refer-page="4" class="back"></a>
        <a href="#" data-refer-page="8" class="next"></a>
    </div>

    <div class="content">Page 6</div>
</section>