<section class="page hidden" data-page="4">
    <div class="pagewrap">
        <div class="navigation">
            <a href="#" data-refer-page="2" class="back"></a>
            <a href="#" data-refer-page="6" class="next"></a>
        </div>

    </div><!-- /pagewrap -->
</section>