
@media screen and (max-width: 1279px) {
    .us-registration-by-link-body {
        background-position: 468px 10px;
    }

    .inline-error-first {
        width: 197px;
    }

    textarea, input[type="text"], input[type="password"] {
        width: 170px;
    }
}
