
.width-1024 .us-column-full {
    width: 750px;
}

.width-1024 .us-homepage-trudyakin {
    left: -190px;
}

.width-1024 .us-trudyakin-comment {
    left: -280px;
}

.width-1024 .us-middle-content {
    margin-left: 180px;
    margin-top: -529px;
}

.width-1024 .us-our-client {
    margin-top: 65px;
    margin-left: -80px;
}

.width-1024 .us-homepage-heroes-group {
    left: 285px;
    top: -74px;
}

.width-1024 .us-homepage-angela {
    left: 525px;
}

.width-1024 .us-angela-comment {
    left: 805px;
}

.width-1024 .us-column-2-3 {
    height: 274px;
    width: 356px;
}

.width-1024 .us-column-1-3 {
    width: 221px;
}

.width-1024 .us-start-demo-image {
    height: 150px;
    margin-top: 30px;
}

.width-1024 .us-start-demo {
    left: 6px;
    position: relative;
    top: -61px;
}

body.width-1024.action-controller-index-static-pages header {
    background-position: center -40px;
}

.width-1024 .us-bottom-content {
    margin-top: -860px;
}

.width-1024.language-en .us-start-demo-box {
    width: 280px;
}

.width-1024.language-en .us-start-demo-box .social-networks-share-link a {
    height: 28px;
    width: 28px;
    background-size: 170px 61px;
}

.width-1024.language-en .us-start-demo-box .vk-share-button a:hover {
    background-position: 0 -34px;
}

.width-1024.language-en .us-start-demo-box .facebook-share-button a {
    background-position: -36px 0;
}

.width-1024.language-en .us-start-demo-box .facebook-share-button a:hover {
    background-position: -36px -34px;
}

.width-1024.language-en .us-start-demo-box .twitter-share-button a {
    background-position: -71px 0;
}

.width-1024.language-en .us-start-demo-box .twitter-share-button a:hover {
    background-position: -71px -34px;
}

.width-1024.language-en .us-start-demo-box .google-share-button a {
    background-position: -107px 0;
}

.width-1024.language-en .us-start-demo-box .google-share-button a:hover {
    background-position: -107px -34px;
}

.width-1024.language-en .us-start-demo-box .linkedIn-share-button a {
    background-position: -142px 0;
}

.width-1024.language-en .us-start-demo-box .linkedIn-share-button a:hover {
    background-position: -142px -34px;
}

.width-1024.language-en .us-homepage-content .us-start-demo-box .social-networks-share-link {
    width: 280px;
}