.profile-menu {
    width: 100%;
}

.profile-menu li {
    background: url("../../../img/site/1280/profile/menu-top-bg.png") repeat-x 0 49px;
    list-style-type: none;
}

.profile-menu li:last-child {
    background-image: none;
}

.profile-menu li a {
    background: url("../../../img/site/1280/profile/menu-arrows.png") no-repeat 354px -65px;
    color: #555742;
    font-size: 1.3em;
    padding: 12px 20px 12px 12px;
    width: 100%;
}

.profile-menu li.active a,
.profile-menu li a:hover {
    background-position: 354px 17px;
    color: #245057;
}

.profile-menu li.active {
    background-color: #ffffff;
}

.profile-right-side {
    padding: 30px;
}

.controller-static-profile .column-2-3-fixed {
    width: 699px;
    font-size: 1.2em;
}

.controller-static-profile .column-2-3-fixed input[type="text"],
.controller-static-profile .column-2-3-fixed input[type="password"],
.controller-static-profile .column-2-3-fixed textarea {
    font-size: 0.8em;
}

.controller-static-profile .column-2-3-fixed .button-white {
    font-size: 0.8em;
}

.controller-static-profile .column-2-3-fixed .button-standard {
    font-size: 1.06em;
    line-height: 1em;
}

.controller-static-profile .error-place {
    font-size: 0.8em;
}

.profile-right-side label {
    width: 240px;
}

/* --- */

#add-vacancy-form .button-standard {
    float: left;
    margin-top: 15px;
}

.controller-static-profile .column-2-3-fixed .sbSelector,
.controller-static-profile .column-2-3-fixed .sbHolder {
    font-size: 0.9em;
}

textarea,
input[type='text'],
input[type='password'] {
    resize: none;
    width: 214px;
}

#UserAccountPersonal_birthday_day,
#UserAccountPersonal_birthday_month {
    width: 26px;
}

#UserAccountPersonal_birthday_year {
    width: 37px;
}

#add-vacancy-form .sbSelector,
#add-vacancy-form .sbHolder {
    width: 452px;
}

#UserAccountCorporate_company_description {
    width: 426px;
}

#add-vacancy-form input[type="text"] {
    width: 444px;
}

.skiliks.controller-static-profile .sbHolder {
    width: 450px;
}

.data strong,
.data small {
    display: block;
}

.data strong {
    color: #245057;
    font-size: 1.42em;
    font-weight: normal;
}

.data small {
    color: #959595;
    font-family: "ProximaNova-Regular";
    font-size: 0.8em;
}

.action-controller-corporateTariff-static-profile label {
    padding-top: 5px;
}

.action-controller-corporateTariff-static-profile small {
    margin-top: -10px
}

.unstandard-second-column {
    width: 150px;
}

.contrast-table {
    font-size: 0.9em;
}

.contrast-table th a {
    font-size: 0.8em;
}

.action-controller-corporateReferrals-static-profile .column-2-3-fixed {
    padding-bottom: 0;
}

.action-controller-corporateReferrals-static-profile .table-footer,
.contrast-table table {
    margin-left: -30px;
    width: 759px;
}

.contrast-table table.items tr th:nth-child(1),
.contrast-table table.items tr td:nth-child(1) {
    padding-left: 30px;
}

.company-info-height {
    height: 372px;
}

.unstandard-error-firstname {
    display: inline-block;
    width: 225px;
}

.controller-static-profile  .error-place {
    padding-left: 244px;
}

.unstandard-personal-data-height {
    min-width: 1150px;
    height: 412px;
}

#UserAccountPersonal_location {
    width: 444px;
}

.action-controller-personalPersonalData-static-profile .unstandard-personal-data-height {
    height: 391px;
}

.action-controller-corporatePersonalData-static-profile .unstandard-personal-data-height {
    height: 248px;
}

.action-controller-personalPassword-static-profile .unstandard-personal-data-height {
    height: 300px;
}

.action-controller-corporatePassword-static-profile .unstandard-personal-data-height {
    height: 302px;
}

.skiliks .error .error-place {
    height: 16px;
}

.action-controller-corporateVacancies-static-profile table.items td:nth-child(2),
.action-controller-corporateVacancies-static-profile table.items td:nth-child(3){
    max-width: 305px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.us-password-height {
    height: 298px;
}

.us-password-personal-height {
    height: 298px;
}