
.width-1024 .us-box-order-method {
        width: 260px;
    }

.width-1024 #payment-form .row label {
        width: 92px;
    }

.width-1024 .us-order-header {
        height: 220px;
    }

.width-1024 textarea,
.width-1024 input[type='text'],
.width-1024 input[type='password'] {
        min-width: 150px;
    }

.width-1024 .width-1024.us-without-commission {
        margin-top: 2px;
    }