
@media screen and (max-width: 1279px) {
    .us-box-order-method {
        width: 260px;
    }

    #payment-form .row label {
        width: 95px;
    }

    .us-order-header {
        height: 220px;
    }

    textarea,
    input[type='text'],
    input[type='password'] {
        min-width: 150px;
    }

    .us-without-commission {
        margin-top: 2px;
    }
}