.us-auth-box {
    width: 640px;
}

.skiliks .nice-border {
    padding: 0;
}

.skiliks .us-user-auth-page-form #YumUserChangePassword_password,
.skiliks .us-user-auth-page-form #YumUserChangePassword_verifyPassword {
    width: 159px;
}

.skiliks .us-user-auth-page-form #YumUserLogin_username,
.skiliks .us-user-auth-page-form #YumUserLogin_password {
    width: 233px;
}

.us-label {
    font-size: 1.2em;
    margin-top: -2px;
    vertical-align: top;
}

.us-first-input,
.us-second-input {
    margin-bottom: 2px;
    padding-left: 5px;
    width: 247px;
}

.action-controller-recovery-static-userAuth .us-first-input,
.action-controller-recovery-static-userAuth .us-second-input  {
    width: 173px;
}

.skiliks .us-first-input {
    margin-left: -4px;
}

.us-auth-box.error {
    padding-top: 14px;
}

.us-auth-box.border-radius-standard {
    border-radius: 5px;
}

.us-error-bottom {
    margin-bottom: -7px;
    margin-left: -40px;
}

@media screen and (max-width: 1279px) {

    .us-first-input,
    .us-second-input {
        width: 208px;
    }

    .skiliks .us-user-auth-page-form #YumUserChangePassword_password,
    .skiliks .us-user-auth-page-form #YumUserChangePassword_verifyPassword {
        width: 129px;
    }

    .action-controller-recovery-static-userAuth .us-first-input,
    .action-controller-recovery-static-userAuth .us-second-input  {
        width: 142px;
    }

    .skiliks .us-user-auth-page-form #YumUserLogin_username,
    .skiliks .us-user-auth-page-form #YumUserLogin_password {
        width: 195px;
    }

    .us-auth-box {
        width: 556px;
    }
}