.xls-container {
  .loader {
    width: 900px;
    text-align: center;
    background-color: #ffffff;
    font-size: 36px;
    height: 600px;
  }
}
.pdf-container {
  width: 850px;
  height: 600px;
  overflow: scroll;
  background-color: #ddd;
}