/* /user/auth */
.action-controller-login-auth #usercontent {
    margin: 0 auto;
    padding: 10px 0 0;
    width:673px;
}
.action-controller-login-auth #usercontent h2{
    font: 2.619em "ProximaNova-Bold";
    margin-bottom: 32px;
    text-shadow: 0 0 7px rgba(0, 0, 0, 0.14);
    text-align:center;
}
.action-controller-login-auth .enter_form {
    background:#F3FFFF;
    padding:25px 20px 20px;
    border-radius:4px;
    box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.2);
}
.action-controller-login-auth .enter_form p {
    color:#555545;
    font: 30px "ProximaNova-Bold";
    margin-bottom:10px;
    text-align:center;
}
.action-controller-login-auth .enter_form form {
    padding:8px;
}
.action-controller-login-auth .nice-border {
    box-shadow: 0 0 0 10px rgba(20, 102, 114, 0.15);
    padding:0;
    margin:0 25px;
    position: relative;
    border-radius:4px;
}
.action-controller-login-auth .enter_form .row {
    display:inline;
    vertical-align:top;
    position: static;
}
.action-controller-login-auth .enter_form .row input[type="text"],
.action-controller-login-auth .enter_form .row input[type="password"],
#change-password-form input[type="password"]
{
    color:#036675;
    background:white;
    border: 1px solid #666;
    border-radius: 5px;
    padding:13px 15px;
    box-shadow:3px 3px 10px #C0C0C0 inset;
    outline: none;
}
.action-controller-login-auth .enter_form .row input#YumUserLogin_username {
    width:189px;
}
.action-controller-login-auth .enter_form .row input#YumUserLogin_password {
    width:137px;
    margin:0 5px;
}
.action-controller-login-auth .enter_form input[type="text"]:focus,
.action-controller-login-auth .enter_form input[type="password"]:focus,
#change-password-form input[type="password"]:focus {
    /*border-color:#23BFD5;
    border-radius: 5px;
    outline:none;*/
    box-shadow: 3px 3px 10px #C0C0C0 inset, 0 0 3px #23BFD5;
    border:1px solid #24bdd3;
}
#change-password-form input[type="password"]:focus {
    box-shadow: 3px 3px 10px #C0C0C0 inset, 0 0 9px rgba(0, 0, 0, 0.3);
    border:2px solid #24bdd3;
    height: 24px;
    width: 200px;
}
#change-password-form input.error:focus {
    border-color:rgb(189, 41, 41) !important;
    outline-color:rgb(189, 41, 41) !important;
}
.action-controller-login-auth .enter_form .row.rememberMe {
    display:block;
    text-align:center;
    color:#146672;
    font:17px "ProximaNova-Regular";
    margin-top:14px;
}
.action-controller-login-auth .enter_form .row.submit {
    float:right;
}
.action-controller-login-auth .enter_form input[type="submit"] {
    background-image: url("../img/icon-circlarow.png");
    background-repeat: no-repeat;
    background-position: 37px 50%;
    background-color: #146672;
    border: none;
    border-radius: 4px;
    color: #FFFFFF;
    text-align: left;
    padding:0 35px 0 60px;
    font:20px ProximaNova-Bold;
    height:46px;
}
.action-controller-login-auth .errorMessage.YumUserLogin_username {top:-15px;left:3px;}
.action-controller-login-auth .errorMessage.YumUserLogin_password {top:-15px;left:236px;}
.action-controller-login-auth .niceCheck{
    background: url("../img/checkbox.png") no-repeat 0 0;
    cursor: pointer;
    display: inline-block;
    height: 14px;
    overflow: hidden;
    width: 14px;
    position:relative;
    top:1px;
}
.action-controller-login-auth .niceCheck.niceChecked {
    background-position: 0 -14px;
}
.action-controller-login-auth .niceCheck input {
    margin-left:-100px;
}
/* отказ от ваканчии в личном кабинете */
.action-controller-registerByLink-static-userAuth  .ui-widget-content {
    background: #146672;
}
#invite-decline-form .form-decline-explanation {
    position: absolute;
    top:200px;
    /*top:235px;*/
    left:50%;
    z-index: 5;
    margin-left:-301px;
    width:602px;
    height:427px;
    background: url(../img/bg_register_by_link_from_employer.png) repeat-x;
}
#invite-decline-form .close {
    position: absolute;
    top: -10px;
    right: -8px;
    width: 27px;
    height: 27px;
    background: url("../img/closepopup.png") no-repeat 0 0;
}
#invite-decline-form .close:hover {
    background-position: 0 100%;
}
#invite-decline-form #form-decline-explanation{
    padding:30px 40px;
}
#invite-decline-form #form-decline-explanation h2 {
    font: 30px "ProximaNova-Regular";
    /*color:#003366;*/
    color:#245057;
    margin-bottom:20px;
}
#invite-decline-form #form-decline-explanation .required {
    display:none;
}
#invite-decline-form #form-decline-explanation #DeclineExplanation_reason_id {
    font: 16px "ProximaNova-Regular";
    color:#245057;
}
#invite-decline-form #form-decline-explanation #DeclineExplanation_reason_id input[type="radio"] {
    vertical-align: middle;
}
#invite-decline-form #form-decline-explanation #DeclineExplanation_reason_id label {
    line-height:24px;
}
#invite-decline-form #form-decline-explanation .form-decline-explanation-description-row {
    position: relative;
}
#invite-decline-form #form-decline-explanation textarea {
    margin-bottom:20px;
    background:#FFFFFF;
    border-radius:5px;
    box-shadow: 10px 4px 10px rgba(0, 0, 0, 0.1) inset;
    padding: 5px;
    border:1px solid #336666;
    height:100px;
    width:505px;
}

#invite-decline-form #form-decline-explanation input[type="submit"] {
    background: url("../img/icon-btn-notify.png") no-repeat 18px 50% #146672;
    border: none;
    border-radius: 4px;
    color: #FFFFFF;
    font: 20px "ProximaNova-Bold";
    padding: 15px 25px 15px 50px;
    text-align: left;
}
#invite-decline-form #form-decline-explanation input[type="submit"]:first-child {
    margin-right:18px;
}
#invite-decline-form #form-decline-explanation .error_wrap.main {
    top:-30px;
    right:30px;
}
#invite-decline-form #form-decline-explanation .form-decline-explanation-description-row .errorMessage {
    left: 6px;
    top: -22px;
}

/* регистрация по ссылке от работодателя */
.action-controller-registerByLink-static-userAuth #invite-decline-form .blackout {
    display:none;
}
.action-controller-registerByLink-static-userAuth .blackout.show {
    display:block;
}
.action-controller-registerByLink-static-userAuth h2.title {
    color: #FFFFFF;
    font: 40px/52px "ProximaNova-Bold";
    padding: 0 110px 10px;
    text-align: center;
    display:none;
}
section.registration-by-link {
    box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    padding:0 20px 41px 28px;
    height:374px;
    width:776px;
    margin:50px auto 0;
    background:url("../img/bg-register-by-link2.jpg")no-repeat center top;
    z-index:5;
    position: relative;

}
section.registration-by-link h1 {
    font:normal 25px "ProximaNova-Regular";
    color:#666666;
    margin-bottom:16px;
}
.registration-by-link .text-right {
    padding-bottom: 10px;
    padding-top:120px;
}
section.registration-by-link .form {
    color:#666633;
    font:14px/34px "ProximaNova-Regular";
}
section.registration-by-link .form .row {
    margin-bottom:5px;
    position: relative;
}
section.registration-by-link .form .row label {
    width:190px;
    display:block;
    float:left;
}
section.registration-by-link .form .row input[type="text"],
section.registration-by-link .form .row input[type="password"] {
    color:#146672;
    background: #FFFFFF;
    border: 1px solid #3E5259;
    border-radius:5px;
    box-shadow: 10px 4px 10px rgba(0, 0, 0, 0.1) inset;
    outline: none;
    padding:4px 10px;
    width:150px;
    height:16px;
    margin-right:10px;
}
section.registration-by-link .form .row .sbHolder {
    width:350px;
}
section.registration-by-link .form .row.buttons {
    padding-left:190px;
}
section.registration-by-link .form .row input[type="submit"],
#change-password-form  input[type="submit"] {
    background: url("../img/icon-btn-notify.png") no-repeat 17px 13px #146672;
    border: none;
    border-radius: 4px;
    color: #FFFFFF;
    text-align: left;
    vertical-align: top;
    font: 20px "ProximaNova-Bold";
    height: 46px;
    padding: 0 14px 0 48px;
    margin-right:15px;
}
#change-password-form  input[type="submit"] {
    background-position: 20px 17px;
    font-size: 21px;
    height:54px;
    line-height: 54px;
    margin-right:0px;
    padding-left: 36px;
}
#change-password-form input[type="password"] {
    font-size:16px;
    height:26px;
    line-height: 26px;
}
section.registration-by-link .form .row a.decline-link, .registration-by-link .text-right a {
    font:12px "ProximaNova-Regular";
    color:#2d7b91;
    text-decoration:none;
}
section.registration-by-link .form .row a.decline-link {
    line-height: 46px;
}
section.registration-by-link .form .row a.decline-link:hover {
    border-bottom:none;
}
.YumProfile_firstname {
    left: 195px;
    top: -20px;
}
.YumProfile_lastname {
    left: 385px;
    top: -20px;
}
#registration-by-link-form .YumProfile_firstname,
#registration-by-link-form .YumProfile_lastname {
    top:-12px;
}
.wide .sbHolder_err {
    top:-10px;
    left:195px;
}
.YumUser_password {
    left:195px;
    top:-12px;
}
.YumUser_password_again {
    left:195px;
    top:-12px;
}
/* Список доступных симуляций */
.action-controller-personal-static-simulations h1.title,
.action-controller-corporate-static-simulations h1.title{
    font:2.7em/60px ProximaNova-Bold;
    color:#fff;
    margin-bottom: 10px;
}
.action-controller-corporate-static-simulations .grid-view,
.action-controller-personal-static-simulations .grid-view {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    padding: 10px;
}
.action-controller-corporate-static-simulations .grid-view table.items,
.action-controller-personal-static-simulations .grid-view table.items {
    background: none;
    border: none;
    text-align: left;
}
.action-controller-corporate-static-simulations .grid-view table.items th#yw0_c0,
.action-controller-personal-static-simulations .grid-view table.items th#yw0_c0{
    width:24%;
}
.action-controller-corporate-static-simulations .grid-view table.items th#yw0_c1,
.action-controller-personal-static-simulations .grid-view table.items th#yw0_c1{
    width:33%;
}
.action-controller-corporate-static-simulations .grid-view table.items th#yw0_c2,
.action-controller-personal-static-simulations .grid-view table.items th#yw0_c2{
    width:33%;
}
.action-controller-corporate-static-simulations .grid-view table.items th#yw0_c3,
.action-controller-personal-static-simulations .grid-view table.items th#yw0_c3{
    width:10%;
}
.action-controller-corporate-static-simulations .grid-view table.items tr,
.action-controller-corporate-static-simulations .grid-view table.items tr:hover,
.action-controller-personal-static-simulations .grid-view table.items tr,
.action-controller-personal-static-simulations .grid-view table.items tr:hover {
    background: none;
}
.action-controller-corporate-static-simulations .grid-view table.items th,
.action-controller-personal-static-simulations .grid-view table.items th {
    border: none;
    background: url("../img/th-seprtr.png") no-repeat right bottom #146672;
    padding: 10px;
    font: 14px/16px "ProximaNova-Bold";
    border-bottom: 1px solid #0e4750;
    text-align:left;
}
.action-controller-corporate-static-simulations .grid-view table.items th a,
.action-controller-personal-static-simulations .grid-view table.items th a {
    font-weight: normal;
    outline: none;
}
.action-controller-corporate-static-simulations .grid-view table.items tr.odd td,
.action-controller-personal-static-simulations .grid-view table.items tr.odd td{
    background: #fdfbc6;
}
.action-controller-corporate-static-simulations .grid-view table.items tr.even td,
.action-controller-personal-static-simulations .grid-view table.items tr.even td{
    background: #fefeec;
}
.action-controller-corporate-static-simulations .grid-view table.items tr td,
.action-controller-personal-static-simulations .grid-view table.items tr td {
    border: none;
    color:#232323;
    font: 14px/14px "ProximaNova-Bold";
    padding: 4px 10px;
    white-space:nowrap;
    max-width:283px;
    overflow:hidden;
}
.action-controller-corporate-static-simulations .grid-view table.items tr td:first-child,
.action-controller-personal-static-simulations .grid-view table.items tr td:first-child {
    max-width:201px;
}
.action-controller-corporate-static-simulations .grid-view table.items tr td a,
.action-controller-personal-static-simulations .grid-view table.items tr td a {
    font: 14px/30px "ProximaNova-Bold";
    border-radius: 3px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.23);
    cursor: pointer;
    display: inline-block;
    height: 30px;
    padding: 0 12px 0 18px;
    text-decoration: none;
    background: url("../img/btn-lightbg.png");
    color: #3C3C32;
}
.action-controller-corporate-static-simulations .grid-view table.items tr td a:hover,
.action-controller-personal-static-simulations .grid-view table.items tr td a:hover {
    background-position: left bottom;
    color: #FFFFFF;
}
/* Ошибки при выборе профиля */
.action-controller-chooseAccountType-static-userAuth .YumProfile_firstname {
    left:126px;
    bottom: 27px;
}
.action-controller-chooseAccountType-static-userAuth .YumProfile_lastname {
    left:262px;
    bottom: 27px;
}
.action-controller-chooseAccountType-static-userAuth .UserAccountCorporate_corporate_email {
    left:126px;
    bottom: 27px;
}
/* Ошибки при отправке приглашения в личном кабинете */
#invite-form {
    position:relative;
}
.invite-people-form.sideform.darkblueplacehld .row{
    position: relative;
    padding:15px 0 0 0;
}
.invite-people-form.sideform.darkblueplacehld .errorMessage.Invite_firstname{top:-2px;left:72px;}
.invite-people-form.sideform.darkblueplacehld .errorMessage.Invite_lastname {top:-2px;left:162px;}
.invite-people-form.sideform.darkblueplacehld .errorMessage                 {top:-1px;left:72px;}
.invite-people-form.sideform.darkblueplacehld .form-global-errors .errorMessage {top:auto;bottom:35px;left:72px;}
/* Ошибки при регистрации */
#yum-user-registration-form .YumProfile_email{
    top:-14px;
    left:3px;
}
#yum-user-registration-form .YumUser_password{
    top:-14px;
    left:3px;
}
#yum-user-registration-form .YumUser_password_again{
    top:-14px;
    left:3px;
    width:300px;
}
.registrationform #yum-user-registration-form input[type="text"]:focus,
.registrationform #yum-user-registration-form input[type="password"]:focus {
    height:24px;
}
/* Ошибки в личном и рабочем кабинете */
#account-corporate-personal-form .errorMessage.profile_firstname {top:-15px;left:185px;}
#account-corporate-personal-form .errorMessage.profile_lastname {top:-15px;left:360px;}
#account-corporate-password-form .errorMessage {top:-15px;left:165px;}
#add-vacancy-form .errorMessage {top:-15px;left:185px;}
#account-personal-personal-form .YumProfile_firstname {top:-15px;left:185px;}
#account-personal-personal-form .YumProfile_lastname {top:-15px;left:335px;}
@media screen and (max-width: 1146px){
    #account-corporate-personal-form .errorMessage.profile_firstname {left:157px;}
    #account-corporate-personal-form .errorMessage.profile_lastname {left:328px;}
    #add-vacancy-form .errorMessage {left:155px;}
    #account-personal-personal-form .YumProfile_firstname {left:158px;}
    #account-personal-personal-form .YumProfile_lastname {left:290px;}
}
/* Pop-up связанные с входом */
#login-form.login-form .error input[type='text'],
#login-form.login-form .error input[type='password']{
    border: 2px solid #BD2929 !important;
}
#login-form.login-form .errorMessage {
    color:white;
}
#login-form.login-form .errorMessage#YumUserLogin_username_em_ {
    bottom:29px;
    left:3px;
}
#login-form.login-form .errorMessage#YumUserLogin_password_em_ {
    top:-15px;
    left:3px;
}
@media screen and (max-width: 1146px){
    #login-form.login-form .errorMessage#YumUserLogin_password_em_ {top:-13px;}
}
#password-recovery-form {
    padding:15px 0 0;
}
#password-recovery-form #YumPasswordRecoveryForm_email {
    background:#FFFFFF;
    border: 1px solid #010101;
    border-radius:3px;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.16) inset;
    color: #146672;
    font: 14px/20px 'ProximaNova-Regular';
    height: 12px;
    outline: none;
    padding: 7px 9px;
    width: 80%;
    margin:0 0 20px 8px;
}
#password-recovery-form input[type="submit"]{
    background: url("../img/btn-lightbg.png") no-repeat 0 0;
    border: none;
    border-radius: 3px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.23);
    color: #3C3C32;
    font: 14px/20px 'ProximaNova-Bold';
    height: 28px;
    text-align: left;
    text-indent: 13px;
    vertical-align: top;
    margin-left:8px;
}
#password-recovery-form input[type="submit"]:hover{
    background-position: 0 -30px;
    color: #FFFFFF;
}
#password-recovery-form .errorMessage {
    left: 10px;
    top: -16px;
    color:#fff;
}
#account-corporate-company-info-form .UserAccountCorporate_ownership_type {
    top:-15px;
    left:185px;
}
.action-index .flash, .inner .flash {
    box-shadow: none;
    font-weight: normal;
    margin: 0;
    overflow:visible;
}
.flash-notice {
    color:#fff;
    font:18px "ProximaNova-Regular";
    padding: 55px 55px 0 10px
}
.popup-recovery-view .ui-widget-header {
    border:none;
    background:none;
}
.popup-recovery-view .ui-dialog-titlebar-close,
.popupclose {
    background:url("../img/closepopup.png") no-repeat 0 0;
    cursor: pointer;
    width:27px;
    height:27px;
    position: absolute;
    top:-25px;
    right:-25px;
    display:block;
    margin:0;
    padding:0;
}
.popup-recovery-view .ui-dialog-titlebar-close span {
    display:none;
}
.popup-recovery-view .ui-dialog-titlebar-close:hover,
.popupclose:hover {
    background-position: 0 100%;
    border:none;
}
.flash-message-popup-recovery-popup {
    padding: 30px;
}
.change_pass-pop-up .change_pass {
    background: #f3ffff;
    border-radius: 8px;
    border: none;
    box-shadow: 0 0 0 8px rgba(255, 255, 255, 0.2);
    /*height: 74px !important;*/
    padding: 30px;
}
.change_pass-pop-up .change_pass .form {
    background:#e6f6f6;
    border-radius: 8px;
    padding:10px;
}
.change_pass-pop-up .change_pass .form:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.change_pass-pop-up .row input[type="password"]{
    /*margin:16px 0 0 8px;*/
    margin-right:10px;
}
.change_pass-pop-up .row {
    position: relative;
}
.change_pass-pop-up .errorMessage {
    /*top:0px;
    left:10px;
    color:white;*/
    color: #bd2929;
    position: absolute;
    top:-14px;
}
.YumUserChangePassword_verifyPassword {
    left:250px;
}
.change_pass {height:auto !important;}

/* flash-message-popup */
.flash-message-popup {
    background: #E8F7F7;
    border: none;
    border-radius: 8px;
    box-shadow: 0 0 0 8px rgba(255, 255, 255, 0.2);
    left: 50% !important;
    top: 130px !important;
    margin:0 0 0 -275px;
    width: 550px !important;
    overflow: visible;
    padding: 0;
    color:#3d4041;
}
.flash-message-popup .popupclose {
    display: block;
    height: 27px;
    width: 27px;
    background: url("../img/closepopup.png") no-repeat 0 0;
    margin: 0;
    padding: 0;
    position: absolute;
    right: -17px;
    top: -17px;
}
.flash-message-popup .popupclose:hover {
    background-position:0 100%;
}
.flash-message-popup .flash {
    border: none;
    border-radius: 0;
    box-shadow: none;
    height: auto !important;
    margin: 0;
    padding: 0;
    position: static;
}
.flash-message-popup .flash-notice,
.flash-message-popup .flash-error,
.flash-message-popup .flash-success{
    padding:25px 20px;
    color:#3d4041;
    text-align:center;
    margin:0;
    font:normal 15px/20px "ProximaNova-Regular";
}
.flash-message-popup .flash a {
    color:#2d7b91;
    outline:none;
    text-decoration:none;
}
.flash-message-popup a.light-btn {
    margin:20px 10px 0;
}
.flash-message-popup .flash h3.midtitle {
    color: #3D4041;
    font: 26px "ProximaNova-Bold";
    margin-bottom: 20px;
}
.flash-message-popup .flash p {
    font:normal 15px/20px "ProximaNova-Regular";
    margin: 0 0 15px 0;
}
@media screen and (max-width: 1146px){
    .flash-message-popup {
        margin:0 0 0 -225px;
        width: 450px !important;
        border-radius: 6px;
        box-shadow: 0 0 0 6px rgba(255, 255, 255, 0.2);
    }
    .flash-message-popup .popupclose {
        background: url("../img/closepopup-min.png") no-repeat 0 0;
        height: 22px;
        right: -14px;
        top: -14px;
        transform: scale(1);
        width: 22px;
    }
    .flash-message-popup .popupclose:hover {
        background: url("../img/closepopup-min.png") no-repeat 0 100%;
    }
    .flash-message-popup .flash .flash-notice,
    .flash-message-popup .flash .flash-error,
    .flash-message-popup .flash .flash-success {
        font: 14px/18px "ProximaNova-Regular";
    }
    .flash-message-popup .flash h3.midtitle {
        font: 20px "ProximaNova-Bold";
        margin-bottom: 15px;
    }
    .flash-message-popup .flash p {
        font: 14px/18px "ProximaNova-Regular";
        margin: 0 0 10px 0;
    }
}
/* popup video */
.popup-video {
    overflow: visible;
    padding:0;
    border-radius: 8px;
    box-shadow: 0 0 0 8px rgba(255, 255, 255, 0.2);
    background:none #146672;
    border:none;
}
.popup-video .popupclose {
    background: url("../img/closepopup.png") no-repeat 0 0;
    display: block;
    height: 27px;
    margin: 0;
    padding: 0;
    position: absolute;
    right: -17px;
    top: -17px;
    width: 27px;
    z-index:2;
}
.popup-video .popupclose:hover {
    background-position: 0 100%;
}
.iframe-video {
    display:none;
}
.popup-video .iframe-video {
    padding:0;
    border-radius:8px;
    overflow:hidden;
    height:475px !important;
}
.popup-video .iframe-video iframe {
    width:100%;
    height:100%;
}
@media screen and (max-width: 1146px){
    .popup-video .iframe-video {
        height:385px !important;
    }
}
/* :hover кнопок */
#invite-decline-form #form-decline-explanation input[type="submit"]:hover,
.action-controller-login-auth #usercontent input[type="submit"]:hover,
#registration-by-link-form input[type="submit"]:hover,
#subscribe-form input[type="submit"]:hover,
.profileform input[type="submit"]:hover, .form-vacancy input[type=submit]:hover {
    background-image: url("../img/icon-circlarow-hover.png");
    background-color:#BD2929;
    background-repeat: no-repeat;
    color: #FFFFFF;
}
#registration_switch:hover,
.features .freeacess.bigbtnsubmt:hover,
.registrationform input[type="submit"]:hover {
    background-image: url("../img/icon-circlarow-hover.png");
    background-color:#BD2929;
    background-repeat: no-repeat;
    color: #FFFFFF;
}
/* universal */
.blackout {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #000000;
    opacity: 0.55;
    z-index: 1;
}
.row {
    position: relative;
}
.errorMessage {
    font: 12px "ProximaNova-Regular";
    color:#bd2929;
    position: absolute;
}
/* /universal */
