/* /user/auth */
.action-controller-login-auth #usercontent {
    margin:0 auto;
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.2);
    border-radius: 8px 8px 8px 8px;
    padding:10px;
}
.action-controller-login-auth #usercontent h2{
    font: 2.619em "ProximaNova-Bold";
    margin-bottom: 15px;
    text-shadow: 0 0 7px rgba(0, 0, 0, 0.14);
    text-align:center;
}
.action-controller-login-auth #usercontent .form {
    background:#F3FFFF;
    padding:26px;
    border-radius:3px;
    font-size:14px;
    line-height:18px;
    overflow:hidden;
}
.action-controller-login-auth #usercontent .form p {
    margin-bottom:10px;
}
.action-controller-login-auth #usercontent .form .errorSummary ul {
    color:red;
    list-style-position: inside;
    margin-left:20px;
}
.action-controller-login-auth #usercontent .form .errorSummary ul li {
    margin-bottom:5px;
}
.action-controller-login-auth #usercontent .form .row {
    clear: both;
    margin:20px 10% 0;
}
.action-controller-login-auth #usercontent .form .row label {
    display: block;
    float: left;
    line-height: 50px;
    width:150px;
}
.action-controller-login-auth #usercontent .form .row span.required {
    display:inline !important;
    color:red;
}
.action-controller-login-auth #usercontent .form .row input[type="text"],
.action-controller-login-auth #usercontent .form .row input[type="password"] {
    color:#036675;
    background:white;
    border: 1px solid #666;
    border-radius: 5px;
    padding:15px;
    width:50%;
    box-shadow:3px 3px 10px #C0C0C0 inset;
}
.action-controller-login-auth #usercontent .form .row input[type="text"]:focus,
.action-controller-login-auth #usercontent .form .row input[type="password"]:focus {
    border-color:#23BFD5;
    border-radius: 5px;
    box-shadow: 3px 3px 10px #C0C0C0 inset, 0 0 3px #23BFD5;
    outline:none;
}
.action-controller-login-auth #usercontent .form .row.rememberMe {
    float:left;
    width:257px;
    margin:0 0 0 10%;
    overflow: hidden;
}
.action-controller-login-auth #usercontent .form .row.rememberMe input[type="checkbox"] {
    margin-top:18px;
}
.action-controller-login-auth #usercontent .form .row.submit {
    clear:none;
    float:left;
    margin-top:0;
    margin-left:66px;
}
.action-controller-login-auth #usercontent .form .row.submit input[type="submit"] {
    background: url("../img/icon-btn-notify.png") no-repeat 15px 50% #146672;
    border: none;
    border-radius: 4px;
    color: #FFFFFF;
    text-align: left;
    padding:15px 25px 15px 42px;
    font:14px "ProximaNova-Bold";
}
.action-controller-login-auth #usercontent .form .row.submit input[type="submit"]:hover {
    background-color: #0C8FA0;
}