.manual-window .page .dual-page {
    padding: 10px 0 5px 25px;
    width: 915px;
}

@media (max-width: 1280px), (max-height: 750px) {
    .manual-window .page .dual-page {
        padding: 5px 0 5px 18px;
        width: 742px;
    }
}