.features form div input[type=text], .registrationform input[type=text], .registrationform input[type=password], .inputtext,
.profileform input[type=text], .profileform input[type=password] {
    background:#fff;
    border:1px solid #3e5259;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    -moz-box-shadow:10px 4px 10px rgba(0,0,0,0.1) inset;
    -webkit-box-shadow:10px 4px 10px rgba(0,0,0,0.1) inset;
    box-shadow:10px 4px 10px rgba(0,0,0,0.1) inset;
    color:#036675;
    line-height:1;
    outline:none;
}
.features form div input[type=text], .registrationform input[type=text], .registrationform input[type=password] {
    font:0.953em "ProximaNova-Regular";
    width:197px;
    padding:14px 16px 14px 17px;
}
.registrationform input[type=text], .registrationform input[type=password] {
    font-size:1.14em;
}
.features form div input[type=submit], .profileform input[type=submit], .inputsubmit  {
    background:#146672 url("../img/icon-btn-notify.png") no-repeat;
    border:none;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    color:#fff;
    text-align:left;
    vertical-align:top;
}
.features form div input[type=submit] {
    background-position: 17px 13px;
    font:1.214em "ProximaNova-Bold";
    height:46px;
    padding:0 16px 0 42px;
}
.features form div input[type=text]:focus, .registrationform input[type=text]:focus, .registrationform input[type=password]:focus{
    border-color:#23bfd5;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    -moz-box-shadow:10px 4px 10px rgba(0,0,0,0.1) inset, 0 0 3px #23bfd5;
    -webkit-box-shadow:10px 4px 10px rgba(0,0,0,0.1) inset, 0 0 3px #23bfd5;
    box-shadow:10px 4px 10px rgba(0,0,0,0.1) inset, 0 0 3px #23bfd5;
}
/* ************************* REGISTRATION ************************* */
.registrationform {
    margin: 0 auto;
    width: 900px;
}
.registrationform input[type=text], .registrationform input[type=password] {
    color:#146672;
    height:24px;
}
.registrationform input[type=text] {
    width:226px;
}
.registrationform input[type=password] {
    width:166px;
}
.registrationform .errorMessage {
    margin-top: 6px;
    width:200px;
}
.errorlongMessage {
    clear:both;
    padding-top:10px;
}
.registrationform input[type=text]:focus, .registrationform input[type=password]:focus {
    border-width:3px;
    height:20px;
}
.registrationform input[type=text]:focus {
    width:222px;
}
.registrationform input[type=password]:focus {
    width:162px;
}

.registrationform input[type=submit], .bigbtnsubmt {
    background:#146672 url("../img/icon-circlarow.png") no-repeat 38px 16px;
    border:none;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    display: inline-block;
    font-size:1.7em;
    color:#fff;
    text-align:left;
    height:54px;
    vertical-align:top;
}
.registrationform input[type=submit] {
    padding:0 16px 0 66px;
    width: 184px;
}
.bigbtnsubmt, .bigbtnsubmt:link, .bigbtnsubmt:visited {
    color:#fff;
    line-height:54px;
    padding:0 40px 0 66px;
    text-decoration: none;
    width: auto;
}
.registrationform .row {
    float:left;
    margin-left: 11px;
}
.registrationform .row:first-child {
    margin-left:0px;
}
.transparent-boder {
    background: rgba(255, 255, 255, 0.2);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    padding: 10px;
}
.transparent-boder:after, .dashboard:after, .registerpads:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.yellowbg {
    background: #fdfbc6;
}
.radiusthree {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.registrationform .transparent-boder:first-child {
    margin-bottom:30px;
}
.registrationform h3 {
    color: #555545;
    font: 2.4em "ProximaNova-Bold";
    margin:8px 0px 7px;
}
.registrationform ul {
    float: left;
    width:550px;
}
.registrationform li {
    color: #555545;
    font-size:1.5em;
    line-height:100%;
    list-style-type: none;
    margin-bottom: 8px;
}
.icon-check {
    background:url("../img/icon-checklarge.png") no-repeat;
}
.icon-chooce {
    background:url("../img/icon-chooce.png") no-repeat left bottom;
    text-decoration:none;
    color:#555545 !important;
    font-weight:bold;
    text-indent:35px;
    line-height:140px;
}
.icon-mail {
    background:url("../img/iconmaillarge.png") no-repeat;
}
.icon-choose {
    background:url("../img/icon-choose.png") no-repeat;
    color: #555545;
    font: 1.2em "ProximaNova-Bold";
    line-height: 123px;
    text-indent: 37px;
    text-decoration: none;
}
.registerpads {
    padding:20px 0px 30px 30px; /* padding:20px 0px 30px 185px; */
}
.regicon {
    display: block;
    float: left;
    height:133px;
    margin: 8px 22px 0px 0px;
    width: 133px;
}
.testtime {
    background: url("../img/tziferblat.png") no-repeat;
    color: #146672;
    float: right;
    font-family: "ProximaNova-Bold";
    height: 82px;
    margin:-54px 20px 0px 0px;
    padding: 17px 16px 10px;
    text-align: center;
    width:50px;
}
.testtime strong {
    color: #146672;
    font: 2.6em "ProximaNova-Bold";
    line-height: 90%;
}
.registrationform input[type="text"]::-webkit-input-placeholder, .registrationform input[type="password"]::-webkit-input-placeholder {
     color:#146672;
 }
.registrationform input[type="text"]::-moz-placeholder, .registrationform input[type="password"]::-moz-placeholder {
    color:#146672;
}
.registrationform input[type="text"]:-ms-input-placeholder, .registrationform input[type="password"]:-ms-input-placeholder {
    color:#146672;
}
.registrationform input[type="text"]:-moz-placeholder, .registrationform input[type="password"]:-moz-placeholder {
    color:#146672;
}

.text-center {
    text-align: center;
}
.longercontent {
    width: 900px;
}
/* ************************* /REGISTRATION ************************* */

/************************************ PERSONAL PROFILE *******************************************/
#account-personal-personal-form span.required, #account-corporate-password-form span.required {
    display: none;
}
.profilewrap ul.profile-menu {
    width: 250px;
}
.profile-menu li {
    background: #fdfcc6 url("../img/menutopbg.png") repeat-x top;
    list-style-type: none;
}
.profile-menu li.active {
    background:#fff url("../img/menutopbg.png") repeat-x top;
}
.profile-menu li:first-child {
    background-image: none;
}
.profile-menu li:first-child, .profile-menu li:first-child a {
    -webkit-border-radius: 3px 3px 0px 0px;
    -moz-border-radius: 3px 3px 0px 0px;
    border-radius: 3px 3px 0px 0px;
}
.profile-menu li:last-child, .profile-menu li:last-child a {
    -webkit-border-radius: 0px 0px 3px 3px;
    -moz-border-radius: 0px 0px 3px 3px;
    border-radius: 0px 0px 3px 3px;
}
.profile-menu a {
    background: url("../img/menuarrows.png") no-repeat 234px -92px;
    display: block;
    font-size: 18px;
    padding: 12px 20px 12px 12px;
    text-decoration: none;
}
.profile-menu a, .profile-menu a:link, .profile-menu a:visited {
    color: #555742;
}
.profile-menu a:hover, .profile-menu li.active a {
    background-position: 234px 16px;
}
.profile-menu .active a, .profile-menu .active a:link, .profile-menu .active a:visited {
    color: #245057;
}
.profileform {
    float: right;
    padding: 26px;
    width: 608px;
}
.profileform  .row {
    clear: both;
    padding-bottom: 20px;
}
.profileform  label {
    float: left;
    font-size: 16px;
    padding: 6px 10px 0px 0px;
    width: 170px;
}
#account-corporate-password-form  label {
    font-size: 14px;
    width: 150px;
}
.profileform  .small input[type="text"] {
    width: 50px;
}
.profileform .blueinputtext input[type="text"] {
    color:#46b8c9;
}
.profileform  .sbHolder {
    height:23px;
    width: 350px;
}
#UserAccountPersonal_location {
    width: 340px;
}
#UserAccountCorporate_company_description {
    height: 100px;
    padding: 5px;
    width: 392px;
}
.profileform {
    background: #f3ffff;
}
.profileform input[type=text], .profileform input[type=password] {
    height: 24px;
    line-height: 24px;
    padding: 3px 4px;
}
.profileform input[type=password] {
    width:205px;
}
.profileform input+input {
    margin-left: 10px;
}
.cposwrap {
    margin:17px 0px 10px 0px;
}
#profile_firstname, #profile_lastname, #UserAccountCorporate_company_name {
    width:158px;
}
.profileform input[type=submit] {
    background-position: 20px 18px;
    font: 19px "ProximaNova-Bold";
    height:54px;
    line-height: 20px;
    margin-top: 10px;
    padding: 0px 20px 0px 48px;
}
.profileform textarea {
    background:#fff;
    border:1px solid #3e5259;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    -moz-box-shadow:10px 4px 10px rgba(0,0,0,0.1) inset;
    -webkit-box-shadow:10px 4px 10px rgba(0,0,0,0.1) inset;
    box-shadow:10px 4px 10px rgba(0,0,0,0.1) inset;
    color:#036675;
    width:340px;
}
.value {
    display: inline-block;
    padding-top:6px;
    font-family: "ProximaNova-Bold";
}
.rowup {
    margin-top: -10px;
}
.lbluelink, .lbluelink:link, .lbluelink:visited {
    color:#1190a2;
}
.blueplaceholder input[type="text"]::-webkit-input-placeholder {
    color:#1d7885;
}
.blueplaceholder input[type="text"]::-moz-placeholder {
    color:#1d7885;
}
.blueplaceholder input[type="text"]:-ms-input-placeholder {
    color:#1d7885;
}
.blueplaceholder input[type="text"]:-moz-placeholder {
    color:#1d7885;
}
#UserAccountCorporate_ownership_type {
    width:120px;
}
#UserAccountCorporate_company_name {
    width:250px;
}
#account-corporate-company-info-form .sbHolder {
    width:240px;
}
.rowindustry .sbSelector {
    text-overflow: ellipsis;
    width:95%;
}
/************************************ /PERSONAL PROFILE *******************************************/