#simulation-details-pop-up h1, #simulation-details-pop-up h2 {
    color: #3d4041;
}
#simulation-details-pop-up h1 {
    padding: 25px 0px 15px;
}
#simulation-details-pop-up .ui-widget-content {
   /*border:none;*/
   padding: 0px;
}
#simulation-details-tabs {
    /*border:none;*/
}
#simulation-details {
    background: none;
    border: none;
    padding: 0px;
}
#simulation-details-tabs li {
    background: #7eb2b9;
    background-image: none;
    border:none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    outline: none;
}
#simulation-details-tabs a {
    background-image: none;
    font: 1.071em "ProximaNova-Regular";
    color: #fff;
}
#simulation-details-tabs .ui-tabs-selected, #simulation-details-tabs .ui-state-active {
    background: #4d8d96 !important;
    outline: none;
}
.action-controller-personal-static-dashboard #simulation-details-pop-up {
    padding: 0px;
}
.chart-gauge {
    float: left;
}
.gauge-charts:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.bar-charts, .bullet-charts {
    display: none !important;
}
