#simulation-details-pop-up h1, #simulation-details-pop-up h2 {
    color: #3d4041;
}
#simulation-details-pop-up .ui-widget-content {
   padding: 0px;
}
#simulation-details-tabs {
    border:none;
}
#simulation-details {
    background-image: none;
}
#simulation-details li {
    background: #7eb2b9;
    border:none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
#simulation-details a {
    font: 1.071em "ProximaNova-Regular";
    color: #fff;
}
#simulation-details .ui-tabs-selected {
    background: #4d8d96;
}
.bar-charts, .bullet-charts, .chart-gauge {
    display: none !important;
}