.planner-book-timetable-table {
  .planner-book-timetable-time-fl {
    border-right: dotted 1px;
  }
  tr:nth-child(4n), tr:nth-child(4n+3) {
    .planner-book-timetable-event-fl {
      border-top: dotted 1px #D9D9CB;
      background-color: #F6F6FD;
    }
    .planner-book-timetable-time-fl {
      background-color: #F6F6FD;
    }
  }
  tr:nth-child(2n) .planner-book-timetable-event-fl {
    border: none;
  }
}