.flash-pop-up {
    background: #e8f7f7;
    border: none;
    box-shadow: 0 0 0 8px rgba(255, 255, 255, 0.2);
    left: 50% !important;
    margin-left: -284px !important;
    padding: 20px 14px;
    text-align: center;
    top:140px !important;
}
.flash-pop-up {
    overflow: visible;
    width:540px !important;
}
.flash-pop-up .ui-dialog-content {
    margin:0px;
    padding: 0px !important;
}
.flash-pop-up .popupclose {
    display: block;
    position: absolute;
    right:-28px;
    top:-38px;
    z-index:100000;
}
.flash-pop-up .ui-dialog-content p {
    color:#3d4041;
    font-family:"ProximaNova-Regular";
    font-size:17px !important;
    line-height: 140%;
}
.flash-pop-up a {
    color: #2d7b91;
    text-decoration: none;
}
/*
.controller-static-dashboard .flash  {
    height:147px !important;
}
*/
.terms-page {
    background: #fff;
    top:50px !important;
    width: 840px !important;
}
.terms-page h1, .terms-page h2, .terms-page h3 {
    color: #3d4041;
    margin-bottom: 20px;
}
.terms-page h1 {
    text-align: center;
}
.terms-page h2 {
    font: 21px "ProximaNova-Regular";
}
.terms-page h3 {
    font: 16px "ProximaNova-Bold";
}
.terms-page .ui-dialog-content p {
    color: #3d4041;
    font: 14px "ProximaNova-Regular";
    line-height: 140%;
    margin-bottom: 20px;
}
.terms-page .ui-dialog-content {
    margin-top: -5px;
    padding-top: 0px;
}

@media screen and (max-width: 1146px){
    .flash-pop-up {
        overflow: visible;
        width:500px !important;
    }
    .flash-pop-up .ui-dialog-content p {
        font-size:15px !important;
    }
    .terms-page {
        left:50%;
        margin-left:-340px;
        width: 660px !important;
    }
    .terms-page h1 {
        font-size: 2em;
    }
    .terms-page h2 {
        font-size: 18px;
    }
    .terms-page h3 {
        font-size: 14px;
    }
    .terms-page .ui-dialog-content p {
        font-size: 12px;
        margin-bottom: 16px;
    }
    /*
    .controller-static-dashboard .flash  {
        height:121px !important;
    }
    */
}