@-webkit-keyframes blinker {
  from {
    opacity: 1.0;
  }
  to {
    opacity: 0.0;
  }
}

@keyframes blinker {
  from {
    opacity: 1.0;
  }
  to {
    opacity: 0.0;
  }
}

.canvas {
  width: 100%;
  overflow: hidden;
  height: 100%;
  min-width: 1000px;
  min-height: 600px;
  background-repeat: no-repeat;
  background-size: 100% auto;
  user-select: none;
  .sim-window {
    .sim-window-container {
      header {
        height: 46px;
        border: solid 2px #000000;
        border-bottom: none;
        background: -moz-linear-gradient(top, #7f7d7d, #2e2d2d);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7f7d7d), color-stop(100%, #2e2d2d));
        background: -webkit-linear-gradient(top, #7f7d7d, #2e2d2d);
        background: -o-linear-gradient(top, #7f7d7d, #2e2d2d);
        background: -ms-linear-gradient(top, #7f7d7d, #2e2d2d);
        background: linear-gradient(top, #7f7d7d, #2e2d2d);
        float: none;
      }
      .header-inner {
        height: 100%;
        background-image: url('../img/window-title-dots.png');
        border: solid 2px rgba(255, 255, 255, 0.3);
        border-bottom: none;
        vertical-align: middle;
        h1 {
          font-family: orbi_sansregular;
          text-transform: uppercase;
          font-weight: normal;
          color: white;
          padding-left: 9px;
          padding-top: 2px;
          float: left;
        }
        .btn-window {
          top: 14px;
          right: 0;
        }
      }
    }
  }
  .main-screen-icons {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    ul {
      height: 567px;
    }
    ul li:hover {
      background-position: 0 -140px;
    }
  }
  .main-screen-stat {
    margin-top: 10px;
    height: 28px;
  }

  .main-screen-icons {
    ul li {
      z-index: 2;
    }
    .only-active {
      filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
      filter: gray; /* IE6-9 */
      -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
    }

    ul li.only-active:hover {
      background-position: 0 0;
    }
    ul li.only-active a:hover {
      cursor: default;
    }
    ul li.only-active.icon-active a:hover {
      cursor: pointer;
    }
    ul li.only-active.icon-active:hover {
      background-position: 0 -140px;
    }
    .only-active.icon-active {
      filter: none;
      -webkit-filter: none;
    }
  }

  .time .delimiter {
    -webkit-animation-name: blinker;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: cubic-bezier(1.0, 0, 0, 1.0);
    -webkit-animation-duration: 1s;
    -webkit-animation-name: blinker;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(1.0, 0, 0, 1.0);
    animation-duration: 1s;
    animation-name: blinker;
  }

  .char-reply {
    list-style: none;
    margin: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 20px;
  }

  .char-reply li a, .phone-reply-h li a {
    color: black;
    text-decoration: none;
    display: block;
  }

  .char-reply li {
    background: #b2a283;
    background: -moz-linear-gradient(top, #b2a283, #b8a989);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #b2a283), color-stop(100%, #b8a989));
    background: -webkit-linear-gradient(top, #b2a283, #b8a989);
    background: -o-linear-gradient(top, #b2a283, #b8a989);
    background: -ms-linear-gradient(top, #b2a283, #b8a989);
    background: linear-gradient(top, #b2a283, #b8a989);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    width: 427px;
    height: auto;
    padding: 2px;
    margin-top: 9px;
    text-align: left;
    cursor: pointer;

  }
  .visitor-replica {
    position: absolute;
    top: 10px;
    left: 50%;
    width: 473px;
  }
  .char-reply {
    left: auto;
    right: 50%;
  }
  .visit-background-container {
    width: 100%;
    min-height: 600px;
    background-color: rgba(0, 0, 0, 0.7);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    text-align: center;
  }
  img.visit-background {
    z-index: 0;
  }
  .visit-background {
    display: inline-block;
    width: auto;
    height: 100%;
    min-width: 1000px;
    min-height: 600px;
    z-index: 10;
  }
  #dialogControllerMainDiv {
    height: 100%;
    position: relative;

    .visitor-reply {
      background: #b2a283;
      background: -moz-linear-gradient(top, #b2a283, #b8a989);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #b2a283), color-stop(100%, #b8a989));
      background: -webkit-linear-gradient(top, #b2a283, #b8a989);
      background: -o-linear-gradient(top, #b2a283, #b8a989);
      background: -ms-linear-gradient(top, #b2a283, #b8a989);
      background: linear-gradient(top, #b2a283, #b8a989);
      -webkit-border-radius: 16px;
      -moz-border-radius: 16px;
      border-radius: 16px;
      margin-right: 110px;
      margin-left: auto;
      margin-top: 10px;
      width: 661px;
      text-align: left;
      padding: 2px;
    }

  }
  .phone-screen .mCSB_container {
    margin-right: 0;
  }

}

.simulation-controls {
  width: 980px;
  margin: auto;
}