/*  ************************ SITE ************************/
.empty-footer {
    border: 1px solid #ff00ff;
    height: 300px;
}
.site-footer {
    background:url("../img/site-footer.png") no-repeat center bottom;
    border: 1px solid #ffff00;
    height:381px;
}
/*  ************************ /SITE ************************/