/* --------------- reset.css --------------- */
html, body, div, span, h1, h2, h3, h4, h5, h6, p, em, img, strong, sub, sup, b, u, i,  dl, dt, dd, ol, ul, li, fieldset, form, label, table, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: baseline;
	background: transparent;
	font-size: 100%;
}
a {                                      	
	margin:0;
	padding:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;
}
table {						
	border-collapse: collapse; 
	border-spacing: 0;
}
td, td img {
	vertical-align: top;			
} 
input, select, button, textarea {
	margin: 0; 				
	font-size: 100%; 			
}
input[type="text"], input[type="password"], textarea {
	padding: 0; 				
}
input[type="checkbox"] { 		
	vertical-align: bottom;
}
input[type="radio"] {
	vertical-align: text-bottom;
}
sub {
	vertical-align: sub;
	font-size: smaller;
}
sup {
	vertical-align: super;
	font-size: smaller;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display:block;
}
nav ul {
	 list-style:none;
}
/* --------------- /reset.css --------------- */

/* --------------- main styles ---------*/
@font-face {font-family: 'ProximaNova-Regular';src: url('../fonts/24F05C_4_0.eot');src: url('../fonts/24F05C_4_0.eot?#iefix') format('embedded-opentype'),url('../fonts/24F05C_4_0.woff') format('woff'),url('../fonts/24F05C_4_0.ttf') format('truetype');}
@font-face {font-family: 'ProximaNova-Bold';src: url('../fonts/24F05C_5_0.eot');src: url('../fonts/24F05C_5_0.eot?#iefix') format('embedded-opentype'),url('../fonts/24F05C_5_0.woff') format('woff'),url('../fonts/24F05C_5_0.ttf') format('truetype');}
@font-face {font-family: 'SegoePrint';src: url('../fonts/25D0FC_0_0.eot');src: url('../fonts/25D0FC_0_0.eot?#iefix') format('embedded-opentype'),url('../fonts/25D0FC_0_0.woff') format('woff'),url('../fonts/25D0FC_0_0.ttf') format('truetype');}
html {
	overflow-y: scroll;
}
html, body {
	height: 100%;
}
body {
	line-height: 1;
	background: #e8f7f7 url("../img/bg-top.jpg") no-repeat center top;
	color: #29313d;
	text-align: left;
	font: 14px "ProximaNova-Regular", Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
	line-height:14px;
}
body.inner{
	background-image:url("../img/bg-top-inner.jpg");
}
body.inner-team{
	background-image:url("../img/bg-top-inner-team.jpg");
}
body.inner-registration{
	background-image:url("../img/bg-top-registration.jpg");
}
@media screen and (max-width: 1280px){
	body{
		background: #e8f7f7 url("../img/bg-top-min.jpg") no-repeat center top;
	}
	body.inner{
		background-image:url("../img/bg-top-inner-min.jpg");
	}
	body.inner-team{
		background-image:url("../img/bg-top-inner-team-min.jpg");
	}
}
.container{
	min-height:100%;
}

.action-controller-comingSoonSuccess-static-pages .container,
.action-controller-index-static-pages .container{
	background:url("../img/bg-heroes.png") no-repeat center 2px;
}
.inner-registration .container{
	min-height: auto;
	height:966px;
}
@media screen and (max-width: 1280px){
    .action-controller-comingSoonSuccess-static-pages .container,
    .action-controller-index-static-pages .container{
		background:url("../img/bg-heroes-min.png") no-repeat center 2px;
	}
}
input, select, button, textarea {
	font-family: "ProximaNova-Regular", Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
}
label, input[type="button"], input[type="submit"], button {
	cursor: pointer;
}
a, a:visited {
	color: #287fc3;
	text-decoration: underline;
}
a:hover {
	color: #287fc3;
	text-decoration: none;
}
a:focus, a:active {
	color: #287fc3;
	text-decoration: underline;
}
.content{
	width:948px;
	margin:0 auto;
	overflow:hidden;
	position:relative;
	padding-bottom:287px;
}

.action-controller-comingSoonSuccess-static-pages .container .content,
.action-controller-index-static-pages .container .content{
	height:1157px;
}
@media screen and (max-width: 1280px){
	.content{
		width:945px; /* width:925px;  */
		padding-bottom:310px;
	}

    .action-controller-comingSoonSuccess-static-pages .container .content,
    .action-controller-index-static-pages .container .content{
		height:1117px;
	}
}
/* --------------- /main styles ---------*/

/* --------------- select ---------*/
.sbHolder {
	display:inline-block;
	background: #54c4d4;
    background: -moz-linear-gradient(top, #54c4d4, #2ea6b7);
    background: -webkit-gradient(linear, left top, left bottom,color-stop(0%,#54c4d4), color-stop(100%,#2ea6b7));
    background: -webkit-linear-gradient(top, #54c4d4, #2ea6b7);
    background: -o-linear-gradient(top, #54c4d4, #2ea6b7);
    background: -ms-linear-gradient(top, #54c4d4, #2ea6b7);
    background: linear-gradient(top, #54c4d4, #2ea6b7);
	border: solid 1px #0d5159;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	font:0.9em 'ProximaNova-Regular';
	position: relative;
	height: 23px;
	color: #fff;
	vertical-align:middle;
}
.sbHolder:focus .sbSelector{
	color: #fff;
}
.sbSelector{
	display: block;
	line-height: 22px;
	outline: none;
	overflow: hidden;
	text-indent: 5px;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
.sbSelector:link, .sbSelector:visited, .sbSelector:hover{
	color: #fff;
	outline: none;
	text-decoration: none;
}
.sbToggle{
	background: url("../img/bg-select-toggle.png") no-repeat 0 0;
	display: block;
	-webkit-border-top-right-radius:5px;
	-webkit-border-bottom-right-radius:5px;
	-moz-border-radius-topright:5px;
	-moz-border-radius-bottomright:5px;
	border-top-right-radius:5px;
	border-bottom-right-radius:5px;
	height: 23px;
	outline: none;
	position: absolute;
	right: 0px;
	top: 0px;
	width: 19px;
}
.sbToggleOpen{
	background: url("../img/bg-select-toggle.png") no-repeat 0 -24px;
}
.sbOptions{
	background: #fff;
	border: solid 1px #000;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	list-style: none;
	left: -1px;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 30px;
	width: 100%;
	z-index:1;
	overflow-y: auto;
}
.sbOptions li{
    background: #31a8b9;
	padding: 0px 2px;
}
.sbOptions li:hover {
    background: #ceffff;
}
.sbOptions a{
	/*border-bottom: dotted 1px #999;*/
    color:#fff;
	display: block;
	outline: none;
	padding: 2px 0 3px 8px;
    text-decoration: none;
}
.sbOptions li:hover a {
    color:#3c3c32;
}
/*.sbOptions a:link, .sbOptions a:visited{
	color: #000;
	text-decoration: none;
}
.sbOptions a:hover,.sbOptions a:focus,.sbOptions a.sbFocus{
	color: #cc0000;
}*/
.sbOptions li.last a{
	border-bottom: none;
}
.sbOptions .sbDisabled{
	border-bottom: dotted 1px #515151;
	color: #999;
	display: block;
	padding: 7px 0 7px 3px;
}
.sbOptions .sbGroup{
	border-bottom: dotted 1px #515151;
	color: #EBB52D;
	display: block;
	font-weight: bold;
	padding: 7px 0 7px 3px;
}
.sbOptions .sbSub{
	padding-left: 17px;
}
@media screen and (max-width: 1280px){
	.sbHolder {
		height:17px;
		font-size:0.667em;
	}
	.sbSelector{
		line-height: 17px;
		text-indent: 4px;
	}
	.sbToggle{
		background-image:url("../img/bg-select-toggle-min.png");
		height: 17px;
		width: 13px;
	}
	.sbToggleOpen{
		background: url("../img/bg-select-toggle-min.png") no-repeat 0 -17px;
	}
}
/* --------------- /select ---------*/

/* --------------- header ---------*/
.container>header{
	width:948px;
	height:88px;
	margin:0 auto;
	padding-top:39px;
	position:relative;
}
.container>header h1{
	background:url("../img/logo-header.png") no-repeat 0 0;
	width:222px;
	height:58px;
}
.container>header h1 a{
	display:block;
	width:inherit;
	height:inherit;
	text-indent:-9999px;
}
.container>header .coming-soon{
	background:url("../img/icon-coming-soon.png") no-repeat 0 0;
	width:157px;
	height:42px;
	font:1.286em 'ProximaNova-Bold';
	color:#fff;
	line-height:40px;
	text-indent:18px;
	text-shadow:rgba(136,39,39,0.53) 0 1px 2px;
	position:absolute;
	top:26px;
	left:235px;
}
.container>header .language{
	position:absolute;
	top:18px;
	right:0;
}
.container>header .language a{
	color:#fff;
	text-decoration:none;
}
.container>header .language a:hover{
	text-decoration:underline;
}
.container>header nav{
	position:absolute;
	top:60px;
	right:0;
}
#simulation-details{
    float: right;
}
.container>header nav#account-links{
    position:absolute;
    top:100px;
    right:0;
}
#simulation-details label,
.container>header nav a {
	display:block;
	background:rgba(20,102,114,0.4);
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	font:1.071em "ProximaNova-Regular";
	color:#fff;
	text-decoration:none;
	line-height:1.800em;
	float:left;
	margin-left:9px;
	padding:0 8px;
}
.container>header nav a:first-child,
#simulation-details label:first-child {
	margin-left:0;
}
.container>header nav a.active,
.container>header nav a:hover,
#simulation-details label.active,
#simulation-details label:hover{
	background:rgba(20,102,114,1);
}
@media screen and (max-width: 1280px){
	.container>header{
		width:765px;
		height:58px;
		padding-top:38px;
	}
	.container>header h1{
		background:url("../img/logo-header-min.png") no-repeat 0 0;
		width:178px;
		height:47px;
	}
	.container>header .coming-soon{
		background:url("../img/icon-coming-soon-min.png") no-repeat 0 0;
		width:153px;
		height:41px;
		font-size:1.143em;
		top:10px;
		left:222px;
	}
	.container>header .language{
		font-size:0.692em;
		top:11px;
	}
	.container>header nav{
		top:50px;
	}
	.container>header nav a{
		font-size:0.858em;
		line-height:1.571em;
	}
    .container>header nav#account-links{
        top:78px;
    }
}
/* --------------- /header ---------*/

/* --------------- heroes comments ---------*/
.heroes-comment{
	font:12px/22px 'SegoePrint';
	color:rgba(20,102,114,0.6);
	width:190px;
	position:absolute;
}
.heroes-comment.right{
	-moz-transform:rotate(-27deg);
    -ms-transform:rotate(-27deg);
    -webkit-transform:rotate(-27deg);
    -o-transform:rotate(-27deg);
    transform:rotate(-27deg);
	top:648px;
	left:50%;
	margin-left:504px;
}
.heroes-comment.left{
	-moz-transform:rotate(30deg);
    -ms-transform:rotate(30deg);
    -webkit-transform:rotate(30deg);
    -o-transform:rotate(30deg);
    transform:rotate(30deg);
	top:762px;
	left:50%;
	margin-left:-610px;
}
@media screen and (max-width: 1280px){
	.heroes-comment{
		display:none;
	}
}
/* --------------- /heroes comments ---------*/

/* --------------- features ---------*/
.features{
	width:789px;
	overflow:hidden;
}
.features h2, .thetitle {
	font:2.619em "ProximaNova-Bold";
	color:#fff;
	line-height:1.182em;
	text-shadow:rgba(0,0,0,0.14) 0 0 8px;
}
.thetitle {
    font:2.87em "ProximaNova-Bold";
    margin-bottom: 20px;
}
.bigtitle {
    font-size: 3.4em;
}
.thetitle span {
    text-transform: uppercase;
}
.features .video{
	background:url("../img/img-video.png") no-repeat 0 0;
	width:396px;
	height:211px;
	text-align:center;
	float:right;
	margin-top:30px;
}
.features .video p{
	display:inline-block;
	background:rgba(20,102,114,0.9);
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	font:1.214em "ProximaNova-Bold";
	color:#fff;
	line-height:2.353em;
	margin-top:134px;
	padding:0 16px;
}
.features ul{
	list-style:none;
	margin-top:24px;
}
.features ul li{
	background:url("../img/icon-features.png") no-repeat 0 0;
	font:1.191em "ProximaNova-Regular";
	color:#fff;
	text-shadow:rgba(0,0,0,0.14) 0 0 8px;
	min-height:18px;
	margin-bottom:7px;
	padding-left:25px;
}
.features ul li:last-child{
	margin-bottom:0;
}
.features form{
	height:46px;
	margin-top:20px;
}
.features form div{
	float:left;
	position:relative;
	margin-right:7px;
}
.features form div input[type=text], .registrationform input[type=text], .registrationform input[type=password], .inputtext,
.profileform input[type=text], .profileform input[type=password] {
	background:#fff;
	border:1px solid #3e5259;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	-moz-box-shadow:10px 4px 10px rgba(0,0,0,0.1) inset;
    -webkit-box-shadow:10px 4px 10px rgba(0,0,0,0.1) inset;
    box-shadow:10px 4px 10px rgba(0,0,0,0.1) inset;
    color:#036675;
    line-height:1;
    outline:none;
}
.features form div input[type=text], .registrationform input[type=text], .registrationform input[type=password] {
    font:0.953em "ProximaNova-Regular";
    width:197px;
    padding:14px 16px 14px 17px;
}
.registrationform input[type=text], .registrationform input[type=password] {
    font-size:1.14em;
}
.features form div input[type=submit], .profileform input[type=submit], .inputsubmit  {
    background:#146672 url("../img/icon-btn-notify.png") no-repeat;
    border:none;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    color:#fff;
    text-align:left;
    vertical-align:top;
}
.features form div input[type=submit] {
    background-position: 17px 13px;
    font:1.214em "ProximaNova-Bold";
    height:46px;
    padding:0 16px 0 42px;
}
.features form div input[type=text]:focus, .registrationform input[type=text]:focus, .registrationform input[type=password]:focus{
	border-color:#23bfd5;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	-moz-box-shadow:10px 4px 10px rgba(0,0,0,0.1) inset, 0 0 3px #23bfd5;
    -webkit-box-shadow:10px 4px 10px rgba(0,0,0,0.1) inset, 0 0 3px #23bfd5;
	box-shadow:10px 4px 10px rgba(0,0,0,0.1) inset, 0 0 3px #23bfd5;
}
/* ************************* REGISTRATION ************************* */
.registrationform {
    margin: 0 auto;
    width: 900px;
}
.registrationform input[type=text], .registrationform input[type=password] {
    color:#146672;
    height:24px;
}
.registrationform input[type=text] {
    width:226px;
}
.registrationform input[type=password] {
    width:166px;
}
.registrationform .errorMessage {
    margin-top: 6px;
    width:200px;
}
.errorlongMessage {
    clear:both;
    padding-top:10px;
}
.registrationform input[type=text]:focus, .registrationform input[type=password]:focus {
    border-width:3px;
    height:20px;
}
.registrationform input[type=text]:focus {
    width:222px;
}
.registrationform input[type=password]:focus {
    width:162px;
}

.registrationform input[type=submit] {
    background:#146672 url("../img/icon-circlarow.png") no-repeat 38px 16px;
    border:none;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    font-size:1.7em;
    color:#fff;
    text-align:left;
    height:54px;
    vertical-align:top;
    padding:0 16px 0 66px;
    width: 184px;
}
.registrationform .row {
   float:left;
   margin-left: 11px;
}
.registrationform .row:first-child {
    margin-left:0px;
}
.transparent-boder {
    background: rgba(255, 255, 255, 0.2);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    padding: 10px;
}
.transparent-boder:after, .dashboard:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.yellowbg {
    background: #fdfbc6;
}
.radiusthree {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.registrationform .transparent-boder:first-child {
    margin-bottom:30px;
}
.registrationform h3 {
    color: #555545;
    font: 2.4em "ProximaNova-Bold";
    margin:8px 0px 7px;
}
.registrationform ul {
    width:550px;
}
.registrationform li {
    color: #555545;
    font-size:1.5em;
    line-height:100%;
    list-style-type: none;
    margin-bottom: 8px;
}
.registermessage {
    background: #fdfbc6 url("../img/icon-checklarge.png") no-repeat 30px 28px;
    padding:20px 0px 30px 185px;
}
.testtime {
    background: url("../img/tziferblat.png") no-repeat;
    color: #146672;
    float: right;
    font-family: "ProximaNova-Bold";
    height: 82px;
    margin:-54px 20px 0px 0px;
    padding: 17px 16px 10px;
    text-align: center;
    width:50px;
}
.testtime strong {
    color: #146672;
    font: 2.6em "ProximaNova-Bold";
    line-height: 90%;
}
.registrationform input[type="text"]::-webkit-input-placeholder, .registrationform input[type="password"]::-webkit-input-placeholder {
    color:#146672;
}
.registrationform input[type="text"]::-moz-placeholder, .registrationform input[type="password"]::-moz-placeholder {
    color:#146672;
}
.registrationform input[type="text"]:-ms-input-placeholder, .registrationform input[type="password"]:-ms-input-placeholder {
    color:#146672;
}
.registrationform input[type="text"]:-moz-placeholder, .registrationform input[type="password"]:-moz-placeholder {
    color:#146672;
}
/* ************************* /REGISTRATION ************************* */
html[lang=ru] .features form div input[type=text]{
	width:153px;
}
html[lang=ru] .features form div input[type=submit]{
	font-size:0.929em;
}
.features form div .error{
	background:url("../img/bg-form-error.png") no-repeat 63px bottom;
	padding-bottom:19px;
	position:absolute;
	top:-36px;
	left:0;
}
.features form div .error span{
	display:block;
	background:url("../img/bg-form-error-inner.png") repeat-x scroll 0 0 #E66B66;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	font:1em "ProximaNova-Regular";
	color:#fff;
	line-height:2.214em;
	padding:0 30px;
}
.features p.success{
	font:2.144em "ProximaNova-Regular";
	color:#146672;
	line-height:1.500em;
	margin-top:23px;
}

@media screen and (max-width: 1280px){
	.features{
		width:738px;
		margin-top:27px;
	}
	.features h2 {
		font-size:2.538em;
	}
    .thetitle {
        font-size:2.77em;
    }
	.features .video{
		background-image:url("../img/img-video-min.png");
		width:375px;
		height:200px;
		margin-top:30px;
	}
	.features .video p{
		font-size:0.929em;
		line-height:2.385em;
		margin-top:125px;
		padding:0 11px;
	}
	.features ul{
		list-style:none;
		margin-top:24px;
	}
	html[lang=ru] .features ul{
		width:350px;
	}
	.features ul li{
		background:url("../img/icon-features-min.png") no-repeat 0 center;
		font-size:1.154em;
		padding-left:26px;
	}
	.features form{
		height:54px;
	}
	.features form div{
		margin-right:8px;
	}
	.features form div input[type=text]{
		width:195px;
	    padding:14px 5px 13px;
	}
	.features form div input[type=submit] {
		background-image:url("../img/icon-btn-notify-min.png");
		background-position:13px 15px;
		font-size:0.929em;
		height:44px;
		padding:0 12px 0 32px;
	}
}
/* --------------- /features ---------*/

/* --------------- main article ---------*/
.main-article{
	width:415px;
	margin:30px 0 0 315px;
	overflow:hidden;
}
.main-article article{
	margin-top:44px;
}
html[lang=ru] .main-article article{
	margin-top:15px;
}
.main-article article h3{
	font:2.144em "ProximaNova-Bold";
	color:#146672;
}
.main-article article ul{
	list-style:none;
}
.main-article article ul li{
	font:0.953em "ProximaNova-Regular";
	color:#29313d;
	line-height:1.500em;
}

@media screen and (max-width: 1280px){
	.main-article{
		width:380px;
		margin-left:283px;
	}
}
/* --------------- /main article ---------*/

/* --------------- clients ---------*/
.clients{
	width:491px;
	margin-top:105px;
}
.clients h3{
	font:2.144em "ProximaNova-Bold";
	color:#146672;
}
.clients ul{
	list-style:none;
	overflow:hidden;
}
.clients ul li{
	float:left;
	height:85px;
	margin:27px 30px 0 0;
}
.clients ul li a{
	display:block;
}
@media screen and (max-width: 1280px){
	.clients{
		margin-top:74px;
	}
	.clients ul li{
		margin:15px 17px 0 0;
	}
	.clients ul li a img{
		width:90%;
	}
}
/* --------------- /clients ---------*/

/* --------------- product ---------*/
.product{
	margin-top:35px;
}
.product h2{
	font:2.606em 'ProximaNova-Bold';
	color:#fff;
	text-align:center;
	text-shadow:0 0 7px rgba(0,0,0,0.14);
	margin-bottom:30px;
}
.product h6{
	font:1.600em "ProximaNova-Regular";
	color:#fff;
	text-align:center;
}
.product>table{
	width:100%;
	table-layout:fixed;
	margin-top:25px;
}
.product>table col{
	width:33.33%;
}
.product>table td{
	background:url("../img/icon-product-table-dot.png") no-repeat center 0;
	font:1.190em "ProximaNova-Regular";
	color:#fff;
	text-align:center;
	line-height:1.400em;
	padding:65px 16px 0;
}
.product>table tr td:first-child{
	padding-left:0;
}
.product>table tr td:last-child{
	padding-right:0;
}
.product section{
	background:url("../img/bg-product-section.png") no-repeat center 0;
	margin-top:5px;
	padding-top:122px;
}
.product section h3{
	font:2.142em 'ProximaNova-Bold';
	color:#fff;
	text-align:center;
	text-shadow:0 0 7px rgba(0,0,0,0.14);
}
.product section table{
	table-layout:fixed;
	width:100%;
	margin-top:35px;
}
.product section table col{
	width:50%;
}
.product section table tr th:first-child,.product section table tr td:first-child{
	background-position:left bottom;
	padding-right:49px;
	padding-left:45px;
}
.product section table tr th:last-child,.product section table tr td:last-child{
	background-position:right bottom;
	padding-left:49px;
	padding-right:45px;
}
.product section table th{
	background:url("../img/bg-product-section-table-title.png") no-repeat 0 0;
	height:134px;
	font:normal 3.422em "ProximaNova-Regular";
	color:#fff;
	line-height:134px;
	text-align:center;
}
.product section table th h5{
	font-weight:normal;
}
html[lang=ru] .product section table th{
	font-size:3.200em;
}
.product section table td{
	background-image:url("../img/bg-product-section-table-cell.png");
	background-repeat:no-repeat;
	text-align:center;
	padding-bottom:40px;
}
.product section table td h6{
	font:1.309em 'ProximaNova-Bold';
	color:#3d4041;
	line-height:1.091em;
	margin-top:40px;
}
.product section table td h6:first-child{
	margin-top:20px;
}
.product section table td p{
	font:1.071em "ProximaNova-Regular";
	color:#3d4041;
	line-height:1.333em;
	margin-top:20px;
}
@media screen and (max-width: 1280px){
	.product{
		margin-top:6px;
	}
	.product h2{
		font-size:2.084em;
		margin-bottom:26px;
	}
	.product h6{
		font-size:1.333em;
	}
	.product>table{
		margin-top:21px;
	}
	.product>table td{
		background-image:url("../img/icon-product-table-dot-min.png");
		font-size:0.952em;
		line-height:1.400em;
		padding:53px 13px 0;
	}
	.product section{
		background-image:url("../img/bg-product-section-min.png");
		margin-top:10px;
		padding-top:99px;
	}
	.product section h3{
		font-size:1.714em;
	}
	.product section table{
		width:775px;
		margin:28px auto 0;
	}
	.product section table col{
		width:50%;
	}
	.product section table tr th:first-child,.product section table tr td:first-child{
		padding-right:33px;
		padding-left:30px;
	}
	.product section table tr th:last-child,.product section table tr td:last-child{
		padding-left:30px;
		padding-right:33px;
	}
	.product section table th,html[lang=ru] .product section table th{
		background:url("../img/bg-product-section-table-title-min.png") no-repeat 0 0;
		height:108px;
		font-size:2.737em;
		line-height:108px;
	}
	.product section table td{
		background-image:url("../img/bg-product-section-table-cell-min.png");
		padding-bottom:34px;
	}
	.product section table td h6{
		font-size:1.047em;
		margin-top:32px;
	}
	.product section table td h6:first-child{
		margin-top:17px;
	}
	.product section table td p{
		font-size:0.856em;
		margin-top:17px;
	}
}
/* --------------- /product ---------*/

/* --------------- team ---------*/
.team-page{
    background:url("../img/bg-team-container.png") no-repeat center 760px;
}
.team-page .content{
	width:980px;
	height:1335px;
}
.team{
	width:980px;
	margin:36px auto 0;
}
.team article{
	width:715px;
	color:#fff;
	text-align:center;
	margin:0 auto;
}
.team article h2{
	font:2.619em "ProximaNova-Bold";
	text-shadow: 0 0 7px rgba(0,0,0,0.14);
	margin-bottom:15px;
}
.team article p{
	font-size:1.071em;
	line-height:1.333em;
}
.team .team-list{
	list-style:none;
	text-align:center;
	margin-top:18px;
}
.team .team-list li{
	display:inline-block;
	background-repeat:no-repeat;
	background-position:0 bottom;
	width:448px;
	height:153px;
	text-align:left;
	margin:0 5px 4px;
	padding:36px 0 0 30px;
	vertical-align:top;
}
.team .team-list li.maria{
	background-image:url("../img/bg-team-maria.png");
}
.team .team-list li.alyona{
	background-image:url("../img/bg-team-alyona.png");
}
.team .team-list li.tony{
	background-image:url("../img/bg-team-tony.png");
}
.team .team-list li.andrii{
	background-image:url("../img/bg-team-andrii.png");
}
.team .team-list li.others{
	background-image:url("../img/bg-team-others.png");
}
.team .team-list li h4{
	font:1.666em "ProximaNova-Bold";
	color:#146672;
}
.team .team-list li p{
	font-size:0.952em;
	color:#29313d;
	line-height:1.500em;
}
.team .team-values{
	width:500px;
	text-align:center;
	margin:57px auto 0;
}
.team .team-values h3{
	font:2.619em "ProximaNova-Bold";
	color:#146672;
}
.team .team-values ul{
	list-style:none;
}
.team .team-values ul li{
	background:url("../img/bg-team-values-item.png") no-repeat center 0;
	font-size:1.071em;
	color:#29313d;
	line-height:1.333em;
	margin-top:15px;
	padding-top:84px;
}
.team .team-values ul li:first-child{
	background:none;
	padding-top:0;
}
@media screen and (max-width: 1280px){
	.team-page{
	    background:url("../img/bg-team-container-min.png") no-repeat center 608px;
	}
	.team-page .content{
		width:783px;
		height:1025px;
	}
	.team{
		width:783px;
		margin-top:29px;
	}
	.team article{
		width:575px;
	}
	.team article h2{
		font:2.095em;
		margin-bottom:15px;
	}
	.team article p{
		font-size:0.857em;
	}
	.team .team-list{
		margin-top:14px;
	}
	.team .team-list li{
		width:360px;
		height:123px;
		margin:0 2px 2px;
		padding:29px 0 0 24px;
	}
	.team .team-list li.maria{
		background-image:url("../img/bg-team-maria-min.png");
	}
	.team .team-list li.alyona{
		background-image:url("../img/bg-team-alyona-min.png");
	}
	.team .team-list li.tony{
		background-image:url("../img/bg-team-tony-min.png");
	}
	.team .team-list li.andrii{
		background-image:url("../img/bg-team-andrii-min.png");
	}
	.team .team-list li.others{
		background-image:url("../img/bg-team-others-min.png");
	}
	.team .team-list li h4{
		font-size:1.334em;
	}
	.team .team-list li p{
		font-size:0.762em;
	}
	.team .team-values{
		width:395px;
		text-align:center;
		margin:48px auto 0;
	}
	.team .team-values h3{
		font-size:2.095em;
	}
	.team .team-values ul li{
		background-image:url("../img/bg-team-values-item-min.png");
		font-size:0.857em;
		margin-top:10px;
		padding-top:67px;
	}
}
/* --------------- /team ---------*/

/* --------------- registration ---------*/
.inner-registration .content{
	width:955px;
	overflow:visible;
}
.registration{
	padding-top:43px;
}
.registration h2{
	font:2.798em "ProximaNova-Bold";
	color:#fff;
	text-shadow: 0 0 7px rgba(0,0,0,0.14);
	margin-bottom:15px;
	text-align:center;
}
.registration .form{
	background-color:#fdfbc6;
	background-repeat:no-repeat;
	background-position:381px 9px;
	box-shadow:0 0 0 9px rgba(255,255,255,0.2);
	-webkit-border-radius:12px;
	-moz-border-radius:12px;
	border-radius:12px;
	width:452px;
    padding-bottom:20px;
    /* min-height:383px; */
}
.registration .form.form-account-personal{
    background-image:url("../img/bg-registration-personal.png");
    float:left;
    margin-left:9px;
}
.registration .form.form-account-corporate{
	background-image:url("../img/bg-registration-corparate.png");
	float:right;
	margin-right:9px;
}
.registration .form h1{
	font:2.571em 'ProximaNova-Bold';
	color:#555545;
	margin:21px 0 12px 57px;
    min-height:88px;
}
.registration .form>ul{
	list-style:none;
	min-height:96px;
	margin:0 34px 28px;
}
.registration .form>ul li{
	background:url("../img/icon-registration-list.png") no-repeat 0 0;
	font:1.131em "ProximaNova-Bold";
	color:#555545;
	line-height:18px;
	margin-top:8px;
	padding-left:25px;
}
.registration .form>ul li:first-child{
	margin-top:0;
}
.registration .form form {
    min-height:160px;
}
.registration .form .row{
	line-height:26px;
	margin:0 20px 9px 38px;
	position:relative;
}
.registration .form .row.buttons {
    margin-bottom:0px;
}
.registration .form .row label{
	display:inline-block;
	font:0.834em "ProximaNova-Bold";
	color:#555545;
	line-height:1;
	width:95px;
	vertical-align:middle;
}
.registration .form .row input[type=text]{
	background:#fff;
	-moz-box-shadow:5px 5px 8px rgba(0,0,0,0.16) inset;
    -webkit-box-shadow:5px 5px 8px rgba(0,0,0,0.16) inset;
    box-shadow:5px 5px 8px rgba(0,0,0,0.16) inset;
	border:1px solid rgba(0,0,0,0.58);
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	font:0.834em 'ProximaNova-Regular';
	line-height:1;
	color:#146672;
	width:125px;
	height:12px;
	padding:7px 9px;
	outline:none;
	vertical-align:top;
}
.registration .form .row .sbHolder{
	width:292px;
}
.registration .form .row.wide{
/*	margin-bottom:16px; */
}
.registration .form .row.wide label{
	line-height:1;
}
.registration .form .row.wide input[type=text]{
	width:274px;
}
.registration .form .row input[type=submit]{
	display:block;
	background:#146672 url("../img/icon-registration-submit.png") no-repeat 17px center;
	border:none;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	width:222px;
	height:46px;
	font:1.071em "ProximaNova-Bold";
	color:#fff;
	text-align:left;
	text-indent:35px;
	margin-left:100px;
}
.registration .form .row .errorMessage{
	background: #e36969;
    background: -moz-linear-gradient(top, #d64141, #e36969);
    background: -webkit-gradient(linear, left top, left bottom,color-stop(0%,#d64141), color-stop(100%,#e36969));
    background: -webkit-linear-gradient(top, #d64141, #e36969);
    background: -o-linear-gradient(top, #d64141, #e36969);
    background: -ms-linear-gradient(top, #d64141, #e36969);
    background: linear-gradient(top, #d64141, #e36969);
    -moz-box-shadow:0 0 6px rgba(0,0,0,0.57);
    -webkit-box-shadow:0 0 6px rgba(0,0,0,0.57);
    box-shadow:0 0 6px rgba(0,0,0,0.57);
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    font:0.729em "ProximaNova-Regular";
    color:#fff;
    line-height:26px;
    text-align:center;
    width:166px;
    position:absolute;
    bottom:31px;
    left:59px;
}
.registration .form .row .errorMessage:last-child{
	left:229px;
}
.registration .form .row .errorMessage:after{
	content:'';
	border-top:16px solid #e26969;
	border-left:16px solid transparent;
	position:absolute;
	bottom:-16px;
	left:52px;
	width:0;
	height:0;
}
.registration .form .row .errorMessage:after{
	content:'';
	border-top:16px solid #e26969;
	border-right:16px solid transparent;
	position:absolute;
	bottom:-16px;
	left:70px;
	width:0;
	height:0;
}
.note{
	font:1.071em "ProximaNova-Bold";
	color:#fff;
	margin-top:34px;
}
@media screen and (max-width: 1280px){
	.inner-registration .content{
		width:765px;
	}
	.registration{
		padding-top:34px;
	}
	.registration h2{
		font-size:2.239em;
		margin-bottom:15px;
	}
	.registration .form{
		background-position:305px 7px;
		box-shadow:0 0 0 7px rgba(255,255,255,0.2);
		width:366px;
		min-height:309px;
	}
	.registration .form.form-account-personal{
		background-image:url("../img/bg-registration-personal-min.png");
		margin-left:7px;
	}
	.registration .form.form-account-corporate{
		background-image:url("../img/bg-registration-corparate-min.png");
		margin-right:7px;
	}
	.registration .form h1{
		font-size:1.715em;
		margin:16px 0 13px 46px;
	}
	.registration .form>ul{
		min-height:77px;
		margin:0 27px 22px;
	}
	.registration .form>ul li{
		background-image:url("../img/icon-registration-list-min.png");
		font-size:0.905em;
		line-height:14px;
		margin-top:7px;
		padding-left:19px;
	}
	.registration .form .row{
		line-height:23px;
		margin:0 14px 4px 31px;
	}
	.registration .form .row label{
		font-size:0.667em;
		width:70px;
		margin-right:-3px;
		vertical-align:middle;
	}
	.registration .form .row input[type=text]{
		font-size:0.667em;
		width:100px;
		height:9px;
		padding:6px 8px;
	}
	.registration .form .row .sbHolder{
		width:238px;
	}
	.registration .form .row.wide{
		margin-bottom:16px;
	}
	.registration .form .row.wide label{
		line-height:1;
	}
	.registration .form .row.wide input[type=text]{
		width:222px;
	}
	.registration .form .row input[type=submit]{
		background:#146672 url("../img/icon-registration-submit-min.png") no-repeat 13px center;
		width:176px;
		height:37px;
		font-size:0.858em;
		text-indent:29px;
		margin-left:71px;
	}
	.registration .form .row .errorMessage{
	    -moz-box-shadow:0 0 5px rgba(0,0,0,0.57);
	    -webkit-box-shadow:0 0 5px rgba(0,0,0,0.57);
	    box-shadow:0 0 5px rgba(0,0,0,0.57);
	    font-size:0.583em;
	    line-height:20px;
	    text-align:center;
	    width:133px;
	    position:absolute;
	    bottom:25px;
	    left:46px;
	}
	.registration .form .row .errorMessage:last-child{
		left:183px;
	}
	.registration .form .row .errorMessage:after{
		border-top:13px solid #e26969;
		border-left:13px solid transparent;
		bottom:-13px;
		left:41px;
	}
	.registration .form .row .errorMessage:after{
		border-top:13px solid #e26969;
		border-right:13px solid transparent;
		bottom:-13px;
		left:70px;
	}
	.note{
		font-size:0.858em;
		margin-top:26px;
	}
}
/* --------------- /registration ---------*/

/* --------------- register by link ---------*/
.register-by-link-wrap{
	background:rgba(0,0,0,0.5);
	position:absolute;
	top:-97px;
	left:0;
	z-index:2;
	overflow:hidden;
}
.register-by-link{
	background:url("../img/bg-register-by-link.png") no-repeat 0 0;
	width:797px;
	height:501px;
	margin:246px auto 0;
	overflow:hidden;
}
.register-by-link-desc{
	font:1.786em "ProximaNova-Regular";
	color:#626250;
	text-align:center;
	margin:154px 0 33px;
}
.register-by-link .row{
	line-height:29px;
	margin:0 32px 6px;
}
.register-by-link .row.mb{
	margin-bottom:30px;
}
.register-by-link .row label{
	display:inline-block;
	font:0.834em "ProximaNova-Bold";
	color:#555545;
	width:146px;
	vertical-align:middle;
}
.register-by-link .row input[type=text],.register-by-link .row input[type=password]{
	background:#fff;
	-moz-box-shadow:5px 5px 8px rgba(0,0,0,0.16) inset;
    -webkit-box-shadow:5px 5px 8px rgba(0,0,0,0.16) inset;
    box-shadow:5px 5px 8px rgba(0,0,0,0.16) inset;
	border:1px solid rgba(0,0,0,0.58);
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	font:0.834em 'ProximaNova-Regular';
	line-height:1;
	color:#146672;
	width:147px;
	height:12px;
	padding:8px 9px 7px;
	outline:none;
	vertical-align:top;
}
.register-by-link .row .sbHolder{
	width:336px;
	vertical-align:middle;
}
.register-by-link .row input[type=submit]{
	background:#146672 url("../img/icon-btn-register-by-link.png") no-repeat 12px center;
	border:none;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	width:222px;
	height:46px;
	font:1.191em "ProximaNova-Bold";
	color:#fff;
	text-align:left;
	text-indent:35px;
	margin:0 10px 0 150px;
}
.register-by-link .row .cancel{
	border-bottom:1px dotted #555545;
	font:0.834em 'ProximaNova-Regular';
	color:#555545;
	text-decoration:none;
	text-shadow:0 1px 0 rgba(255,255,255,0.75);
}
.register-by-link .row .cancel:hover{
	border-color:transparent;
}
@media screen and (max-width: 1280px){
	.register-by-link{
		background:url("../img/bg-register-by-link-min.png") no-repeat 0 0;
		width:639px;
		height:403px;
		margin-top:196px;
	}
	.register-by-link-desc{
		font-size:1.429em;
		margin:122px 0 27px;
	}
	.register-by-link .row{
		line-height:24px;
		margin:0 27px 4px;
	}
	.register-by-link .row.mb{
		margin-bottom:22px;
	}
	.register-by-link .row label{
		font-size:0.667em;
		width:118px;
	}
	.register-by-link .row input[type=text],.register-by-link .row input[type=password]{
		font-size:0.667em;
		width:114px;
		padding:4px 8px;
	}
	.register-by-link .row .sbHolder{
		width:267px;
	}
	.register-by-link .row input[type=submit]{
		background:#146672 url("../img/icon-btn-register-by-link-min.png") no-repeat 12px center;
		width:176px;
		height:37px;
		font-size:0.953em;
		text-indent:29px;
		margin:0 10px 0 122px;
	}
	.register-by-link .row .cancel{
		font-size:0.667em;
	}
}
/* --------------- /register by link ---------*/

/* --------------- footer ---------*/
.footer{
	background:url("../img/bg-footer.png") no-repeat center 0;
	margin-top:-317px;
}
.footer footer{
	width:948px;
	height:317px;
	margin:0 auto;
	position:relative;
	overflow:hidden;
}
.footer footer .backtotop{
	font:0.714em "ProximaNova-Regular";
	text-align:right;
	line-height:1.167em;
	margin-top:145px;
	padding:0 8px;
}
@media screen and (max-width: 1280px){
	.footer footer .backtotop{
		margin-top:108px;
	}
}
.footer footer .backtotop a{
	color:#fff;
	text-decoration:none;
}
.footer footer .backtotop a:hover{
	text-decoration:underline;
}
.footer footer .logo{
	background:url("../img/logo-footer.png") no-repeat 0 0;
	width:180px;
	height:48px;
	margin-top:38px;
}
.footer footer .logo a{
	display:block;
	width:inherit;
	height:inherit;
	text-indent:-9999px;
}
.footer footer nav{
	position:absolute;
	top:200px;
	right:123px;
}
.footer footer nav a{
	display:block;
	background:rgba(20,102,114,0.4);
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	font:1.071em "ProximaNova-Regular";
	color:#fff;
	text-decoration:none;
	line-height:1.800em;
	float:left;
	margin-left:9px;
	padding:0 8px;
}
.footer footer nav a:hover{
	background:rgba(20,102,114,1);;
}
.footer footer .copyright{
	font:0.714em "ProximaNova-Regular";
	color:#fff;
	text-align:center;
	line-height:1.167em;
	margin-top:20px;
}
@media screen and (max-width: 1280px){
	.footer{
		background:url("../img/bg-footer-min.png") no-repeat center 0;
		margin-top:-310px;
	}
	.footer footer{
		width:925px;
		height:310px;
	}
	.footer footer .backtotop{
		font-size:0.692em;
		margin-top:147px;
	}
	.footer footer .logo{
		background:url("../img/logo-footer-min.png") no-repeat 0 0;
		width:175px;
		height:46px;
		margin-top:38px;
	}
	.footer footer .copyright{
		font-size:0.692em;
	}
	.footer footer nav a{
		font-size:0.858em;
		line-height:1.571em;
	}
}
/* --------------- /footer ---------*/

/* --------------- sign in box ---------*/
.sign-in-box{
	background:rgba(0,0,0,0.5);
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
}
.login-form{
    background:#146672;
    width:235px;
    left: 50%;
    padding: 0 7px;
}
.login-form h6{
	font:1.667em 'ProximaNova-Bold';
	color:#fff;
	margin:15px 0 10px;
}
.login-form div.login{
	margin-bottom:15px;
}
.login-form div.login a{
	margin-bottom:3px;
	float:right;
}
.login-form div.password{
	margin-bottom: 7px;
}
.login-form div.remember{
	margin-bottom: 7px;
}
.login-form div.submit{
	margin-bottom:5px;
}
.login-form div label{
	display:block;
	font:0.834em 'ProximaNova-Regular';
	color:#fff;
	line-height:14px;
	padding:0;
	margin:0;
	margin-bottom:4px;
}
.login-form div input[type=text],.login-form div input[type=password]{
	background:#fff;
	-moz-box-shadow:5px 5px 8px rgba(0,0,0,0.16) inset;
    -webkit-box-shadow:5px 5px 8px rgba(0,0,0,0.16) inset;
    box-shadow:5px 5px 8px rgba(0,0,0,0.16) inset;
	border:1px solid #010101;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	font:0.834em 'ProximaNova-Regular';
	line-height:1;
	color:#146672;
	width:214px;
	height:12px;
	padding:7px 9px;
	outline:none;
}
.login-form div input[type=submit]{
	background:url("../img/btn-bg-sign-in.png") no-repeat 0 0;
	border:none;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	-moz-box-shadow:2px 2px 2px rgba(0,0,0,0.23);
    -webkit-box-shadow:2px 2px 2px rgba(0,0,0,0.23);
    box-shadow:2px 2px 2px rgba(0,0,0,0.23);
	width:61px;
	height:26px;
	font:0.834em 'ProximaNova-Bold';
	color:#3c3c32;
	text-align:left;
	text-indent:9px;
	line-height:20px;
	vertical-align:top;
}
.login-form div input[type=submit]:hover{
	background-position:0 -26px;
	color:#fff;
}
.login-form div.remember label{
	display:inline-block;
}
.login-form div .niceCheck{
	width: 14px;
	height: 14px;
	overflow: hidden;
	display: inline-block;
	cursor: pointer;
	background: url("../img/checkbox.png") no-repeat;
}
.login-form div .niceCheck.niceChecked{
	background-position:0 -14px;
}

.login-form div .niceCheck input{
	margin-left: -30px;
}

.login-form a{
	font:0.834em 'ProximaNova-Regular';
	color:#fff;
	text-decoration:none;
}
.login-form a:hover{
	text-decoration:underline;
}

.sing-in-pop-up {
    background: none repeat scroll 0 0 #146672;
    border-radius: 8px 8px 8px 8px;
    box-shadow: 0 0 0 8px rgba(255, 255, 255, 0.2);
}

.action-controller-registerByLink-static-userAuth  .ui-widget-content,
.action-controller-personal-static-dashboard .ui-widget-content {
    background: #146672;
}

.action-controller-registerByLink-static-userAuth .ui-dialog-titlebar,
.action-controller-personal-static-dashboard .ui-dialog-titlebar,
.action-controller-personal-static-simulations .ui-dialog-titlebar,
.action-controller-corporate-static-dashboard .ui-dialog-titlebar,
.action-controller-corporate-static-simulations .ui-dialog-titlebar {
    border: 0px;
    background: transparent;
}

.sing-in-pop-up .ui-dialog-title {
    color: #FFFFFF;
    font: 1.667em 'ProximaNova-Bold';
    margin: 7px 0 0 7px;
}

.sing-in-pop-up .ui-corner-all {
    background: none repeat scroll 0 0 #146672;
    border: 0;
    border-radius: 0;
    color: #fff;
}

.sing-in-pop-up .ui-dialog-titlebar-close {
    margin-top: -20px;
}

@media screen and (max-width: 1280px){
	.login-form{
	    width:184px;
	    padding:7px 30px;
	    top:75px;
	    margin-left:33px;
	}
	.login-form h6{
		font-size:1.333em;
		color:#fff;
		margin:12px 0 7px;
	}
	.login-form div.login{
		margin-bottom:11px;
	}
	.login-form div.password{
		margin-bottom:6px;
	}
	.login-form div.remember{
		margin-bottom:8px;
	}
	.login-form div.submit{
		margin-bottom:5px;
	}
	.login-form div label{
		font-size:0.666em;
		line-height:11px;
		margin-bottom:4px;
	}
	.login-form div input[type=text],.login-form div input[type=password]{
		font-size:0.666em;
		width:171px;
		height:9px;
		padding:6px 7px;
	}
	.login-form div input[type=submit]{
		background:url("../img/btn-bg-sign-in-min.png") no-repeat 0 0;
		width:49px;
		height:21px;
		font-size:0.666em;
		text-indent:9px;
	}
	.login-form div input[type=submit]:hover{
		background-position:0 -21px;
		color:#fff;
	}
	.login-form div.remember label{
		display:inline-block;
	}
	.login-form div .niceCheck{
		width:11px;
		height:11px;
		background: url("../img/checkbox-min.png") no-repeat;
	}
	.login-form div .niceCheck.niceChecked{
		background-position:0 -11px;
	}
	.login-form a{
		font-size:0.666em;
	}
}
/* --------------- /sign in box ---------*/

/* --- vertical iu-tabs --- */

.ui-tabs-vertical { width: 55em; }
.ui-tabs-vertical .ui-tabs-nav { padding: .2em .1em .2em .2em; float: left; width: 12em; }
.ui-tabs-vertical .ui-tabs-nav li { clear: left; width: 100%; border-bottom-width: 1px !important; border-right-width: 0 !important; margin: 0 -1px .2em 0; }
.ui-tabs-vertical .ui-tabs-nav li a { display:block; }
.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active { padding-bottom: 0; padding-right: .1em; border-right-width: 1px; border-right-width: 1px; }
.ui-tabs-vertical .ui-tabs-panel { padding: 1em; float: right; width: 40em;}

h1 {
    color: #ffffff;
    font-size: 32px;
    font-weight: bold;
    line-height: 34px;
    margin: 0 0 7px 0;
}

h2 {
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
    margin: 0 0 7px 0;
}

#invite-people-box {
    height: 300px;
    float: left;
    margin: 0 0 0 10px;
    width: 280px;
}

#simulations-counter-box {
    height: 200px;
    float: left;
    margin: 30px 0 0 10px;
    width: 280px;
}
#corporate-invitations-list-box {
    height: 600px;
    float: right;
    margin: 0 10px 0 0 ;
    width: 580px;
}

.nice-border {
    border-radius: 8px 8px 8px 8px;
    box-shadow: 0 0 0 8px rgba(255, 255, 255, 0.2);
    padding: 15px 0 0 15px;
}

.backgroud-bue-bordered {
    border-radius: 8px 8px 8px 8px;
    background-color: #66A7B0;
    padding: 15px 0 0 15px;
}

.backgroud-rich-blue {
    background-color: #146672;
}

.backgroud-light-blue {
    background-color: #f0fdff;
}

.backgroud-light-yellow {
    background-color: #fbfbc6;
}

.sbHolder {
    width: 200px;
}

.action-controller-corporate-static-dashboard .invites-smallmenu-item {
    background-color: #989779;
    border-radius: 7px;
    display: none;
    margin: -12px 0 0 -7px;
    padding: 12px;
    position: absolute;
    width: 150px;
}

.action-controller-corporate-static-dashboard .invites-smallmenu-item a {
    color: #fff;
    display: block;
    padding: 0 0 3px 0;
    text-decoration: none;
    width: 150px;
}

.action-controller-corporate-static-dashboard .invites-smallmenu-item a:hover {
    color: #000;
}

.action-controller-corporate-static-dashboard .items th,
.action-controller-corporate-static-dashboard .items td {
    height: 25px;
    padding: 1px 7px;
}

.flash {
    border-radius: 6px;
    box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.2);
    color: #146672;
    font-weight: bold;
    margin: 15px 15px;
    padding: 5px 15px;
}

.flash-error {
    color: #cf1919;
}
/* ********************** DASHBOARD ********************** */
.wideblock {
    width: 598px;
}
.dashboard aside {
    float:left;
    width: 310px;
}
.narrow-contnt {
    float: right;
}
.dashboard aside h2 {
    font-size: 1.8em;
}
.dashboard .thetitle {
    font-size: 2.2em;
}
.dashboard .bigtitle {
    font-size: 2.7em;
}
.dashboard .narrow-contnt {
    margin-top: 7px;
}
.dashboard aside .thetitle {
    margin-left: 3px;
}
#dashboard-skills-box {
    margin: 0 0 0 10px;
}
.sideblock {
    padding:16px 6px 20px 12px;
}
#dashboard-skills-box>p {
    color:#fff;
    display: table-cell;
    padding-bottom: 20px;
    vertical-align: middle;
}
#dashboard-skills-box>p>sup {
    font-size: 0.8em;
}
#job-recomendations-box {
    margin: 30px 0 0 10px;
}

#companies-you-follow-box {
    margin: 30px 0 0 10px;
}
#private-invitations-list-box {
    margin-top:-8px;
}

ul.profile-menu {
    float: left;
    width: 200px;
}
ul.profile-menu li {
    line-height: 26px;
}
.ratingwrap {
    background: rgba(240, 253, 255, 0.2);
    display: inline-block;
    line-height: 22px;
    margin:0px 4px;
    padding:5px 3px 0px 4px;
}
.ratebg {
    background: url("../img/ratestars.png") no-repeat 0px 0px;
    width: 98px;
}
.ratebg, .rating {
    display: inline-block;
    height: 17px;
}
.rating {
    background: url("../img/ratestars.png") no-repeat 0px -17px;
}
.skillstitle {
    display: inline-block;
    font-size: 0.8em;
    width: 116px;
}
.link-go {
    background: url("../img/icon-btn-notify.png") no-repeat 0px 0px;
    display: inline-block;
    height: 18px;
    width: 18px;
}
.blue-btn, .light-btn {
    border-radius: 3px 3px 3px 3px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.23);
    display: inline-block;
    height: 30px;
    line-height: 30px;
    padding: 0px 12px 0px 18px;
    text-decoration: none;
}
.light-btn, .blue-btn:hover {
    background: url("../img/btn-lightbg.png") no-repeat 0 0;
}
.blue-btn {
    background: url("../img/btn-lightbg.png") no-repeat left bottom;
}
.blue-btn, .blue-btn:visited {
    color: #fff;
}
.light-btn, .light-btn:visited, .blue-btn:hover {
    color: #3c3c32;
}
.light-btn:hover {
    color: #fff;
    background-position: left bottom;
}
.light-btn+.light-btn {
    margin-left: 10px;
}
.backgroud-bue-bordered h2 {
    color: #3d4041;
}
.nodesign-list li {
    list-style-type: none;
    padding-bottom:6px;
}
.sideblock .nodesign-list a, .sideblock .nodesign-list a:visited {
    color:#3d4041;
    display: inline-block;
    text-decoration: none;
}
.sideblock .nodesign-list a:hover {
   color:#146672;
}
.noticeblock {
    background: #aa3131; /* Old browsers */
    background: -moz-linear-gradient(45deg,  #aa3131 0%, #eb1515 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#aa3131), color-stop(100%,#eb1515)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(45deg,  #aa3131 0%,#eb1515 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(45deg,  #aa3131 0%,#eb1515 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(45deg,  #aa3131 0%,#eb1515 100%); /* IE10+ */
    background: linear-gradient(45deg,  #aa3131 0%,#eb1515 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aa3131', endColorstr='#eb1515',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    color: #fff;
    display: inline-block;
    font-size: 0.9em;
    line-height: 17px;
    text-align: center;
    width: 17px;
}
.whitelink, .whitelink:visited {
    color: #fff;
}
#companies-you-follow-box .noticeblock {
    margin-left:10px;
}
#companies-you-follow-box p {
    padding-bottom: 26px;
}
.jobs-list li {
    position: relative;
}
.jobs-list {
    margin-left: -3px;
}
.jobs-list li>a {
    background: url("../img/icon-na.png") no-repeat 3px 3px;
    display: inline-block;
    padding-left: 26px;
}
.job-active {
    background: url("../img/jobs-activebg.png") no-repeat 0px 0px;
}
.sublist {
    background: #f0eee4; /* Old browsers */
    background: -moz-linear-gradient(45deg,  #f0eee4 0%, #fffeff 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#f0eee4), color-stop(100%,#fffeff));
    background: -webkit-linear-gradient(45deg,  #f0eee4 0%,#fffeff 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(45deg,  #f0eee4 0%,#fffeff 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(45deg,  #f0eee4 0%,#fffeff 100%); /* IE10+ */
    background: linear-gradient(45deg,  #f0eee4 0%,#fffeff 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0eee4', endColorstr='#fffeff',GradientType=1 );
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.23);
    -webkit-border-radius: 0px 5px 5px;
    -moz-border-radius: 0px 5px 5px;
    border-radius: 0px 5px 5px;
    display: none;
    margin-top:4px ;
    padding: 12px 14px 10px 26px;
    position: absolute;
    z-index: 1000;
}
.job-active .sublist {
    display:block;
}
.sublist p {
    padding-bottom: 6px;
}
.sublist a {
    font-size: 0.9em;
}
.sidefeedback {
    margin:32px 0px 0px 10px;
}
/* ************************ TABLE ************************  */
#private-invitations-list-box .grid-view {
    padding: 0px;
}
#private-invitations-list-box .grid-view .summary {
    margin: 0px;
}
#private-invitations-list-box .grid-view table.items, .items {
    background: none;
    border:none;
    width: 100%;
}
#private-invitations-list-box .grid-view .items th, .items th {
    background: #146672;
    border:none;
    border-bottom: 1px solid #0e4750;
    font-size: 0.9em;
    font-weight: normal;
    padding: 12px 8px;
    text-align: center;
    vertical-align: middle;
}
#private-invitations-list-box .grid-view tr td:last-child {
    width:180px;
}
#private-invitations-list-box .grid-view .items th:first-child, .items th:first-child {
    -webkit-border-radius: 5px 0px 0px;
    -moz-border-radius: 5px 0px 0px;
    border-radius: 5px 0px 0px;
}
#private-invitations-list-box .grid-view .items th:last-child, .items th:last-child {
    -webkit-border-radius: 0px 5px 0px 0px;
    -moz-border-radius: 0px 5px 0px 0px;
    border-radius: 0px 5px 0px 0px;
}
#private-invitations-list-box .grid-view .items tr:last-child td:first-child, .items tr:last-child td:first-child {
    -webkit-border-radius: 0px 0px 0px 5px;
    -moz-border-radius: 0px 0px 0px 5px;
    border-radius: 0px 0px 0px 5px;
}
#private-invitations-list-box .grid-view .items tr:last-child td:last-child, .items tr:last-child td:last-child {
    -webkit-border-radius: 0px 0px 5px;
    -moz-border-radius: 0px 0px 5px;
    border-radius: 0px 0px 5px;
}

.items th, .items th a {
    color: white;
    text-decoration: none;
}
#private-invitations-list-box .grid-view .items th a, .items th a  {
    background: url("../img/arrow-down.png") no-repeat right 50%;
    font-weight: normal;
    display:block;
    padding-right: 12px;
}
#private-invitations-list-box .grid-view .items td, .items td {
    background: #fefeec;
    border:none;
    padding: 8px ;
    vertical-align: middle;
}
#private-invitations-list-box .grid-view .items tr:nth-child(odd) td, .items tr:nth-child(odd) td {
    background: #fdfbc6;
}
#private-invitations-list-box .grid-view .items tr:first-child td, .items tr:first-child td {
    border-top:1px solid #fff;
}
#private-invitations-list-box .grid-view .items tr td:last-child .blue-btn, .items td:last-child .blue-btn {
    margin-right: 5px;
}
#private-invitations-list-box .grid-view .items tr td:last-child a:last-child, .items td:last-child a:last-child {
    color:#29313d;
    margin-left: 5px;
}
.invites-smallmenu-switcher {
    color:#232323;
    text-decoration: none;
}
/* ************************ /TABLE ************************ */
.searchform {
    float: right;
    margin-top:12px;
}
.searchform .inputtext {
    line-height: 24px;
    padding: 2px 5px;
}
.searchform input[type="submit"] {
    background: #146672 url("../img/search-icon.png") no-repeat 50% 50%;
    border:none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    height: 30px;
    text-indent:-90000px;
    width: 30px;
}
.searchform input[type="submit"]:hover {
    background: #5698a2 url("../img/search-icon.png") no-repeat 50% 50%;
}
.pager {
    padding: 25px 0px;
}
.pager ul.yiiPager .page a, .pager ul.yiiPager .page a:visited {
    border: none;
    color:#fff;
    font-size: 1em;
    margin: 0px 3px;
    padding: 0px;
    text-decoration: none;
}
.pager a:hover, .pager .pager-active {
    color: #146672;
}
.pager .pager-more, .pager ul.yiiPager .previous a, .pager ul.yiiPager .next a {
    background: #146672;
    border: none;
    display: inline-block;
    font-size: 0.9em;
    line-height: 30px;
    margin: 0px 20px;
    padding: 0px 10px;
}
.pager .yiiPager .hidden a {
    background: #6caab3;

}
.pager .pmore-active:hover {
    color:#6caab3;
}
/* *********************************** *********** /DASHBOARD ********************************* ************* */
/* ********************** /DASHBOARD ********************** */

/************************************ PERSONAL PROFILE *******************************************/
.profilewrap ul.profile-menu {
    width: 238px;
}
.profile-menu li {
    background: #fdfcc6 url("../img/menutopbg.png") repeat-x top;
}
.profile-menu li.active {
    background:#fff url("../img/menutopbg.png") repeat-x top;
}
.profile-menu li:first-child {
    background-image: none;
}
.profile-menu li:first-child, .profile-menu li:first-child a {
    -webkit-border-radius: 3px 3px 0px 0px;
    -moz-border-radius: 3px 3px 0px 0px;
    border-radius: 3px 3px 0px 0px;
}
.profile-menu li:last-child, .profile-menu li:last-child a {
    -webkit-border-radius: 0px 0px 3px 3px;
    -moz-border-radius: 0px 0px 3px 3px;
    border-radius: 0px 0px 3px 3px;
}
.profile-menu a {
    background: url("../img/menuarrows.png") no-repeat 212px 16px;
    color: #555742;
    display: block;
    font-size: 1.1em;
    padding: 12px 20px 12px 12px;
    text-decoration: none;
}
.profile-menu a:hover {
    background-position: 212px -32px;
}
.profileform {
    float: right;
    padding: 26px;
    width: 620px;
}
.profileform  .row {
    clear: both;
    padding-bottom: 20px;
}
.profileform  label {
    float: left;
    font-size: 1.1em;
    padding: 6px 10px 0px 0px;
    width: 170px;
}
.profileform  .small input[type="text"] {
    width: 50px;
}
.profileform  .sbHolder {
    height:23px;
    width: 350px;
}
#UserAccountCorporate_company_description {
    width: 350px;
}
.profileform {
    background: #f3ffff;
}
.profileform input[type=text], .profileform input[type=password] {
    line-height: 24px;
    padding: 3px 4px;
}
.profileform input[type=password] {
    width:205px;
}
.profileform input+input {
    margin-left: 10px;
}
.cposwrap {
    margin:10px 0px 10px 0px;
}
#profile_firstname, #profile_lastname, #UserAccountCorporate_ownership_type, #UserAccountCorporate_company_name {
    width:158px;
}
.profileform input[type=submit] {
    background-position: 20px 16px;
    font: 1.3em "ProximaNova-Bold";
    line-height: 54px;
    padding: 0px 14px 0px 48px;
}
.profileform textarea {
    background:#fff;
    border:1px solid #3e5259;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    -moz-box-shadow:10px 4px 10px rgba(0,0,0,0.1) inset;
    -webkit-box-shadow:10px 4px 10px rgba(0,0,0,0.1) inset;
    box-shadow:10px 4px 10px rgba(0,0,0,0.1) inset;
    color:#036675;
    width:340px;
}
/************************************ /PERSONAL PROFILE *******************************************/

.tariff-box .benefits {
    height: 70px;
}
#JotFormIFrame {
    /*position: absolute;
    background-color: #ffffff;
    margin-top: 100px;
    z-index: 100;
    top: 10px;*/
    display: none;
    width:750px;
}

.container > header nav a.has-notification {
    margin-right: 10px;
    padding-right: 15px;
}

.not-started-simulations {
    background-color:  #cf1919;
    border-radius: 4px;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    height: 20px;
    left: 5px;
    line-height: 20px;
    margin-right: -20px;
    position: relative;
    text-align: center;
    top: -10px;
    width: 20px;
}