body {
    background: url("../img/bg-top-inner.jpg"), url("../img/sitebg-rpt-min.jpg");
    background-repeat: no-repeat, repeat-y;
    background-position: center top;
    font-size:12px;
    line-height: 12px;
}
/* ************************ FONTS ************************ */
h1 {
    font-size:30px;
    color: #fff;
    line-height:34px;
}
h2 {
    font-size:28px;
    color: #fff;
    line-height:26px;
    margin-bottom: 8px;
}
h3 {
    font-size:22px;
    color: #fff;
    line-height:23px;
    margin-bottom: 8px;
}
h4 {
    font-size:19px;
    margin-bottom: 8px;
}
h5 {
    font-size:15px;
    margin-bottom: 8px;
}
.font-small {
    font-size:10px;
}
.font-slarge {
    font-size:13px;
}
.font-large {
    font-size:14px;
}
.font-xlarge, .font-xslarge, h6 {
    font-size:15px;
    line-height: 120%;
}
.font-xlarge {
    line-height: 130%;
}
.font-xxlarge {
    font-size:16px;
}
.font-xxxlarge, .font-4xlarge {
    font-size:18px;
}
.font-5xlarge {
    font-size:19px;
}
.list-light li {
    background-size: 16px;
    line-height: 17px;
}
.list-dark li {
    background-size: 14px;
    margin-bottom: 10px;
}
.list-light li, .list-dark li {
    margin-bottom: 10px;
    min-height: 18px;
    padding-left: 22px;
}
.ui-dialog .ui-dialog-title {
    font-size: 22px;
}
/* ************************ /FONTS ************************ */
/* ************************ Buttons ************************ */
.btn-large {
    background-image: url("../img/btn-circle-min.png");
    background-position: 16px 50%;
    font-size: 16px;
    height: 42px;
    line-height: 42px;
    padding: 0 16px 0 40px;
}
.btn-primary {
    background-image: url("../img/btn-primry-min.png");
}
.btn-primary, .btn-site, .submit-primry input[type="submit"]  {
    font-size: 12px;
    height: 24px;
    line-height: 24px;
    padding: 0 8px 0 18px;
}
.btn-site, .submit-primry input[type="submit"] { /* example -  manage subscription */
    background:#146672 url("../img/arrowleft-min.png") no-repeat 8px 50%;
    color: #fff;
}
.btn-arrow-small {
    background-image: url("../img/icon-btn-notify-min.png");
    background-position: 8px 50%;
    background-repeat: no-repeat;
    padding: 0 8px 0 32px;
}
.btn-add {
    background-size: 7px;
    height: 18px;
    line-height: 18px;
    width: 18px;
}
/* ************************ /Buttons ************************ */
/*  *************************** GRID ***************************/
.grid-container {
    margin: 0 auto;
    width:766px;
}
.container-border-1 {
    width:754px;
}
.container-borders-2 .grid2 {
    width:363px;
}
.container-borders-3 .grid1, .sign-block, .standard-left-box {
    width:247px;
}
.container-borders-3 .grid2 {
    width:495px;
}
.container-3 .grid1+.grid2 {
    margin-left: 16px;
}
.container-borders-2 .grid2+.grid2, .container-borders-4 .grid1+.grid1 {
    margin-left: 16px;
}
.container-borders-3 .grid1+.grid2 {
    margin-left: 18px;
}
.container-3 .grid1 {
    width:238px;
}
.container-3 .grid2 { /* footer */
    width:508px;
}
.container-3 .grid1+.grid1 {
    margin-left: 26px;
}
.container-borders-4 .grid1 {
    width:172px;
}
.container-4 .grid1 {
    width:188.5px;
}
.standard-right-box {
    width:490px;
}
.container-borders-3 .grid1 .pad-large {
    padding:12px 16px;
}
/*  *************************** /GRID ***************************/
/*  ************************ Menu ************************  */
.menu-site a {
    margin-left: 8px;
    padding: 6px 7px;
}
.menu-top a, .menu-botm a {
    font-size: 12px;
}
.menu-main a {
    font-size: 14px;
}
.menu-main {
    top:60px;
}
/*  ************************ /Menu ************************  */
/*  ************************ Colors and Borders ************************  */
.block-border {
    border-radius: 6px;
    box-shadow: 0 0 0 6px rgba(255, 255, 255, 0.2);
    margin: 6px;
}
.block-border-dark {
    border-radius: 6px;
    border:6px solid rgba(41, 116, 127, 0.2);
}
/*  ************************ /Colors and Borders ************************  */
/*  ************************ SITE ************************/
.site-header {
    height: 82px;
    padding-top: 40px;
    width: 766px;
}
.site-header h1 {
    top:42px;
}
.site-footer .grid-container {
    padding-top: 202px;
}
.empty-footer {
    height: 260px;
}
.site-footer {
    background:url("../img/bg-footer-min.png") no-repeat center bottom;
    height:310px;
}
.site-footer .social_networks {
    margin-left: -165px;
    top: 136px;
    width:330px;
}
.to-top {
    top:147px;
}
/*  ************************ /SITE ************************/
/*  ************************ POPUP SITE ************************/
.ui-dialog .ui-dialog-titlebar-close, .popupclose {
    background:none;
    background-image: url("../img/closepopup-min.png");
    height: 22px;
    width: 22px;
    top: -15px;
    right: -15px;
}
.ui-dialog .ui-dialog-titlebar-close:hover, .popupclose:hover {
    background-position: 0 -22px;
}
.popup-site .ui-widget-content {
    padding: 24px;
}
/*  ************************ /POPUP SITE ************************/
/*  ************************ SELECT ************************/
.sbHolder {
    height: 17px;
    font-size: 14px;
    min-width: 90px;
}
.sbSelector {
    height: 17px;
    line-height: 17px;
    text-indent: 4px;
}
.sbToggle {
    background: url("../img/bg-select-toggle-min.png") no-repeat 0 0;
    height: 17px;
    width: 15px;
}
.sbToggleOpen {
    height: 17px;
}
.sbOptions .sbSub {
    padding-left: 17px;
}
/*  ************************ /SELECT ************************/
/*  *************************** SIGN IN ***************************/
.sign-block {/* - */
    background: #146672;
    height: 245px;
    overflow: visible;
}
.sign-block .ui-dialog-titlebar {/* - */
    padding:20px 20px 10px;
}
.sign-block .ui-dialog-content {/* - */
    padding: 0px 20px 25px;
}
.sign-block .ui-dialog-title {/* - */
    color:#fff;
    font-family:"ProximaNova-Bold";
    font-size:28px;
    line-height: 32px;
}
.sign-block p, .sign-block div, .sign-block span, .sign-block a, .sign-block label {/* - */
    color:#fff;
}
/*  *************************** /SIGN IN ***************************/
