@media screen and (max-width: 1146px) {
    /*  ****************************** SOCIAL ICONS *******************************/
    .social_networks>span {
        line-height: 26px;
    }
    .social_networks .addthis_toolbox {
        display: block;
        float:left;
    }
    .social_networks>span {
        line-height: 26px;
    }
    .social_networks .addthis_toolbox {
        display: block;
        float:left;
    }
    .social_networks a {
        background:url("../img/social-small.png") -100% -100% no-repeat;
        width:28px;
        height:27px;
    }
    .social_networks .addthis_button_facebook {
        background-position: -36px 0px;
    }
    .social_networks .addthis_button_facebook:hover {
        background-position: -36px -33px;
    }
    .social_networks .addthis_button_twitter {
        background-position: -71px 0px;
        width:29px;
    }
    .social_networks .addthis_button_twitter:hover {
        background-position: -71px -33px;
    }
    .social_networks .addthis_button_google_plusone_share {
        background-position: -107px 0px;
    }
    .social_networks .addthis_button_google_plusone_share:hover {
        background-position: -107px -33px;
    }
    .social_networks .addthis_button_linkedin {
        background-position: -142px 0px;
    }
    .social_networks .addthis_button_linkedin:hover {
        background-position: -142px -33px;
    }
    /*  ****************************** /SOCIAL ICONS *******************************/
}