body {
    background: url("../img/sitebg-chairs.jpg"), url("../img/sitebg-rpt.jpg");
    background-repeat: no-repeat, repeat-y;
    background-position: center top;
    font-size:14px;
    line-height: 14px;
}
/* ************************ FONTS ************************ */
h1 {
    font-size:44px;
    color: #fff;
    line-height:52px;
}
h2 {
    font-size:36px;
    color: #fff;
    line-height:36px;
    margin-bottom: 12px;
}
h3 {
    font-size:28px;
    color: #fff;
    line-height:30px;
    margin-bottom: 12px;
}
h4 {
    font-size:23px;
    margin-bottom: 12px;
}
h5 {
    font-size:20px;
    margin-bottom: 12px;
}
h6 {
    font-size:18px;
}
.font-small {
    font-size:12px;
}
.font-slarge {
    font-size:15px;
}
.font-site {
    font-size:14px;
}
.font-large {
    font-size:16px;
}
.font-xslarge {
    font-size:17px;
    line-height: 130%;
}
.font-xlarge {
    font-size:18px;
    line-height: 120%;
}
.font-xxlarge {
    font-size:20px;
}
.font-xxxlarge {
    font-size:21px;
}
.font-4xlarge {
    font-size:22px;
}
.font-5xlarge {
    font-size:24px;
}
.list-light li {
    line-height: 20px;
    margin-bottom: 13px;
    min-height: 21px;
    padding-left: 28px;
}
.font-normal{
    font-family: "ProximaNova-Regular";
    font-weight: normal;
}
hgroup {
    margin-bottom: 30px;
}
/* ************************ /FONTS ************************ */
/* ************************ Buttons ************************ */
.btn-large {
    background-image: url("../img/btn-circle.png");
    background-position: 20px 50%;
    font-size: 18px;
    height: 54px;
    line-height: 54px;
    padding: 0 19px 0 50px;
}
.btn-primary, .btn-site, .submit-primry input[type="submit"] {
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    padding: 0 10px 0 22px;
}
.btn-primary {
    background-image: url("../img/btn-primry-bg.png");
}
.btn-site, .submit-primry input[type="submit"] { /* example -  manage subscription */
    background:#146672 url("../img/arrowleft.png") no-repeat 10px 50%;
    color: #fff;
}
.submit-primry input[type="submit"] { /*  klass dlya popupa s submit kak btn-site */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-family:"ProximaNova-Bold";
    vertical-align: middle;
}
.btn-arrow-small {
    background-image: url("../img/icon-btn-notify.png");
    background-position: 10px 50%;
    background-repeat: no-repeat;
    padding: 0 10px 0 38px;
}
.btn-add {
    height: 22px;
    line-height: 22px;
    padding: 0px 6px;
    width: 10px;
}
/* ************************ /Buttons ************************ */
/*  *************************** GRID ***************************/
.grid-container {
    margin: 0 auto;
    width:960px;
}
.container-border-1 {
    width:944px;
}
.container-borders-2 .grid2 {
    width:459px; /*47% */
}
.container-borders-3 .grid1 {
    width:316px;
}
.sign-block, .standard-left-box {
    width:300px;
}
.container-borders-3 .grid2 {
    width:608px;
}
.container-borders-2 .grid2+.grid2, .container-borders-4 .grid1+.grid1 {
    margin-left: 18px;
}
.container-borders-3 .grid1+.grid2 {
    margin-left: 28px;
}
.container-2 .grid1 {
    width:470px;
}
.container-2 .grid1+.grid1 {
    margin-left: 20px;
}
.container-3 .grid1 {
    width:298px;
}
.container-3 .grid2 { /* footer */
    width:642px;
}
.standard-right-box {
    width:629px;
}
.container-3 .grid1+.grid1 {
    margin-left: 32px;
}
.container-borders-4 .grid1 {
    width:216.5px;
}
.container-4 .grid1 {
    width:237px;
}
.container-borders-2.thetable {
    margin-left: 8px;
}
/*  *************************** /GRID ***************************/
/*  ************************ Menu ************************  */
.menu-site a {
    margin-left: 10px;
    padding: 8px 9px;
}
.menu-top a, .menu-botm a {
    font-size: 14px;
}
.menu-main a {
    font-size: 18px;
}
.menu-main {
    top:72px;
}
/*  ************************ /Menu ************************  */
/*  ************************ SITE ************************/
.site-header {
    height: 103px;
    padding-top: 47px;
    width: 960px;
}
.site-header h1 {
    top:47px;
}
.site-footer .grid-container {
    padding-top: 235px;
}
.empty-footer {
    height: 300px;
}
.site-footer {
    background:url("../img/site-footer.png") no-repeat center bottom;
    height:381px;
}
.site-footer .social_networks {
    margin-left: -165px;
    top: 166px;
    width:330px;
}
.to-top {
    top:175px;
}
/*  ************************ /SITE ************************/
/*  ************************ POPUP SITE ************************/
.ui-dialog .ui-dialog-titlebar-close, .popupclose {
    background: url("../img/closepopup.png") no-repeat 0 0;
    width: 27px;
    height: 27px;
    top: -23px;
    right: -20px;
}
.popup-site .ui-widget-content {
    padding: 30px;
}
/*  ************************ /POPUP SITE ************************/
/*  ************************ SELECT ************************/
.sbHolder {
    height: 23px;
    font-size: 14px;
    min-width: 90px;
}
.sbSelector {
    height: 22px;
    line-height: 22px;
    text-indent: 9px;
}
.sbToggle {
    background: url("../img/bg-select-toggle.png") no-repeat 0 0;
    height: 23px;
    width: 19px;
}
.sbToggleOpen {
    height: 23px;
}
.sbOptions .sbSub {
    padding-left: 17px;
}
/*  ************************ /SELECT ************************/
