/* --------------- reset.css --------------- */
html, body, div, span, h1, h2, h3, h4, h5, h6, p, em, img, strong, sub, sup, b, u, i,  dl, dt, dd, ol, ul, li, fieldset, form, label, table, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
    margin: 0px;
    padding: 0px;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    font-size: 100%;
    outline: none;
    text-align: left;
}
a img, :link img, :visited img {
    border: 0;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
td, td img {
    vertical-align: top;
}
input, select, button, textarea {
    margin: 0;
    font-size: 100%;
}
input[type="checkbox"] {
    vertical-align: bottom;
}
input[type="radio"] {
    vertical-align: text-bottom;
}
input[type="text"]:focus, input[type="password"]:focus, textarea:focus {
    outline: none;
}
sub {
    vertical-align: sub;
    font-size: small;
}
sup {
    vertical-align: top;
    font-size: small;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display:block;
}
nav ul, nav ul li {
    list-style:none;
}
/* --------------- /reset.css --------------- */

/* --------------- main styles ---------*/
@font-face {
    font-family: 'ProximaNova-Regular';
    src: url('../fonts/24F05C_4_0.eot');
    src: url('../fonts/24F05C_4_0.eot?#iefix') format('embedded-opentype'),
    url('../fonts/24F05C_4_0.woff') format('woff'),
    url('../fonts/24F05C_4_0.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ProximaNova-Bold';
    src: url('../fonts/24F05C_5_0.eot');
    src: url('../fonts/24F05C_5_0.eot?#iefix') format('embedded-opentype'),
    url('../fonts/24F05C_5_0.woff') format('woff'),
    url('../fonts/24F05C_5_0.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ProximaNova-Semibold';
    src: url('../fonts/ProximaNova-Semibold.eot');
    src: url('../fonts/ProximaNova-Semibold.woff') format('woff'),
    url('../fonts/ProximaNova-Semibold.ttf') format('truetype'),
    url('../fonts/ProximaNova-Semibold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SegoePrint';
    src: url('../fonts/25D0FC_0_0.eot');
    src: url('../fonts/25D0FC_0_0.eot?#iefix') format('embedded-opentype'),url('../fonts/25D0FC_0_0.woff') format('woff'),url('../fonts/25D0FC_0_0.ttf') format('truetype');
}
html, body {
    height: 100%;
}
body {
    line-height: 1;
    color: #29313d;
    text-align: left;
    font-family: "ProximaNova-Regular", Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
}
a {
    color:#fff;
    text-decoration: none;
}
.link-dark {
    color:#2d7b91;
}
/* ************************ FONTS ************************ */
h1, h2, h3, h4 {
    color:#fff;
    font-family:"ProximaNova-Bold";
    font-weight: normal;
    vertical-align: top;
}
.proxima-reg {
    font-family: "ProximaNova-Regular";
}
.proxima-bold {
    font-family:"ProximaNova-Bold";
}
.font-24 {
    font-size:24px;
    line-height: 100%;
}
.font-blue-dark {
    color:#146672;
}
.font-green-dark {
    color: #0e4750;
}
.font-green {
    color: #245057;
}
.font-brown {
    color:#555545;
}
.font-dark {
    color:#3d4041;
}
.font-white {
    color:#fff;
}
.font-grey {
    color:#959595;
}
.font-brown {
    color:#3e3f3a;
}
ul, ol {
    padding: 0;
    margin-left:20px;
}
ul li:last-child {
    margin-bottom: 0px;
}
.unstyled, .side-menu {
    list-style: none;
    margin-left: 0;
}
.list-light li {
    background: url("../img/icon-listlight.png") no-repeat 0 0px;
    color: #fff;
    text-shadow: rgba(0,0,0,0.14) 0 0 8px;
}
.list-light li:last-child {
    margin-bottom: 0px;
}
.list-dark li {
    background: url("../img/icon-registration-list.png") no-repeat 0 0px;
    color: #555545;
    font-family: "ProximaNova-Bold";
    min-height: 21px;
    padding-left: 25px;
}
/* ************************ /FONTS ************************ */
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}
.text-up {
    text-transform: uppercase;
}
.lheight-large {
    line-height: 150%;
}
/* ************************ Buttons ************************ */
.btn, .btn-large, .btn-primary, .submit-primry input[type="submit"], .btn-wrap input {
    border:none;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-family:"ProximaNova-Bold";
    vertical-align: middle;
    text-decoration: none;
    white-space: nowrap;
}
.submit-primry input[type="submit"] {
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.23);
}
.btn-green, .submit-primry input[type="submit"], .btn-green-wrap input {
    background-color: #146672;
}
.btn-green:hover, .title-in-ui input[type="submit"]:hover,
.feedback input[type="submit"]:hover, .submit-primry input[type="submit"]:hover, .btn-green-wrap input:hover {
    background-color: #BD2929;
}
.btn-white {
    background-color: #fff;
    color: #146672;
}
.btn-white:hover {
    background-color: #48b5c6;
    color: #fff;
}
.btn-large, .btn-large-wrap input { /* large green button */
    background-repeat: no-repeat;
    color: #fff;
}
.btn-primary { /* example -  feedback */
    background-repeat: no-repeat;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.23);
    color: #3c3c32;
}
.btn-arrow {
    background-image: url("../img/btn-circle.png");
    background-position: 20px 50%;
    background-repeat: no-repeat;
    padding: 0 10px 0 22px;
}

.btn-primary:hover {
    color:#fff;
    background-position: left bottom;
}

.btn-site:hover {
    background-color:#bf292a;
}
.btn-add {
    border-radius: 4px;
    background: #ddd url("../img/plussmall.png") no-repeat 50% 50%;
    cursor: pointer;
    display: inline-block;
}
/* ************************ /Buttons ************************ */
/*  ************************ Menu ************************  */
.menu-site li, .menu-link-regular, .menu-link-active {
   display: inline;
   list-style-type: none;
}
.menu-site a {
    border-radius: 3px;
    color: #fff;
    display: inline-block;
    font-family: "ProximaNova-Regular";
    text-decoration: none;
}
.menu-main a {
    background: rgba(20,102,114,0.4);
}
.menu-botm a {
    background: rgba(20,102,114,0.4);
}
.menu-site a:hover, .menu-link-active a {
    background:rgba(20,102,114,1);
}
.menu-top, .menu-main {
    position: absolute;
    right:0px;
}
.menu-top {
    top:10px;
}
.menu-botm {
    float: right;
}
.menu-botm a {
    margin-left: 3px;
}
/*  ************************ /Menu ************************  */
/*  ************************ Colors and Borders ************************  */
.block-border {
    border-radius: 8px;
    box-shadow: 0 0 0 8px rgba(255, 255, 255, 0.2);
    margin: 8px;
}
.block-border-dark {
    border-radius: 8px;
    /*box-shadow: 0 0 0 8px rgba(41, 116, 127, 0.2);
    margin: 8px;*/
    border:8px solid rgba(41, 116, 127, 0.2);
}
.border-primary {
    border-radius: 3px;
}
.border-large {
    border-radius: 8px;
}
.bg-transparnt {
    background: rgba(255, 255, 255, 0.2);
}
.bg-rich-blue {
    background-color: #146672;
}
.bg-light-blue { /*  example - bg popupa smenit parol */
     background-color: #f3ffff;
}
.bg-lblue-primary {/*  example - bg rezultatov simulyatzii  */
    background-color: #e8f7f7;
}
.bg-blue { /*  example - ostalos simulyatziy v dashboard */
    background-color: #51c1d2;
}
.bg-blue-block {/*  example - block v resultatax */
    background-color: #ddf0f0;
}
.bg-blue-bar {/*  example - v resultatax bar neaktivnyi */
    background-color: #b5d4d7;
}
.bg-yellow {/*  example - corporate table darker rows */
    background-color: #fdfbc6;
}
.bg-yellow-light {/*  example - corporate table lighter rows */
    background-color: #fefeec;
}
.bg-yellow a {
    color: #555742;
}
/*  ************************ /Colors and Borders ************************  */
/*  ************************ FORM SIMPLE (example - Otpravit priglashenie) ************************  */
input[type="text"], input[type="password"], textarea  {
    background: #fff;
    border: 1px solid #3e5259;
    border-radius: 5px;
    box-shadow: 10px 4px 10px rgba(0,0,0,0.1) inset;
    color: #146672;
    font-family: "ProximaNova-Regular";
    line-height: 1;
    outline:none;
   /*outline: 1px solid rgba(255, 255, 255, 0);*/
}
textarea {
    padding: 5px;
}
.form-simple label {
    color: #fff;
    display: inline-block;
    line-height: 90%;
    padding-right: 10px;
}
.dark-labels label {
    color:#555545;
    font-family: "ProximaNova-Bold";
}
.rows-inline .row {
    display: inline-block;
    padding-top: 0px;
}
input[type="text"]::-webkit-input-placeholder, input[type="password"]::-webkit-input-placeholder {
    color:#1d7885;
}
input[type="text"]::-moz-placeholder, input[type="password"]::-moz-placeholder {
    color:#1d7885;
}
input[type="text"]:-ms-input-placeholder, input[type="password"]:-ms-input-placeholder {
    color:#1d7885;
}
input[type="text"]:-moz-placeholder, input[type="password"]:-moz-placeholder {
    color:#1d7885;
}
/*  ************************ /FORM SIMPLE ************************  */


/*  *************************** POZITZIONIROVANIE ****************************/
.postn-reltv {
    position: relative;
}
.postn-absolt {
    position: absolute;
}
.pull-left {
    float: left;
}
.pull-right {
    float: right;
}
.pull-center {
    margin: 0 auto;
}
.clear {
    clear:both;
}
.thetable {
    display: table;
}
.grid-cell {
    display: table-cell;
}
.grid2.grid-cell, .grid3.grid-cell {
    float:none;
}
.display-ib {
    display: inline-block;
}
/*  *************************** /POZITZIONIROVANIE ****************************/

/*  ****************************** SOCIAL ICONS *******************************/
.social_networks:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.social_networks a, .smallicons a {
    dispay: block;
    float: left;
    overflow: hidden;
    text-indent: -1000px;
    padding: 0px;
}
.social_networks>span {
    display: block;
    float:right;
    font: 14px "ProximaNova-Bold";
    line-height: 31px;
}
.smallicons>span {
    line-height: 26px;
}
.smallicons .addthis_toolbox {
    display: block;
    float:left;
}
.social_networks a {
    background:url(../img/icons/social_networks.png) -100% -100% no-repeat;
    width:32px;
    height:31px;
}
.smallicons a {
    background:url("../img/social-small.png") -100% -100% no-repeat;
    width:28px;
    height:27px;
}
.social_networks a, .smallicons a {
    margin-left:10px;
}
.social_networks .addthis_button_vk {
    background-position: 0px 0px;
}
.social_networks .addthis_button_vk:hover {
    background-position: 0px 100%;
}
.social_networks .addthis_button_facebook {
    background-position: -42px 0px;
}
.social_networks .addthis_button_facebook:hover {
    background-position: -42px 100%;
}
.social_networks .addthis_button_twitter {
    background-position: -83px 0px;
    width:33px;
}
.social_networks .addthis_button_twitter:hover {
    background-position: -83px 100%;
}
.social_networks .addthis_button_google_plusone_share {
    background-position: -125px 0px;
}
.social_networks .addthis_button_google_plusone_share:hover {
    background-position: -125px 100%;
}
.social_networks .addthis_button_linkedin {
    background-position: -166px 0px;
}
.social_networks .addthis_button_linkedin:hover {
    background-position: -166px 100%;
}
.smallicons .addthis_button_facebook {
    background-position: -36px 0px;
}
.smallicons .addthis_button_facebook:hover {
    background-position: -36px -33px;
}
.smallicons .addthis_button_twitter {
    background-position: -71px 0px;
    width:29px;
}
.smallicons .addthis_button_twitter:hover {
    background-position: -71px -33px;
}
.smallicons .addthis_button_google_plusone_share {
    background-position: -107px 0px;
}
.smallicons .addthis_button_google_plusone_share:hover {
    background-position: -107px -33px;
}
.smallicons .addthis_button_linkedin {
    background-position: -142px 0px;
}
.smallicons .addthis_button_linkedin:hover {
    background-position: -142px -33px;
}
.addthis_toolbox.addthis_32x32_style span {
    background: none;
}
/*  ****************************** /SOCIAL ICONS *******************************/
/*  ************************ SELECT ************************/
.sbHolder {
    display:inline-block;
    background: #54c4d4;
    background: -moz-linear-gradient(top, #54c4d4, #2ea6b7);
    background: -webkit-gradient(linear, left top, left bottom,color-stop(0%,#54c4d4), color-stop(100%,#2ea6b7));
    background: -webkit-linear-gradient(top, #54c4d4, #2ea6b7);
    background: -o-linear-gradient(top, #54c4d4, #2ea6b7);
    background: -ms-linear-gradient(top, #54c4d4, #2ea6b7);
    background: linear-gradient(top, #54c4d4, #2ea6b7);
    border: solid 1px #0d5159;
    border-radius:5px;
    font-family: 'ProximaNova-Regular';
    position: relative;
    color: #fff;
    vertical-align:middle;
}
.sbHolder:focus .sbSelector{
    color: #fff;
}
.sbSelector{
    display: block;
    outline: none;
    overflow: hidden;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.sbSelector:link, .sbSelector:visited, .sbSelector:hover{
    color: #fff;
    outline: none;
    text-decoration: none;
}
.sbToggle{
    display: block;
    border-top-right-radius:5px;
    border-bottom-right-radius:5px;
    outline: none;
    position: absolute;
    right: 0px;
    top: 0px;
}
.empty-select .sbToggle {
    background-image: url("../img/emp-select-toggle.png");
}
.empty-select .sbHolder .sbToggleOpen {
    background-position: left top;
}
.sbToggleOpen{
    background: url("../img/bg-select-toggle.png") no-repeat 0 -21px;
}
.sbOptions{
    background: #fff;
    border: solid 1px #000;
    border-radius:5px;
    list-style: none;
    left: -1px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 30px;
    width: 100%;
    z-index:1;
    overflow-x:hidden;
    overflow-y: auto;
}

.empty-select .sbOptions, .no-border .sbOptions {
    border: none;
}
.sbOptions li{
    background: #31a8b9;
    padding: 0px 2px;
}
.sbOptions li:hover {
    background: #ceffff;
}
.sbOptions a{
    color:#fff;
    display: block;
    outline: none;
    padding: 2px 0 3px 8px;
    text-decoration: none;
}
.sbOptions li:hover a {
    color:#3c3c32;
}
.sbOptions li.last a{
    border-bottom: none;
}
.sbOptions .sbDisabled{
    border-bottom: dotted 1px #515151;
    color: #999;
    display: block;
    padding: 7px 0 7px 3px;
}
.sbOptions .sbGroup{
    border-bottom: dotted 1px #515151;
    color: #EBB52D;
    display: block;
    font-weight: bold;
    padding: 7px 0 7px 3px;
}
/*  ************************ /SELECT ************************/
/*  ************************ SITE ************************/
.site-header {
    margin: 0 auto;
    position: relative;
}
.site-header h1 {
    left: 0px;
    position: absolute;
}
.site-wrap {
    margin: 0 auto;
    min-height: 100%;
    position: relative;
}
.site-main {
    position: relative;
    z-index: 2;
}
.site-footer {
    bottom: 0px;
    color:#fff;
    left:0px;
    overflow: visible;
    position: absolute;
    width:100%;
    z-index: 1;
}
.site-footer .grid-container {
    position: relative;
}
.site-footer .container:first-child {
    margin-bottom: 13px;
}
.to-top {
    display: inline-block;
    position: absolute;
    right:0px;
}

/*  ************************ /SITE ************************/
/*  *************************** GRID ***************************/
.grid-container:after, .container-borders-2:after, .container-borders-3:after, .container-3:after,
.container-results-3:after, .container-2:after, .container-4:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.container-borders-2 { /* dlya obramleniya i otstupov blokov s prozrachnym borderom */

}
.grid1, .grid2, .grid3, .standard-left-box, .standard-right-box {
    float:left;
}

.container-4 .grid1+.grid1 {
    margin-left: 4px;
}
.standard-left-box+.standard-right-box {
    margin-left: 15px;
}
.standard-full-width-box {
    width:100%;
}
.results-width-block {
    margin: 0 auto;
    width:1000px;
}
.container-3 .grid1+.grid2 {
    margin-left: 20px;
}
.container-results-3 .grid1 {
    width:316px;
}
.container-results-3 .grid2 {
    width:634px;
}
.container-results-3 .grid1+.grid2 {
    margin-left: 10px;
}
.container-results-2 .grid1 {
    width:459px;
}
.container-results-2 .grid-space {
    width:10px;
}
.container-results-4 .grid1 {
    width:240px;
}
.container-2 .noleftmargin {
    margin-left: 0px;
}
/*  ****************************************************** /GRID **********************************************************/
/*  ************************ SITE ************************/

.site-footer .social_networks {
    color: #29313d;
    left: 50%;
    position: absolute;
}
/*  ************************ /SITE ************************/
.empty-block {
    text-indent: -90000px;
}
/*  *************************** SCRIPT POPUP ***************************/
.ui-widget-overlay {
    background: rgba(0, 0, 0, .55);
    left: 0;
    opacity: 1;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}
.ui-dialog {
    position: absolute;
    z-index: 10;
}
.ui-dialog-titlebar {
    position: relative;
}
.ui-dialog .ui-dialog-titlebar-close, .popupclose {
    border:none;
    cursor: pointer;
    position: absolute;
    display: block;
    margin: 0;
    text-indent: -90000px;
    padding: 0;
}
.ui-dialog .ui-dialog-titlebar-close:hover, .popupclose:hover {
    background-position: 0 100%;
    border: none;
}
.ui-dialog .ui-widget-header .ui-icon, .ui-dialog .ui-widget-header .ui-icon:hover  {
    background: none;
    border: none;
    display: none;
}
/*  *************************** /SCRIPT POPUP ***************************/
.popup-site {
    border: none;
    border-radius: 8px;
    box-shadow: 0 0 0 8px rgba(255, 255, 255, 0.2);
    padding:0px;
}
.feedbackwrap .ui-widget-content {
    padding-bottom: 0px;
    padding-left: 0px;
}
.cabmessage .ui-widget-content {
    padding-bottom: 10px;
}
.popup-center {
    left:50%;
}
/*  *************************** POPUP PRIMARY ***************************/
/* goluboy popup tipa feedback ili prichiny otkaza */
.popup-primary {
    background: url("../img/bg-popuprpt.jpg") repeat left top;
    overflow: visible;
}
.popup-primary .ui-widget-header .ui-icon {
    display: none;
}
.popup-primary .ui-dialog-titlebar, .simulation-result-popup .ui-dialog-titlebar {
    border: none;
    padding: 0;
    height: 0;
}
.popup-primary-title, .popup-primary h1, .feedback-dialog-title {
    color: #0e4750;
    font: 30px "ProximaNova-Regular";
    margin-top: -8px;
    text-align: center;
}
.popup-primary-title, .popup-primary h1 {
    padding-bottom: 30px;
}
.popup-primary label, .popup-primary p {
    color:#0e4750;
}
.title-bold h1, .title-in-ui .ui-dialog-title {
    font-family: "ProximaNova-Bold";
    font-size: 28px;
    text-align: left;
}
.title-in-ui .ui-dialog-title {
    color: #0e4750;
    margin-top:27px;
    margin-left:30px;
}
/*  *************************** /POPUP PRIMARY ***************************/
/*  *************************** POPUP FLASH I SMENIT PAROL ***************************/
.popup-simple {
    background: #E8F7F7;
    color: #3d4041;
    overflow: visible;
}
.popup-simple h3 {
    margin-top:-6px;
}
.popup-simple a {
    color: #2d7b91;
}
.container-border-1.popup-center {
    margin-left: -472px;
}
/*  *************************** /POPUP FLASH I SMENIT PAROL ***************************/
/*  *************************** REZULTATY ***************************/
.simulation-result-popup {
    border: none;
    border-radius: 3px;
    box-shadow: 0 0 0 8px rgba(255, 255, 255, 0.2);
}
.simulation-result-popup .ui-widget-content {
    padding: 20px;
}
.simulation-result-popup h1 {
    font-size: 30px;
    padding: 0px 10px 6px 0px;
}
/*  *************************** /REZULTATY ***************************/
/*  *************************** DASHBOARD TABLE ***************************/
.table-primary, .items, .grid-view table.items {
    background: none;
    border: none;
    width:100%;
}
.table-primary th, .items th, .grid-view table.items th {
    background: #146672 url("../img/th-seprtr.png") no-repeat right bottom;
    border: none;
    border-bottom: 1px solid #0e4750;
    color:#fff;
    font-weight: normal;
    text-align: left;
    vertical-align: middle;
}
.table-primary th:first-child, .items th:first-child {
    border-radius: 5px 0px 0px;
}
.table-primary th:last-child, .items th:last-child {
    border-radius: 0px 5px 0px 0px;
}
.table-primary td, .items td, .grid-view table.items td {
    background-color: #fdfbc6;
    border: none;
    vertical-align: middle;
}
.table-primary .even td, .items .even td, .grid-view table.items tr.even td {
    background: #fefeec;
}
.table-primary tr:last-child td:first-child, .items tr:last-child td:first-child,
.table-simultns .items tr:last-child td:first-child {
    border-radius: 0px 0px 0px 5px;
}
.table-primary tr:last-child td:last-child, .items tr:last-child td:last-child {
    border-radius: 0px 0px 5px;
}
.table-primary th a, .items th a, .grid-view table.items th a {
    background: url("../img/arrow-down.png") no-repeat right 56%;
    font-family: "ProximaNova-Regular";
    font-weight: normal;
    display: block;
    padding-right: 12px;
}
#private-invitations-list-box .grid-view .items tr:last-child td[colspan="5"],
#corporate-invitations-list-box .grid-view .items tr:last-child td[colspan="8"] {
    border-radius: 0px 0px 5px 5px;
}
span.empty {
    display: block;
    height: 15px;
}
/*  *************************** /DASHBOARD TABLE ***************************/
/*  *************************** KABINET ***************************/
.invites-smallmenu-switcher {
    background: url("../img/menugear.png") no-repeat left top;
    color: #232323;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    height: 24px;
    width: 22px;
}
.invites-smallmenu-item {
    background: #a5a385; /* Old browsers */
    background: -webkit-linear-gradient(top,  #a5a385 0%,#8a896c 100%); /* Chrome10+,Safari5.1+ */
    background: linear-gradient(to bottom,  #a5a385 0%,#8a896c 100%); /* W3C */
    border: 1px solid #717059;
    border-radius: 0px 7px 7px;
    display: none;
    margin: -4px 0 0 0px;
    padding: 15px 20px 10px 22px;
    position: absolute;
    z-index: 10;
}
.invites-smallmenu-item a {
    color: #fff;
    display: block !important;
    font-family: "ProximaNova-Regular";
    padding: 0 0 10px 6px;
    text-decoration: none;
    z-index: 20;
}
.invites-smallmenu-item a:hover {
    color: #000;
}
.selected-sk .invites-smallmenu-switcher {
    background-position: right top;
}
.topline {
    background: #a5a385;
    display: none;
    position: absolute;
    height: 4px;
    margin: 22px 0px 0px -21px;
    width: 20px;
    z-index: 70;
}
.selected-sk .topline {
    display: inline-block;
}
.grid-view {
    padding: 0px;
    position: relative;
}
.grid-view .summary {
    margin: 0px;
}
.grid-view .pager {
    bottom: -75px;
    height: 40px;
    margin: 0px;
    text-align: center;
    padding-top: 25px;
    position: absolute;
    width: 598px;
    width: 100%;
    z-index: 5;
}
#private-invitations-list-box .grid-view tr td:first-child,
#private-invitations-list-box .grid-view tr td:nth-child(2),
#corporate-invitations-list-box .grid-view tr td:nth-child(4),
.table-simultns tr .grid-view tr td:first-child,
.table-simultns tr .grid-view tr td:nth-child(2),
.table-simultns tr .grid-view tr td:nth-child(3){
    overflow: hidden;
    text-overflow: clip;
    white-space: nowrap;
}
.table-simultns tr .grid-view tr td:first-child {
    overflow: hidden;
    text-overflow: clip;
}
#corporate-invitations-list-box .grid-view .items th:nth-child(2),
#corporate-invitations-list-box .grid-view .items tr td:nth-child(2) {
    padding-left: 0px;
}
#corporate-invitations-list-box .items th:first-child {
    background-image: none;
    padding-right: 0px;
}
#corporate-invitations-list-box #yw0_c1 {
    position: relative;
}
.controller-static-dashboard .grid-view .items td {
    vertical-align: middle;
}
.block-stars {
    font-size: 10px;
    height: 14px;
    line-height: 14px;
    vertical-align: middle;
}
.ratebg {
    display: table-cell;
    padding-right:4px;
}
.prcentval {
    display: table-cell;
    margin-top: -3px;
}
span.required, .form-simple span.required {
    display: none;
}
/*  *************************** /KABINET ***************************/
/* ************************ Pager ************************ */
.yiiPager, .yiiPager li, .pager .yiiPager li, .pager .yiiPager {
    margin:0px;
    padding: 0px;
}
.yiiPager li, .pager .yiiPager li {
    list-style-type: none;
}
.yiiPager .first, .yiiPager .last, .pager .yiiPager .first, .pager .yiiPager .last {
    display: none;
}
.yiiPager li, .yiiPager li a, .pager .yiiPager li, .pager .yiiPager li a {
    color: #fff;
    display: inline-block;
    font-family:"ProximaNova-Semibold", Sans-Serif;
}
.yiiPager a, .pager .yiiPager a {
    margin: 0px 2px;
    padding: 0px;
    text-align: center;
}
.yiiPager .selected a, .pager .yiiPager .selected a {
    background: none;
    border:none;
    color: #146672;
}
.yiiPager .previous a, .yiiPager .next a,
.pager .yiiPager .previous a, .pager .yiiPager .next a,
.pager .yiiPager .previous a:link, .pager .yiiPager .next a:link,
.pager .yiiPager .previous a:visited, .pager .yiiPager .next a:visited {
    background: #6caab3;
    border: none;
    font-family:"ProximaNova-Semibold", Sans-Serif;
}
.yiiPager a:link, .pager .yiiPager a:link, .yiiPager a:visited, .pager .yiiPager a:visited {
    border:none;
    padding:0px;
}
.yiiPager a:hover, .pager .yiiPager a:hover {
    border:none;
}
.yiiPager .previous a:hover, .yiiPager .next a:hover,
.pager .yiiPager .previous a:hover, .pager .yiiPager .next a:hover {
    background: #146672;
    border:none;
}

/* ************************ /Pager ************************ */
/*  *************************** ERRORS ***************************/
input.error, textarea.error, .error textarea, .error input[type="text"], .error input[type="password"],
.feedback .form-section .error textarea, .feedback .form-line .error input[type="text"]{
    border: 2px solid #bd2929;
}
.errorMessage {
    color: #bd2929;
    font-family: "ProximaNova-Regular";
    position: absolute;
    top:-1px;
}
.bg-rich-blue .errorMessage {
    color:#fff;
}

/*  *************************** /ERRORS ***************************/
.highlight-title {
    background: url("../img/highlight-title-bg.png") no-repeat center top;
    height: 134px;
    font: normal 48px "ProximaNova-Regular";
    line-height: 114px;
    text-align: center;
}
.highlight-title+.pad40 {
    padding-top: 24px;
}

/*  *************************** ADD VACANCY POPUP ***************************/
.add-vacancy-popup {
    background: url("../img/vacancybg.jpg") no-repeat right top, url("../img/bg-popuprpt.jpg") repeat left top;
    position: relative;
    overflow: visible;
}
.add-vacancy-popup label {
    color: #146672;
    display: table-cell;
    margin: 0px;
    vertical-align: middle;
}
.add-vacancy-popup .row {
    padding-bottom: 12px;
    padding-top: 0px;
}
.add-vacancy-popup input[type="text"], .add-vacancy-popup .sbHolder {
    position: absolute;
    top: 0px;
}
.add-vacancy-popup .ui-dialog-titlebar-close {
    top: -20px;
}
.add-vacancy-popup .ui-widget-content {
    overflow: visible;
}
/*  *************************** /ADD VACANCY POPUP ***************************/
/*  *************************** SEND INVITATION POPUP ***************************/
.cabmessage {
    background: url("../img/bg-kniga2.jpg") no-repeat right bottom, url("../img/bg-popuplight.jpg") no-repeat center top, url("../img/bg-popuprpt.jpg") repeat left top;
    border: none;
}
#Invite_fullname, #Invite_message {
    background: #fff;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 4px;
    border:1px solid #fff;
    color: #146672;
    margin: 0px;
}
.block-form {
    background: #e1f1f4;
    border: 1px solid #374f52;
    border-radius: 5px;
    -moz-box-shadow: 10px 4px 10px rgba(0,0,0,0.1) inset;
    -webkit-box-shadow: 10px 4px 10px rgba(0,0,0,0.1) inset;
    box-shadow: 10px 4px 10px rgba(0,0,0,0.1) inset;
    overflow: hidden;
}
.block-form a {
    color: #2d7b91;
}
.block-form p:last-child {
    margin-bottom: 0px;
}
.cabmessage .ui-widget-content {
    float:left;
    padding-bottom: 0px;
    padding-top: 12px;
}

/*  *************************** /SEND INVITATION POPUP ***************************/
/*  *************************** FEEDBACK ***************************/
.feedbackwrap {
    background: url("../img/feedbackbg.jpg") no-repeat center top, url("../img/bg-popuprpt.jpg") repeat left top;
}
.feedback .email-field {
    font: 16px "ProximaNova-Regular";
    text-indent: 10px;
}
/*  *************************** /FEEDBACK ***************************/
.table-simultns {
    position: relative;
}
/*  *************************** PROFILE ***************************/
.side-menu .active {
    background: #fff url("../img/menutopbg.png") repeat-x top;
    font-family:"ProximaNova-Bold";
    padding-bottom: 1px;
}
.side-item {
    background: #fdfcc6 url("../img/menutopbg.png") repeat-x top;
}
.side-menu li:first-child {
    background-image: none;
}
.side-menu li:first-child, .side-menu li:first-child a {
    border-radius: 3px 3px 0px 0px;
}
.side-menu li:last-child, .side-menu li:last-child a {
    border-radius: 0px 0px 3px 3px;
}
.mnotactive a {
    color: #979d98;
}
.profile-tarif-form .grid-cell {
    height: 30px;
    vertical-align: top;
}
.profile-tarif-form .btn-primary {
    margin-left: 25px;
}
.profileform .row:first-child, .profile-tarif-form  .row:first-child {
    padding-top: 0px;
}
.profileform label {
    float: left;
}
/* ***************** VACANCIES *****************  */
.vacancy-list .grid-view table.items, .vacancy-list .grid-view table.items tr.odd,
.vacancy-list .grid-view table.items tr.even,
.vacancy-list .items tr:nth-child(odd) td, .vacancy-list .grid-view table.items tr.even td    {
    background: none;
    border: none;
}
.vacancy-list .grid-view tr td:first-child {
    padding-right: 10px;
}
.vacancy-list .grid-view tr td:nth-child(2),
.vacancy-list .grid-view tr td:nth-child(3) {
    text-overflow: clip;
    overflow: hidden;
}
.vacancy-list .grid-view tr td {
    color: #3c3c32;
    font-family: "ProximaNova-Regular";
}

.edit-vacancy-link, .delete-vacancy-link {
    display: block;
    overflow: hidden;
    text-indent: -900000px;
}
.edit-vacancy-link {
    background: url("../img/vacancy-edit.png") no-repeat left top;
    height: 16px;
    margin-left:10px;
    width: 12px;
}
.delete-vacancy-link {
    background: url("../img/vacancy-delete.png") no-repeat left top;
    height: 12px;
    width: 12px;
}
.edit-vacancy-link:hover, .delete-vacancy-link:hover {
    background-position: left bottom;
}
/* ***************** /VACANCIES *****************  */
/*  *************************** /PROFILE ***************************/
/*  *************************** TEAM ***************************/
.team-list {
    list-style: none;
    margin: 0px;
}
.team-list li {
    background-repeat: no-repeat;
    background-position: 0 bottom;
    display: inline-block;
    vertical-align: top;
}
.team-values li:first-child {
    margin-top: 0px;
}
.dots {
    background-image: url("../img/dots.png");
    background-repeat: no-repeat;
    display: inline-block;
    line-height: 100%;
    padding-left: 10px;
}
/*  *************************** /TEAM ***************************/
/*  *************************** OTZENKA ***************************/
.chart-gauge {
    float: left;
    position: relative;
    overflow: visible;
    background: url(../img/charts/gauge.png) no-repeat center bottom;
}
.chart-gauge:after {
    content: '';
    position: absolute;
    z-index: 2;
    width: 34px;
    height: 34px;
    bottom: -8px;
    left: 50%;
    margin-left: -17px;
    background: url(../img/charts/bullet.png) no-repeat;
}
.chart-gauge .pointer {
    position: absolute;
    z-index: 1;
    width: 105px;
    height: 20px;
    bottom: 2px;
    left: 27px;
    background: url(../img/charts/pointer.png) no-repeat;
    -webkit-transform-origin: 92px 11px;
    -moz-transform-origin: 92px 11px;
    -ms-transform-origin: 92px 11px;
    transform-origin: 92px 11px;
}
.chart-bar {
    overflow: hidden;
    height: 30px;
    border-radius: 5px;
    background-color: #b5d4d7;
}
.chart-bar.max-hidden {
    background: transparent;
}
.chart-value {
    color:#3d4041;
    bottom: 0px;
    display: block;
    font:17px "ProximaNova-Regular";
    left: 0px;
    height: 30px;
    text-align: center;
    color: white;
    font:18px "ProximaNova-Regular";
    line-height: 30px;
    position: absolute;
    width: 0;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 1000;
}
.product .chart-value {
    text-indent: -90000px;
}
.product .chart-value:after {
    color: #fff8cb;
    content: '%';
    display: block;
    height: 14px;
    left:0px;
    position: absolute;
    text-indent:0px;
    top:0px;
    width:14px;
}
.redbar .chart-value{
    background-color: #e11a1a;
}
.chart-bullet {
    position: relative;
    height: 18px;
    border-radius: 6px;
    border-top: 1px solid #39656b;
    background-color: #bcbcbc;
}
.chart-bullet.valued {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
.chart-bullet.valued:before, .chart-bullet.valued:after {
    content: '0%';
    position: absolute;
    font-size: 15px;
    color: #3d4041;
    left: -30px;
    width: 30px;
    text-align: center;
}
.chart-bullet.valued:after {
    content: '100%';
    left: auto;
    width: 50px;
    right: -50px;
    top: 0;
}
.chart-bullet .bar, .bar, .shortIndicator .bar {
    display: block;
    height: 100%;
    width: 0;
    border-radius: 6px;

    background: -webkit-linear-gradient(top, #127988, #164651);
    background: -moz-linear-gradient(top, #127988, #164651);
    background: -ms-linear-gradient(top, #127988, #164651);
    background: linear-gradient(top, #127988, #164651);
}
.chart-bullet .bullet, .bullet {
    content: '';
    position: absolute;
    left: -17px;
    top: -6px;
    width: 34px;
    height: 34px;
    background: url(../img/charts/bullet.png) no-repeat;
}
.chart-bullet .chart-value {
    position: absolute;
    display: none;
    top: -27px;
    width: 34px;
    color: #3d4041;
    font-size: 22px;
    text-align: center;
}
.chart-bullet.valued .chart-value {
    display: block;
}

.chart-pie {
    position: relative;
    background: url(../img/charts/pie-simple.png) no-repeat 50% 50%;
    width: 300px;
    height: 300px;
}
.chart-pie.scaled {
    background: url(../img/charts/pie-scale.png) no-repeat 50% 60%,
    url(../img/charts/pie-simple.png) no-repeat 50% 50%;
}
.chart-pie:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url(../img/charts/pie-glance.png) no-repeat 50% 25%;
}
.allsummry {
    background: url("../img/resultsline-new.png") no-repeat center 26px;
}
/*  *************************** /OTZENKA ***************************/
/*  *************************** PRODUCT ***************************/
.widthblock {
    display: table-cell;
    margin: 0px;
    padding: 0px;
}
.product .bluelist ul {
    display: none;
}
.product .font-5xlarge {
    line-height: 100%;
}
/*  *************************** /PRODUCT ***************************/