/*  *************************** PADDINGS ****************************/
.pad-norm {
    padding: 8px;
}
.pad-midle {
    padding: 12px;
}
.pad-large {
    padding: 15px;
}
.pad-xsize {
    padding: 22px;
}
.pad-xxsize {
    padding: 30px;
}
.pad-large>h1, .pad-large>h2, .pad-xsize>h1, .pad-xsize>h2, .ui-widget-content>h1, .ui-widget-content>h2 {
    margin-top: -4px;
}
/*  *************************** /PADDINGS ****************************/
/*  ****************************** SOCIAL ICONS *******************************/
.social_networks>span {
    line-height: 26px;
}
.social_networks .addthis_toolbox {
    display: block;
    float:left;
}
.social_networks>span {
    font-size: 12px;
    line-height: 26px;
}
.social_networks .addthis_toolbox {
    display: block;
    float:left;
}
.social_networks a {
    background:url("../img/social-small.png") -100% -100% no-repeat;
    width:28px;
    height:27px;
}
.social_networks .addthis_button_facebook {
    background-position: -36px 0px;
}
.social_networks .addthis_button_facebook:hover {
    background-position: -36px -33px;
}
.social_networks .addthis_button_twitter {
    background-position: -71px 0px;
    width:29px;
}
.social_networks .addthis_button_twitter:hover {
    background-position: -71px -33px;
}
.social_networks .addthis_button_google_plusone_share {
    background-position: -107px 0px;
}
.social_networks .addthis_button_google_plusone_share:hover {
    background-position: -107px -33px;
}
.social_networks .addthis_button_linkedin {
    background-position: -142px 0px;
}
.social_networks .addthis_button_linkedin:hover {
    background-position: -142px -33px;
}
/*  ****************************** /SOCIAL ICONS *******************************/
/*  ************************ KABINET ************************/
#invite-form .sbHolder {
    width:113px;
}
#invite-form .btn-primary {
    margin-left: 66px;
}
#invite-people-box h3 {
    padding-bottom: 5px;
    width:170px;
}
#Invite_firstname {
    width: 50px;
}
#Invite_lastname {
    width: 65px;
}
#Invite_email {
    width: 133px;
}
#invite-form .btn-add {
    bottom: 2px;
    position: absolute;
    right: 0px;
}
/*  ************************ /KABINET ************************/
/*  ************************ FORM SIMPLE (example - Otpravit priglashenie) ************************  */
.form-small input[type="text"], .form-small input[type="password"] {
    height: 20px;
    line-height: 20px;
    padding: 2px 5px;
}
.form-simple label{
    min-width: 54px;
}
.form-large input[type=text], .form-large input[type=password] {
    height:20px;
    font-size: 14px;
    padding: 12px 8px 12px 15px;
}
.form-large input[type="text"]:focus, .form-large input[type="password"]:focus {
    box-shadow: 3px 3px 10px #C0C0C0 inset, 0 0 9px rgba(0, 0, 0, 0.1);
    border:3px solid #24bdd3;
    padding: 10px 6px 10px 13px;
}
.form-simple input[type="text"]+input[type="text"] {
    margin-left: 6px;
}
.row {
    position: relative;
    padding-top: 7px;
}
.row.wide {
    padding-top: 10px;
}
.row.buttons, .row.wide+.row.wide {
    padding-top: 12px;
}
.sbHolder {
    font-size:11px;
}
/*  ************************ /FORM SIMPLE (example - Otpravit priglashenie) ************************  */
/* ************************ Pager ************************ */
.yiiPager a {
    font-size: 14px;
}
.yiiPager .previous a, .yiiPager .next a {
    font-size: 12px;
    padding: 4px 8px 4px 8px;
}
/* ************************ /Pager ************************ */