.tagHandler {
    width: 100%;
    position: relative;
}
.tagHandler ul.tagHandlerContainer {
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border: 1px solid #DFDFDF;
    background-color: white;
    border-radius: 0;
    box-shadow: 0;
    overflow: hidden;
    min-height: 32px;
    line-height: 32px;
    cursor: text;
    font-family: arial, helvetica, sans-serif;
    /*padding: 0px 5px;*/
    margin: 0;
}
.tagHandler ul.tagHandlerContainer li {
    height: 14px;
    line-height: 14px;
    display: block;
    float: left;
    font-size: 12px;
    margin: 5px 0px 5px 5px;
    white-space: nowrap;
}
.tagHandler ul.tagHandlerContainer li.tagItem {
    background:url("../img/mail/bg-mail-send-to.png") no-repeat 0 -22px;
    -webkit-border-radius:11px;
    -moz-border-radius:11px;
    border-radius:11px;
    -moz-box-shadow:0 1px 1px rgba(0,0,0,0.14);
    -webkit-box-shadow:0 1px 1px rgba(0,0,0,0.14);
    box-shadow:0 1px 1px rgba(0,0,0,0.14);
    color: #000;
    padding: 4px 15px;
    cursor: url('../img/tag-handler/tag_remove.cur'), pointer;
    position:relative;
    overflow:hidden;
}
.tagHandler ul.tagHandlerContainer li.tagItem:after{
	display:inline-block;
	content:'×';
	background:url("../img/mail/bg-mail-send-to.png") no-repeat right top;
	width:9px;
	height:22px;
	text-align:right;
	line-height:22px;
	padding-right:6px;
	position:absolute;
	top:0;
	right:0;
}
.tagHandler ul.tagHandlerContainer li.tagInput {
    padding: 3px 4px;
}
.tagHandler ul.tagHandlerContainer input.tagInputField,
.tagHandler ul.tagHandlerContainer input.tagInputField:focus{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: none;
    width: inherit;
    background-color: #FFF;
    border-radius: 0;
    box-shadow: 0 0 0;
    color: #666;
    font-size: 12px;
}

.tagHandler div.tagLoader {
    position: absolute;
    right: -24px;
    top: 12px;
    display: none;
    background: url('../img/tag-handler/loader.gif') center center no-repeat;
    width: 16px;
    height: 18px;
    cursor: default;
}
.tagHandler div.tagUpdate {
    position: absolute;
    right: -24px;
    top: 14px;
    background: url('../img/tag-handler/tag_update.png') center center no-repeat;
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.ui-widget-content {
    background-color: white;
    max-height: 350px;
}
.ui-autocomplete.ui-widget-content {
    overflow-y: scroll;
}

.ui-widget-content a {
    color: #000000;
    margin: 10px 0;   
}

.ui-menu .ui-menu-item a.ui-state-hover {
    margin: 10px 0;
    background-color: #DDD;
}

.ui-autocomplete {
    margin-top: -5px;
    padding-bottom: 15px; 
}

input.tagInputField {
    border-radius: 0;
    box-shadow: 0;
}