.onetariff {
    display: inline-block;
    margin: 0px 11px 14px 11px;
    padding: 0px;
}
body  .onetariff  {
    padding: 0px;
}
.tariff-box {
    background:#fdfbc6 url("../img/tariffstop.jpg") no-repeat center top;
    height:410px;
    width:212px;
}
.tariff-box:first-child {
    margin-left: 0px;
}
.tariff-box:last-child {
    margin-right: 0px;
}
.tarifname {
    border-bottom:1px solid #69a7b0;
    cursor: ;
    display: block;
    font:20px 'ProximaNova-Bold';
    padding: 17px 0px 10px;
    text-align: center;
}
.price {
    border-top:1px solid #1c5962;
    padding: 15px 0px;
}
.tarifname, .price {
    color:#fff;
    text-align: center;
}
.price p {
    background:url("../img/rublicon.png") no-repeat 0px 0px;
    display: inline-block;
    font-size: 46px;
    height: 50px;
    line-height: 50px;
    padding: 0px 22px;
}
.price span {
    font-size: 60px;
}
.tariff-box .brightblock {
    font-size:17px;
    margin-bottom: 20px;
}
.tariff-box .lightblock {
    margin-bottom: 10px;
}
.tarifwrap {
    padding: 0px 5px;
    text-align: center;
}
.benefits {
    color:#3d4041;
    display: table-cell;
    height: 112px;
    font: 16px "ProximaNova-Bold";
    vertical-align: middle;
    width: 210px;
}
.benefits p {
    margin: 10px auto;
    text-align: center;
}
.tariff-box .light-btn {
    font-size: 17px;
}
.tarifswrap .text16 {
    font-family:"ProximaNova-Bold";
    padding-right: 24px;
}
.tarifswrap strong {
    color:#fff;
    font-weight: normal;
}

.socicons, .socicons a {
    display: inline-block;
}
.socicons a {
    background-position: left top;
    height:31px;
    margin: 0px 5px;
    width: 33px;
}
.socicons a:hover {
    background-position: left bottom;
}

.contwrap {
    height: 31px;
    margin: 10px 0px 0px 24px;
    position: relative;
}
.tarifswrap .social_networks {
    bottom: 0px;
    height: 31px;
    margin-left: 25px;
    padding: 0px;
    position: absolute;
}
.tarifswrap  .social_networks a  {
    margin-left: 10px;
}
