<div id="<@= css_id @>" class="xls-container">
    <div class="table-container" id="tableeditor"></div>
    <ul class="sheet-tabs">
        <@ sheets.forEach(function (sheet) { @>
        <li data-sheet-name="<@= sheet.get('name') @>"><@= sheet.get('name') @></li>
        <@ }) @>
    </ul>
</div>