@media screen and (max-width: 1279px) {
    /* Corporate Dashboard - Имя */
    .action-controller-corporate-static-dashboard .contrast-table tr td:nth-child(2) {
        max-width: 120px;
        min-width: 100px;
    }

    /* Corporate Dashboard - Позиция */
    .action-controller-corporate-static-dashboard .contrast-table tr td:nth-child(3) {
        max-width: 120px;
        min-width: 100px;
    }


    #send-invite-message-form input[type="text"] {
        width: 614px;
    }

    .controller-static-dashboard #invite-form label {
        width: 50px;
    }

    #Invite_email {
        width: 195px;
    }

    #Invite_firstname {
        width: 80px;
    }

    #Invite_lastname {
        width: 98px;
    }

    #invite-form .sbHolder,
    #invite-form select {
        width: 177px;
    }

    .row {
        padding: 12px 0 0;
    }

    .ui-dialog form .sbHolder,
    .ui-dialog form .sbOptions {
        width: 314px;
    }

    .ui-dialog form label {
        width: 200px;
    }

    .ui-dialog form input[type="text"] {
        width: 308px;
    }

    #send-invite-message-form input[type="text"] {
        width: 495px;
    }

    #invite-form .button-white {
        margin-left: 60px;
    }

    .controller-static-dashboard .inner-popover {
        left: 755px;
    }

    .hint-assessment-results-type-switcher {
        margin-left: 0px;
    }

    .action-controller-personal-static-dashboard .hint-assessment-results-type-switcher {
        margin-left: -596px;
    }

    .assessment-results-type-switcher {
        margin-top: -2px;
        padding-bottom: 1px;
    }

    #invite-form .error-place {
        padding-left: 59px;
    }

    .unstandard-firstname-error {
        width: 94px;
    }

    .invite-people-box {
        height: 225px;
    }
}