
.controller-static-dashboard aside {
    margin-left: 7px;
    margin-right: 14px; /* число найдено подбором */
}

.controller-static-dashboard h2 {
    font-size: 1.78em;
}

.controller-static-dashboard .page-title-box {
    margin: 0 0 40px 0;
}

.controller-static-dashboard #invite-form label {
    display: inline-block;
    padding-right: 6px;
    width: 60px;
}

.clearfix {
   height: 100px;
}

/* --- */

/* Форма отправки приглашений */

#Invite_firstname {
    width: 106px;
}

#Invite_lastname {
    margin-left: 4px;
    width: 120px;
}

#Invite_email {
    width: 245px;
}

#invite-form .sbHolder,
#invite-form select {
    width: 228px;
}

.invite-people-box {
    height: 243px;
}

.row {
    padding: 15px 0 0;
}

.button-add-vacancy {
    background: url("../../img/site/1280/buttons/plus.png") no-repeat scroll 50% 50% #DDDDDD;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-family: "ProximaNova-Bold";
    font-size: 18px;
    font-weight: bold;
    height: 22px;
    line-height: 22px;
    padding: 0 6px;
    position: relative;
    text-align: center;
    top: 7px;
    width: 10px;
}

#invite-form .button-white {
    margin-left: 71px;
}

/* --- */

.simulations-counter-box {
    height: 68px;
}

.counter {
    height: 30px;
}

.counter strong {
    color: #3D4041;
    font-family: "ProximaNova-Bold";
    font-size: 1.21em;
    font-weight: normal;
    margin-right: 20px;
}

.counter .label {
    color: #fff;
    font-family: "ProximaNova-Bold";
    font-size: 1.21em;
    font-weight: normal;
}

/* --- */

.corporate-invitations-list-box table {
    width: 100%;
}

.corporate-invitations-list-box{
    margin-bottom: 100px;
}

.table-head {
    background-color: #146672;
    border-radius: 8px 8px 0 0;
    height: 8px;
    font-size: 0px;
    line-height: 0px;
    width: 100%;
}

.table-footer {
    background-color: #FEFEEC;
    border-radius: 0 0 8px 8px;
    height: 8px;
    font-size: 0px;
    line-height: 0px;
    margin-top: -5px;
    width: 100%;
}

.grid-view .summary {
    margin: 0px !important;
}

/* --- redefine /framework/zii/widgets/assets/gridview/styles.css { */

.skiliks .grid-view {
    padding: 0;
}

.skiliks .grid-view table.items,
.skiliks .grid-view table.items tr,
.skiliks .grid-view table.items th,
.skiliks .grid-view table.items td {
    border: 0;
}

.skiliks .grid-view table.items,
.skiliks .grid-view table.items th {
    background: none;
}

.skiliks .grid-view table.items th {
    background-color: #146672;
    border-bottom: 1px solid #0E4750;
}

.skiliks .grid-view table.items tr td {
    text-align: left;
    font-weight: bold;
    height: 40px;
}

.skiliks .grid-view table.items tr,
.skiliks .grid-view table.items tr.even,
.skiliks .grid-view table.items tr.even td,
.skiliks .grid-view table.items tr:hover {
    background-color: #FEFEEC;
}

.skiliks .grid-view table.items tr.odd,
.skiliks .grid-view table.items tr.odd td {
    background-color: #FDFBC6;
}

.skiliks .grid-view table.items td {
    font-size: 0.9em;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Имя */
.skiliks .grid-view tr td:nth-child(2) {
    max-width: 300px;
}

/* Позиция */
.skiliks .grid-view tr td:nth-child(3) {
    max-width: 200px;
}

/* Статус */
.skiliks .grid-view tr td:nth-child(4) {
    width: 70px;
}

/* Дата */
.skiliks .grid-view tr td:nth-child(5) {
    width: 80px;
}

/* Рейтинг */
.skiliks .grid-view tr td:nth-child(6) {
    max-width: 150px;
}

/* стрелки сортировки */

.skiliks .grid-view table.items th a.desc,
.skiliks .grid-view .items th a {
    background: url("../../img/arrow-down.png") no-repeat scroll 0 50% rgba(0, 0, 0, 0);
    color: #ffffff;
    width: 100%;
    padding-left: 12px;
    text-align: left;
}

.skiliks .grid-view table.items th a.asc {
    background: url("../../img/arrow-up.png")   no-repeat scroll 0 50% rgba(0, 0, 0, 0) !important;
}

/* pager: */

.pager-place {
    margin-top: 10px;
    text-align: center;
}

.skiliks ul.yiiPager .first,
.skiliks ul.yiiPager .last {
    display: none;
}

.skiliks ul.yiiPager .previous a,
.skiliks ul.yiiPager .next a {
    background-color:  #6CAAB3;
    border: none;
    margin-left: 15px;
    margin-right: 15px;
    padding: 7px 10px;
}

.skiliks ul.yiiPager .previous a:hover,
.skiliks ul.yiiPager .next a:hover {
    background-color:  #146672;
}

.skiliks ul.yiiPager a:visited,
.skiliks ul.yiiPager .hidden a,
.skiliks ul.yiiPager .page a:link,
.skiliks ul.yiiPager .next a:visited,
.skiliks ul.yiiPager .next a:link,
.skiliks ul.yiiPager a:link {
    color: #FFFFFF;
    font: 14px "ProximaNova-Bold";
}

.skiliks ul.yiiPager .page a,
.skiliks ul.yiiPager .page a:link,
.skiliks ul.yiiPager .page a:visited {
    border: medium none;
    margin: 0 4px;
    padding: 0;
    text-decoration: none;
}

.skiliks ul.yiiPager .selected a,
.skiliks ul.yiiPager .selected a:link,
.skiliks ul.yiiPager .selected a:visited {
    color: #146672;
    background-color: transparent;
}

.skiliks ul.yiiPager li,
.skiliks ul.yiiPager li a {
    display: inline-block;
}

/* } redefine /framework/zii/widgets/assets/gridview/styles.css --- */

/* шестерёнка */

.table-menu-switcher {
    background: url("../../img/site/1280/buttons/icon-gear.png") no-repeat left top;
    position: relative;
    height: 22px;
    width: 22px;
    z-index: 4;
}

.selected-sk .table-menu-switcher {
    background-position: right top;
    z-index: 6;
}

.table-menu {
    background: linear-gradient(to bottom, #A5A385 0%, #8A896C 100%) repeat;
    border: 1px solid #717059;
    border-radius: 0 7px 7px;
    display: none;
    margin: -6px 0 0;
    padding: 15px 20px 10px 22px;
    position: absolute;
    z-index: 5;
}

.table-menu a {
    display: block;
    font-family: "ProximaNova-Regular";
    font-weight: normal;
    padding: 0 0 10px 6px;
    text-decoration: none;
}

.table-menu a:hover {
    color: #000;
}

.corporate-invitations-table {
    margin-bottom: 15px;
}
/* --- *

/* смешение подсказки о статусе прглашения */
.controller-static-dashboard .inner-popover {
    left: 810px;
}

/* --- */

.percentile-hover-toggle-span {
    cursor: pointer;
    display: inline-block;
    height: 14px;
    margin-left: 10px;
    position: relative;
    /*top: 14px;*/
    width: 35px;
}

.percentile-selected {
    background: url("../../img/site/1280/dashboard/percentile-selected.png") no-repeat;
}

.stars-selected {
    background: url("../../img/site/1280/dashboard/stars-selected.png") no-repeat;
}

.assessment-results-type-switcher {
    height: 14px;
    margin-left: 10px;
    width: 35px;
}

/* --- */

i.icon {
    background-size: 18px 17px;
    height: 17px;
    margin-top: 6px;
    width: 18px;
}

i.icon-excel {
    background-image: url("../../img/documents/xls.png");
}

i.icon-doc {
    background-image: url("../../img/documents/doc.png");
}

.link-with-background label{
    height: 20px;
    line-height: 1em;
    margin-left: 4px;
    vertical-align: middle;
}

.ui-dialog form label {
    font-weight: bold;
    width: 240px;
}

.ui-dialog form input[type="text"] {
    width: 390px;
}

.ui-dialog form .sbHolder {
    margin-left: 4px;
    position: absolute;
}

.ui-dialog form .sbHolder,
.ui-dialog form .sbOptions {
    width: 396px;
}

.ui-dialog form .row {
    height: 26px;
}

.ui-dialog form .error-place {
    padding-left: 122px;
}

#invite-form .error-place {
    padding-left: 70px;
}

#invite-form .error .error-place .errorMessage,
#invite-form .error .error-place {
    height: 16px;
    margin-top: -16px; /* this.margin-top === this.height*/
}

