@media screen and (max-width: 1279px) {
    /* Corporate Dashboard - Имя */
    .action-controller-corporate-static-dashboard .contrast-table tr td:nth-child(2) {
        max-width: 130px;
        width: 130px;
    }

    /* Corporate Dashboard - Позиция */
    .action-controller-corporate-static-dashboard .contrast-table tr td:nth-child(3) {
        max-width: 110px;
        width: 110px;
    }

    /* Personal Dashboard - Компания */
    .action-controller-personal-static-dashboard .contrast-table tr td:nth-child(1) {
        width: 140px;
        min-width: 140px; /* for text-overflow: ellipsis; */
        max-width: 140px; /* for text-overflow: ellipsis; */
    }

    /* Personal Dashboard - Позиция */
    .action-controller-personal-static-dashboard .contrast-table tr td:nth-child(2) {
        width: 110px;
        min-width: 110px; /* for text-overflow: ellipsis; */
        max-width: 110px; /* for text-overflow: ellipsis; */
    }

    /* Personal Dashboard - Дата */
    .action-controller-personal-static-dashboard .contrast-table tr td:nth-child(4) {
        width: 60px;
        max-width: 60px;
        min-width: 60px;
    }

    /* Personal Dashboard - Дата */
    .action-controller-personal-static-dashboard .contrast-table tr td:nth-child(5) {
        width: 150px;
        max-width: 150px;
        min-width: 150px;
    }

    #send-invite-message-form input[type="text"] {
        width: 614px;
    }

    .controller-static-dashboard #invite-form label {
        width: 50px;
    }

    #Invite_email {
        width: 195px;
    }

    #Invite_firstname {
        width: 80px;
    }

    #Invite_lastname {
        width: 98px;
    }

    #invite-form .sbHolder,
    #invite-form select {
        width: 177px;
    }

    .row {
        padding: 12px 0 0;
    }

    .ui-dialog form .sbHolder,
    .ui-dialog form .sbOptions {
        width: 314px;
    }

    .ui-dialog form input[type="text"] {
        width: 308px;
    }

    #send-invite-message-form input[type="text"] {
        width: 495px;
    }

    #invite-form .button-white {
        margin-left: 60px;
    }

    .controller-static-dashboard .inner-popover {
        left: 755px;
    }

    .hint-assessment-results-type-switcher {
        margin-left: 0px;
    }

    .action-controller-personal-static-dashboard .hint-assessment-results-type-switcher {
        margin-left: -596px;
    }

    .assessment-results-type-switcher {
        margin-top: -2px;
        padding-bottom: 1px;
    }

    #invite-form .error-place {
        padding-left: 59px;
    }

    .unstandard-firstname-error {
        width: 94px;
    }

    .invite-people-box {
        height: 225px;
    }

    .ui-dialog form#add-vacancy-form .error-place {
        padding-left: 204px;
    }

    .controller-static-dashboard .skills-box .skills-title {
        width: 70px;
        line-height: 1.2em;
    }

    .controller-static-dashboard .skills-box-percentile .skills-title {
        width: 90px;
    }

    .controller-static-dashboard .skills-box .icon-circle-with-blue-arrow {
        padding-left: 15px;
    }

    .controller-static-dashboard .skills-box .icon-21x21-empty {
        vertical-align: top;
    }

    .action-controller-personal-static-dashboard h3 {
        margin-left: 81px;
    }

    #Invite_message {
        width: 475px;
        min-width: 475px;
        max-width: 475px;
    }
}