@media screen and (max-width: 1279px) {
    .column-full {
        min-width: 948px;
        width: 948px;
    }

    .column-1-3-condensed {
        width: 275px;
    }

    .column-2-3-wide {
        width: 600px;
    }

    input.inputs-wide-height {
        height: 34px;
    }

    .label,
    .static-page-links .label a {
        padding-left: 6px;
        padding-right: 6px;
    }

    .menu-item.label {
        margin-left: 2px;
        margin-right: 8px;
    }

    .button-white {
        line-height: 2.5em;
        margin-left: 0px;
    }

    .contrast-table .button-white {
        font-size: 1.15em;
    }

    /* --- contrast-table --- */

    .contrast-table table.items th,
    .contrast-table table.items th a {
        line-height: 1.1em;
    }

    /* --- */

    .page-title-box {
        margin: 0 0 32px;
    }

    .row-32 {
        height: 27px;
    }

    .row-26 {
        height: 23px;
    }

    .row-13 {
        height: 11px;
    }
}