
body.action-controller-team-static-pages {
    /*background-image: none;*/
    background-image: url("../../img/site/team/bg-team.png");
    background-color: #e8f7f7;
    background-size: cover;
}

body.action-controller-team-static-pages header {
    background-image: url("../../img/site/team/bg-top-team.jpg");
    background-size: cover;
    height: 800px;
}

@media screen and (max-width: 1279px) {
    body.action-controller-team-static-pages header {
        background-image: url("../../img/site/team/bg-top-team-min.jpg");
    }
}

section.main-content {
    margin-top: -650px;
}

.condensed-column {
    width: 720px;
    margin: 0 auto;
}

@media screen and (max-width: 1279px) {
    .condensed-column {
        width: 590px;
    }
}

/* --- */

.text-for-article {
    font-size: 1.08em;
}

/* --- */

.text-for-article-small {
    color: #000;
    font-size: 0.90em;
}

/* --- */

.page-team-tab h4 {

}

.tab-marina {
    background-image: url("../../img/site/team/bg-team-maria.png");
}

@media screen and (max-width: 1279px) {
    .tab-marina {
        background-image: url("../../img/site/team/bg-team-maria-min.png");
    }
}

.tab-leah {
    background-image: url("../../img/site/team/bg-team-alyona.png");
}

@media screen and (max-width: 1279px) {
    .tab-leah {
        background-image: url("../../img/site/team/bg-team-alyona-min.png");
    }
}

.tab-tony {
    background-image: url("../../img/site/team/bg-team-tony.png");
}

@media screen and (max-width: 1279px) {
    .tab-tony {
        background-image: url("../../img/site/team/bg-team-tony-min.png");
    }
}

.tab-others {
    background-image: url("../../img/site/team/bg-team-others.png");
}

@media screen and (max-width: 1279px) {
    .tab-others {
        background-image: url("../../img/site/team/bg-team-others-min.png");
    }
}

.page-team-tab {
    height: 153px;
    margin: 0 5px 4px;
    padding: 36px 0 0 30px;
    text-align: left;
    vertical-align: top;
    width: 448px;
}

@media screen and (max-width: 1279px) {
    .page-team-tab {
        height: 114px;
        margin: 0 5px 4px;
        padding: 36px 0 0 30px;
        width: 353px;
    }
}

.team-values {
    padding-top: 160px;
    width: 400px;
}

.action-controller-team-static-pages h1 {
    font: 2.7em "ProximaNova-Bold";
}

.action-controller-team-static-pages h2 {
    color: #146672;
    font: 1.4em "ProximaNova-Bold";
}

.action-controller-team-static-pages h2.big {
    color: #146672;
    font: 2.6em "ProximaNova-Bold";
}

.team-values ul li:first-child {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    padding-top: 0;
}

.team .team-values ul li {
    background: url("../../img/site/team/bg-team-values-item.png") no-repeat scroll center 0 rgba(0, 0, 0, 0);
    color: #29313D;
    font-size: 1.071em;
    line-height: 1.333em;
    margin-top: 15px;
    padding-top: 84px;
}


