
/* CSS styles just to reset any non standard browser defaults */

@font-face {font-family: 'ProximaNova-Regular';src: url('../../fonts/24F05C_4_0.eot');src: url('../../fonts/24F05C_4_0.eot?#iefix') format('embedded-opentype'),url('../../fonts/24F05C_4_0.woff') format('woff'),url('../../fonts/24F05C_4_0.ttf') format('truetype');}
@font-face {font-family: 'ProximaNova-Bold';src: url('../../fonts/24F05C_5_0.eot');src: url('../../fonts/24F05C_5_0.eot?#iefix') format('embedded-opentype'),url('../../fonts/24F05C_5_0.woff') format('woff'),url('../../fonts/24F05C_5_0.ttf') format('truetype');}
@font-face {font-family: 'SegoePrint';src: url('../../fonts/25D0FC_0_0.eot');src: url('../../fonts/25D0FC_0_0.eot?#iefix') format('embedded-opentype'),url('../../fonts/25D0FC_0_0.woff') format('woff'),url('../../fonts/25D0FC_0_0.ttf') format('truetype');}

html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
    font-family: "ProximaNova-Regular", sans-serif;
    font-size: 14px; /* 1em  for 1280+ */
    line-height: 1.428571429;
}

@media screen and (max-width: 1279px) {
    body {
        font-size: 10px; /* 1em for 1280- */
    }
}

body,h1, h2, h3, h4, h5, h6, b, strong, small, img, table, a, p, div, span, ul, li,
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
    margin: 0;
    padding: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
    display: block;
}

ul, li, ol, a, span {
    display: inline-block;
}

b, strong {
    font-family: "ProximaNova-Bold", sans-serif;
    font-weight: bold;
}

small {
    font-size: 80%;
}

img {
    border: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    background: transparent;
    color: #428290;
    text-decoration: none;
}