
/* any CSS styles for all screen resolutions */
/* Currently 1280+ (Х) and 1280- (Х * 0,82) */

a {
    color: #ffffff;
}

/* --- */

/* ссылки меню в хедере и футере */
nav ul li.menu-item span,
nav ul li.menu-item a {
    border-radius: 3px;
    display: inline-block;
    margin: 0 0 0 10px;
    padding: 5px 10px;
}

@media screen and (max-width: 1279px) {
    nav ul li.menu-item span,
    nav ul li.menu-item a {
        border-radius: 2px;
        margin: 0 0 0 7px;
        padding: 4px 7px;
    }
}

/* --- */

header nav ul li.menu-item .profile-icon {
    padding-left: 41px;
}

@media screen and (max-width: 1279px) {
    header nav ul li.menu-item .profile-icon {
        padding-left: 34px;
    }
}

/* --- */

header nav ul li.menu-item .icon-profile-corporate {
    background-position: 10px 3px;
}

@media screen and (max-width: 1279px) {
    header nav ul li.menu-item .icon-profile-personal,
    header nav ul li.menu-item .icon-profile-corporate {
        background-position: 8px 3px;
        background-size: 13px auto;
    }
}

/* --- */

.copyright-box {
    color: #ffffff;
    font-size: 0.9em;
    height: 27px;
}

@media screen and (max-width: 1279px) {
    .copyright-box {
        height: 23px;
    }
}

/* --- */

.copyright-box span {
    height: 27px;
    line-height: 27px;
}

@media screen and (max-width: 1279px) {
    .copyright-box span {
        height: 23px;
        line-height: 23px;
    }
}

.copyright {
    margin-left: 240px; /* $('.help-email-link').width() */
}

@media screen and (max-width: 1279px) {
    .copyright {
        margin-left: 197px;
    }
}

/* --- */

.icon-blue-arrow {
    background-image: url("../../img/site/buttons/icon-blue-arrow-small.png");
    background-repeat: no-repeat;
}

.icon-arrow-padding-condensed {
    background-position: 7px center;
    padding-left: 31px !important;
}

.icon-arrow-padding-standard {
    background-position: 20px center;
    padding-left: 48px !important;
}

.icon-blue-arrow:hover {
    background-image: url("../../img/site/buttons/icon-gray-arrow-small.png");
}

@media screen and (max-width: 1279px) {
    .icon-blue-arrow {
        background-image: url("../../img/site/buttons/icon-blue-arrow-verysmall.png");
        background-position: 6px center;
        padding-left: 25px;
    }

    .icon-blue-arrow:hover {
        background-image: url("../../img/site/buttons/icon-gray-arrow-verysmall.png");
    }
}

/* --- */

header nav.account-links {
    font-size: 0.85em;
    height: 50px;
}

@media screen and (max-width: 1279px) {
    header nav.account-links {
        height: 41px;
    }
}

/* --- */


header nav.account-links ul {
    margin-top: 10px;
}

@media screen and (max-width: 1279px) {
    header nav.account-links ul {
        margin-top: 8px;
    }
}

/* --- */

header nav.static-page-links {
    height: 80px;
}

@media screen and (max-width: 1279px) {
    header nav.static-page-links {
        height: 66px;
    }
}

/* --- */

header nav.static-page-links ul {
    margin-top: 24px;
}

@media screen and (max-width: 1279px) {
    header nav.static-page-links ul {
        margin-top: 20px;
    }
}

/* --- */

footer nav.static-page-links {
    height: 116px;
}

@media screen and (max-width: 1279px) {
    footer nav.static-page-links {
        height: 95px;
    }
}

/* --- */

.footer-clear-fix {
    height: 153px;
}

@media screen and (max-width: 1279px) {
    .footer-clear-fix {
        height: 126px;
    }
}

/* --- */

.logo-footer-link {
    height: 46px;
    width:  175px;
}

@media screen and (max-width: 1279px) {
    .logo-footer-link {
        height: 38px;
        width:  144px;
    }
}

/* --- */

.link-to-top {
    padding-top: 20px;
}

@media screen and (max-width: 1279px) {
    .link-to-top {
        padding-top: 16px;
    }
}

/* --- */

footer .footer-logo {
    margin-top: 34px;
}

@media screen and (max-width: 1279px) {
    footer .footer-logo {
        margin-top: 28px;
    }
}

/* --- */

footer .static-page-links ul {
    margin-top: 44px;
}

@media screen and (max-width: 1279px) {
    footer .static-page-links ul {
        margin-top: 36px;
    }
}

/* --- */

.button-standard {
    border: none;
    border-radius: 4px;
    font-size: 1.3em;
    font-weight: bold;
    padding: 13px 20px 13px 66px;
}